@CHARSET "UTF-8";
@page {
	margin:auto;
	margin: 2pt;
}
@media print {
	body {
		color: #000;
		background: #fff;
	}

	.my_show{
		height:17.30cm;
		width:12.36cm;
		font-size:5pt;
		border:1pt solid #000;
	}
	.my_show .top{height: 36%}
	
	.my_show .top .part_1{
		width: 100%;
	}
	.my_show .top .part_2{
		margin-top:10pt;
		border-top: 1pt solid #000;
		height:65pt;
		width: 100%;
	}
	.my_show .top .part_3{
		border-top:1pt solid #000;
		height: 50pt;
		width: 100%;
	}
	.my_show .logo_title{
		width:30%
	}
	.logo_title h1{
		display:block;
	 	margin-left:20px;
		font-size:40pt;	
		font-weight:bolder;
		font-family: "SimHei";
	}
	
	.my_show  .middle{
	    border-top:2pt dashed #000;
	    height: 34%;
	}
	.my_show  .middle  .part_1{
		height:40pt;
		margin: auto;
		width: 64%;
	}
	.my_show  .middle .part_2{
		border-top:1pt solid #000;
		height: 20pt;
		width:100%;
		line-height: 20pt;
	}
	.my_show  .middle .part_3{
		border-top:1pt solid #000;
		height:50pt;
	}
	.my_show .buttom{
		border-top:2pt dashed #000;
		height: 30%;
	}
	.my_show .buttom .part_1{
		margin-top: 5pt;
	}

	.title_black{
		font-size:13pt;
		font-weight: bold;
		color: #000;
		font-style: 宋体;
	}
 
	#128Code1{
		float:left;margin-left:20px;margin-top:20px;
	}
	
	#128Code2{
		float:left;margin-left:1pt;margin-top:14pt;
	}
	.print_footer{
		clear: both;
		margin-top: 10pt;
	}
	.code2{
		float: left;
		margin-left: 10pt;
	}
	.qr_code{
		float: left;
		margin-left: 30pt;
	}
	.text{
		margin-left:1pt;
		font-size:11pt;
		width:50pt;
	}
	 
	.text_addr{
		margin-left:1pt;
		width: 200pt;
		height:25pt;
	}
}