@CHARSET "UTF-8";
	body{
		font-size: 12px;
	}
	.print_context{height:750px;margin-top:10px}
 	.my_show{border: 1px solid #000;height:700px;width:500px}
 	.my_show .top{margin-top: 10px;}
	.tel_context{height: 30px;}
	 .logo_title h1{
	 	display:block;
	 	margin-left:20px;
		margin:auto;
		font-size:58px;	
		font-weight:bold;
	}
   .my_show .top .part_1{
		height: 80px;
		width: 100%;
	}
	.my_show .top .part_2{
		border-top: 1px solid #000;
		height: 80px;
		width: 100%
	}

.my_show .top .part_3{
		border-top:1pt solid #000;
		height: 100px;
		width: 100%
	}
 .my_show  .middle{
	    border-top:1px dashed #000;
	}
.my_show  .middle  .part_1{
	height: 100px;
	margin: auto;
    width: 64%;
}
.my_show  .middle .part_2{
	border-top:1pt solid #000;
	height: 25px;
	line-height: 25px;
	width:100%;
}
.my_show  .middle .part_3{
	border-top:1px solid #000;
	height: 100px;
	width:100%;
}
.my_show .buttom{
	border-top:1px dashed #000;
}
.my_show .buttom .part_1{
	margin-top: 10px;
	width:100%;
}
.my_show .buttom .part_2{
	width:100%;	
}
 
.title_black {
		font-size:13px;
		color: #000000;
		font-style: 宋体;
		font-weight:bold;
}
.text{
	font-size:13px;
}
.text_addr{width: 335px;}
#128Code1{float:left;margin-left:20px;margin-top:20px;}

#128Code2{
	float:left;margin-left:20px;margin-top:14px;
}
.qr_code{
	float: left;
	margin-left: 40px;
}
.code2{float: left}
.addr_context{height: 30px;	clear: both;margin-top: 10px;}
.print_footer{height:100px;clear: both;}
.country{float:left;margin-left:120px;margin-top:10px;clear: both;}