﻿.span9{width:74.999%; float:left; overflow:hidden;}
#content{
	position:relative; margin:0 auto; width:1039px; padding:20px 0; border-right:2px solid #dcdcdc; overflow:hidden;
	}
	#content .right{
	    float:left; width:819px; padding-left:19px; overflow:hidden;
		}
		#content .right .opt{
		    width:100%; overflow:hidden;
			}
			#content .right .input1{
			    display:inline-block; width:80px; height:32px; line-height:32px; text-align:center; text-decoration:none; color:#fff; background:url('../img/input03.png') no-repeat center top; overflow:hidden;
				}
			#content .right .opt .search{
				width:249px; height:30px; padding:1px 10px; background:url('../img/search.jpg') no-repeat center top; margin-right:7px; overflow:hidden;
				}
				#content .right .opt .search input.text{
					float:left; width:218px; height:30px; line-height:30px; border:none; background:none; overflow:hidden;
					}
				#content .right .opt .search input.button{
					float:right; width:22px; height:30px; border:none; background:url('../img/search_button.jpg') no-repeat center center #fff; overflow:hidden;
					}
			#content .right .opt .function{
				width:352px; overflow:hidden;
				}
				#content .right .opt .function li{
				    height:32px; line-height:32px; background:url('../img/function01.jpg') repeat-x center top;
					}
					#content .right .opt .function li a{
					     float:left; display:block; width:100%; height:32px; text-align:center; background:url('../img/function02.jpg') no-repeat right center; text-decoration:none; overflow:hidden;
						 }
					     #content .right .opt .function li a i{
						      float:left; width:3px; height:32px; background-position:center; background-repeat:no-repeat; overflow:hidden;
							  }
							  #content .right .opt .function li a i.first{
							      background-image:url('../img/function05.jpg');
								  }
							  #content .right .opt .function li a i.ultimate{
							     float:right; background-image:url('../img/function06.jpg');
								  }
					      /*#content .right .opt .function li.span3 a:hover,*/#content .right .opt .function li.current a{
						       background-image:none; background-color:#0097db; color:#fff;
							   }
							   /*#content .right .opt .function li a:hover i.first,*/#content .right .opt .function li.current a i.first{
							       background-image:url('../img/function03.jpg');
								   }
							   /*#content .right .opt .function li.span3 a:hover i.ultimate,*/#content .right .opt .function li.current a i.ultimate{
							       background-image:url('../img/function04.jpg');
								   }
		#content .right .heading{
		    width:817px; margin:19px 0; border:1px solid #dcdcdc; background-color:#ebebeb; height:46px; line-height:46px; overflow:hidden;
			}
			#content .right .heading li{
			     background:url('../img/heading_li.png') no-repeat left center; float:left; width:86px; overflow:hidden;
				 }
				 #content .right .heading li.no{
				     background-image:none;
					 }
			#content .right .heading li.b{
			     width:200px;
				 }
			#content .right .heading li.f{
			     width:100px;
				 }
			#content .right .heading li.i{
			     width:290px; padding-left:10px;
				 }
				 #content .right .heading li.i input{
				     float:left; margin-top:18px;
					 }
			#content .right .heading li.j{
			     width:80px;
				 }
				 #content .right .heading li.j a{
				     padding-left:16px; background-repeat:no-repeat; background-position:left center;
					 }
			#content .right .heading li.k{
			     width:268px;
				 }
				 #content .right .heading li.k .input1{
				      margin-top:7px;
					  }
		#content .right .wait{
		    width:817px; margin-bottom:19px; border:1px solid #faedd6; overflow:hidden;
			}
			#content .right .wait .caption{
			    float:left; width:100%; padding:12px 0; background-color:#fff8d5; border-bottom:1px solid #faedd6; overflow:hidden;
				}
				#content .right .wait .caption a{
				    margin:0 12px;
					}
					#content .right .wait .caption a i{
						 display:block; width:16px; height:16px; background-position:center; background-repeat:no-repeat; overflow:hidden;
						 }
				#content .right .wait .caption .checkbox{
				    margin:0 8px;
					}
				#content .right .wait .caption span{
				    padding-left:8px;
					}
			#content .right .wait .list{
			    float:left; width:545px; border-right:1px solid #ecece8; overflow:hidden;
				}
				#content > .right > .wait > .list > li{
				    float:left; width:100%; padding:14px 0; border-top:1px solid #faedd6; overflow:hidden;
					}
					#content > .right > .wait > .list > li.no{
					    border-top:none;
						}
					#content > .right > .wait > .list > li.background{
					    background-color:#fffcee;
						}
					#content > .right > .wait > .list > li > ol{
					    float:left; width:100%; overflow:hidden;
						}
						#content > .right > .wait > .list > li > ol > li{
						    float:left; width:84px; height:44px; line-height:44px; overflow:hidden;
							}
							#content > .right > .wait > .list > li > ol > li.b{
							    width:208px;
								}
						    #content > .right > .wait > .list > li > ol > li > .checkbox{
							     float:left; margin:13px 8px 0 8px;
								 }
						    #content > .right > .wait > .list > li > ol > li > a > img{
							     border:1px solid #ddd; padding:1px;
								 }
			#content .right .wait .total{
			    float:left; width:271px; border-bottom:1px solid #FAEDD6; overflow:hidden;
				}
				#content .right .wait .total dl{
				     float:left; width:85px; height:218px; text-align:center; border-left:1px solid #ececec; overflow:hidden;
					 }
					 #content .right .wait .total dl.no{
					     border-left:none;
						 }
					 #content .right .wait .total dl.f{
					     width:96px;
						 }
                     #content .right .wait .total dl dt{
					      width:100%; height:36px; line-height:36px; background-color:#fffcee; border-bottom:1px solid #faedd6; overflow:hidden;
						  }
						  #content .right .wait .total dl dt.no{
						       background:none;
							   }
						  #content .right .wait .total dl dt.none{
						       background:none; border-bottom:none;
							   }
                     #content .right .wait .total dl dd,#content .right .wait .total dl dd ul,#content .right .wait .total dl dd ul li{
					      width:100%; overflow:hidden;
						  }
						  #content .right .wait .total dl dd ul.pd{
						      padding-top:36px;
							  }
							  #content .right .wait .total dl dd ul li a{
							      padding-left:18px; background-repeat:no-repeat; background-position:left center;
								  }
			#content .right .wait .Collapse{
			    float:left; width:545px; height:36px; line-height:36px; text-align:center; background-color:#ebebeb; border-top:1px solid #ecece8; border-right:1px solid #ecece8; overflow:hidden;
				}
				#content .right .wait .Collapse a{
				    padding-left:15px; background-repeat:no-repeat; background-position:left center;
					}
			#content .right .wait .Process{
			    float:left; width:100%; padding:8px 0 11px; background-color:#fff8d5; border-top:1px solid #faedd6; overflow:hidden;
				}
				#content .right .wait .Process li{
				    float:left; width:147px; height:57px; text-align:center; overflow:hidden;
					}
					#content .right .wait .Process li span.wz{
					     float:left; width:100%; height:28px; line-height:28px; overflow:hidden;
						 }
					#content .right .wait .Process li span.tp{
					     float:left; width:100%; height:29px; background:url('../img/Next_gray.png') no-repeat -2px center; overflow:hidden;
						 }
						 #content .right .wait .Process li span.tp i{
						     display:inline-block; width:18px; height:29px; background-repeat:no-repeat; background-position:center; overflow:hidden;
							 }
					#content .right .wait .Process li.Next01,#content .right .wait .Process li.Next07{
					     width:41px;
						 }
						#content .right .wait .Process li.Next01 span.tp{
							 background:url('../img/Next01.png') no-repeat left 11px;
							 }
						#content .right .wait .Process li.Next07 span.tp{
							 background:url('../img/Next07.png') no-repeat right 11px;
							 }
					#content .right .wait .Process li.green span.tp{
					    background-image:url('../img/Next_green.png');
						}
					#content .right .wait .Process li.blue span.tp{
					    background-image:url('../img/Next_blue.png');
						}
					#content .right .wait .Process li.green span.hover01{
					    background-image:url('../img/Next01_green.png');
						}
					#content .right .wait .Process li.green span.hover07{
					    background-image:url('../img/Next07_green.png');
						}
		#content .right .cancel{
		    border:1px solid #edd3d7;
			}
			#content .right .cancel .caption{
			    background-color:#f2dfdf; border-bottom:1px solid #edd3d7;
				}
				#content > .right > .cancel > .list > li{
				    border-top:1px solid #f7e7ea;
					}
					#content > .right > .cancel > .list > li.background{
					    background-color:#fff4f4;
						}
					#content > .right > .cancel > .list > li > ol > li > input.text01,
					#content > .right > .cancel > .list > li > ol > li > select.text02,
					#content > .right > .cancel > .list > li > ol > li > input.text03,
					#content > .right > .cancel > .list > li > ol > li > input.text04{
					     width:54px; padding:3px; height:21px; line-height:23px; border:1px solid #cecece; background-color:#fff; overflow:hidden; text-align:center;
						 }
					 #content > .right > .cancel > .list > li > ol > li > input.text01{
						 width:190px;
						 }
					 #content > .right > .cancel > .list > li > ol > li > input.text04{
						 width:20px; float:left; margin-top:8px; margin-left:18px;
						 }
					 #content > .right > .cancel > .list > li > ol > li > select.text02{
						 width:80px; height:29px; text-align:left; padding:4px 1px;
						 }
						#content > .right > .cancel > .list > li > ol > li > input.text01:hover,
						#content > .right > .cancel > .list > li > ol > li > select.text02:hover,
						#content > .right > .cancel > .list > li > ol > li > input.text03:hover,
						#content > .right > .cancel > .list > li > ol > li > input.text04:hover{
							border:1px solid #73b9eb;
							}
						#content > .right > .cancel > .list > li > ol > li > .PM{
						    float:left; width:18px; height:29px; padding-left:2px; padding-top:8px; overflow:hidden;
							}
							#content > .right > .cancel > .list > li > ol > li > .PM > a{
							     float:left; width:100%; height:14px; margin-bottom:1px; overflow:hidden; background-repeat:no-repeat; background-position:center;
								 }
			#content .right .cancel .total{
			    border-bottom:1px solid #f7e7ea;
				}
                     #content .right .cancel .total dl dt{
					      background-color:#fff4f4; border-bottom:1px solid #f7e7ea;
						  }
			#content .right .cancel .Collapse{
			    height:32px; line-height:32px; padding:20px 0; background-color:#f2dfdf; border-top:none; border-right:1px solid #ecece8;
				}
				#content .right .cancel .Collapse .input1{
			         width:70px; padding:0; background:url('../img/input06.png') no-repeat center top; margin:0 11px;
				     }
		#content .right .sign{
		    border:1px solid #d7e9c8;
			}
			#content .right .sign .caption{
			    background-color:#dfefd9; border-bottom:1px solid #d7e9c8;
				}
				#content > .right > .sign > .list > li{
				    border-top:1px solid #e7eee4;
					}
					#content > .right > .sign > .list > li.background{
					    background-color:#f3ffef;
						}
			#content .right .sign .total{
			    border-bottom:1px solid #e7eee4;
				}
                     #content .right .sign .total dl dt{
					      background-color:#f3ffef; border-bottom:1px solid #e7eee4;
						  }
			#content .right .sign .Process{
			    background-color:#dfefd9; border-top:1px solid #d7e7d0;
				}
		#content .right .paging{
		    width:100%; color:#333; overflow:hidden;
			}
			/*#content .right .paging a{
			    line-height:22px; border:1px solid #e1e1e1; padding:3px 7px; color:#333; overflow:hidden; text-decoration:none; font-family:Arial;
				}
				#content .right .paging a:hover,#content .right .paging a.current{
				     border-color:#0096da; background-color:#0096da; color:#fff;
					 }*/
				#content .right .heading .input1{
			         width:70px; padding:0; background:url('../img/input06.png') no-repeat center top; float:right;
				     }
/*海外地址管理*/
			#content .right .address .opt .function{
				width:100%; margin-bottom:12px;
				}
				#content .right .address .opt .function li a{
				     text-align:left; text-indent:20px;
					 }
					 #content .right .address .opt .function li a i.icon18{
						   width:21px; margin-left:20px;
						  }
			#content .right .address .BOX{
			     width:797px; padding:0 10px; border:1px solid #f9dfb2; background-color:#fff8d9; overflow:hidden;
				 }
				 #content .right .address .BOX p{
				     width:95%; color:#ff8b00;
					 }
				 #content .right .address .BOX a{
				     width:9px; height:9px; margin-top:8px;
					 }
			#content .right .address .Detail{
			    width:100%; padding:12px 0; border-bottom:1px solid #ededed; overflow:hidden;
				}
				#content .right .address .Detail li{
				     width:100%; padding-bottom:10px; line-height:32px; overflow:hidden;
					 }
					 #content .right .address .Detail li .bt{
					       float:left; width:103px; height:32px; padding-right:10px; text-align:right; overflow:hidden;
						   }
					 #content .right .address .Detail li .nr{
					       float:left; width:264px; height:32px; overflow:hidden;
						   }
						   #content .right .address .Detail li .nr input{
						       float:left; width:159px; padding:0 5px; height:32px; line-height:32px; border:none; background:url('../img/input04.jpg') no-repeat; overflow:hidden; margin-right:8px;
							   }
						 #content .right .address .Detail li.long .nr{
							   width:654px; margin-bottom:10px;
							   }
							   #content .right .address .Detail li.long .nr input{
							       width:536px; background:url('../img/input05.jpg') no-repeat;
								   }
					#content .right .address .Detail .BOX{
						 width:684px; float:right; margin-top:10px; line-height:22px;
						 }
			#content .right .address .photo{
			    width:100%; padding:21px 0 11px; overflow:hidden;
				}
				#content .right .address .photo li{
				     float:left; width:160px; height:119px; padding:0 2px 10px; overflow:hidden;
					 }
					 #content .right .address .photo li.no{
					     padding-left:0px;
						 }
			#content .right .address .map{
			    width:799px; height:472px; padding:10px; text-align:center; overflow:hidden; background:url('../img/map.jpg') no-repeat center center;
				}
							#content .right .address .map2
							{
							    width:799px; height:585px; padding:10px; text-align:center; overflow:hidden; background:url('../img/map02.jpg') no-repeat center center;
				}
								.mapBt{
				    width:98%; margin:0 auto; height:36px; line-height:28px; text-align:left; overflow:hidden; font-size:24px; color:#0096d8;
					}
				/*账户记录*/
			#content .right .record .opt .function{
				width:300px;
				}
        #content .right .record .list01{
		    width:817px; border:1px solid #dcdcdc; margin:18px 0; overflow:hidden;
			}
			#content .right .record .list01 li{
			    float:left; width:100%; border-top:1px solid #e6e6e6; background-color:#f7f7f7; overflow:hidden;
				}
				#content .right .record .list01 li ol{
					float:left; width:100%; overflow:hidden;
					}
					#content .right .record .list01 li ol li{
						float:left; width:132px; padding-left:20px; height:48px; line-height:48px; border:none; background:none; overflow:hidden;
						}
						#content .right .record .list01 li ol li p{
							    line-height:22px;
								}
						#content .right .record .list01 li ol li.m{
						    width:180px;
							}
						#content .right .record .list01 li ol li.n{
						    width:120px;
							}
						#content .right .record .list01 li ol li.o{
						    width:300px;
							}
						#content .right .record .list01 li ol li.p{
						    width:44px;
							}
						#content .right .record .list01 li ol li.q{
						    width:110px;
							}
						#content .right .record .list01 li ol li.r{
						    width:68px; padding-left:0px; text-align:center;
							}
							#content .right .record .list01 li ol li.r a{
							    padding:0 2px;
								}
						#content .right .record .list01 li ol li.s{
						    width:144px;
							}
				#content .right .record .list01 li.th{
				    background-color:#f3f3f3; border:none;
					}
					#content .right .record .list01 li.th ol li{
					    background:url('../img/heading_li.png') no-repeat left center;
						}
						#content .right .record .list01 li.th ol li.no{
						    background-image:none;
							}
				#content .right .record .list01 li.white{
				    background-color:#fff;
					}
/*目的地址管理*/
        #content .right .record .destination{
		    width:100%; overflow:hidden;
			}
			#content .right .record .destination li{
			    width:100%; line-height:32px; padding-top:10px; overflow:hidden;
				}
				#content .right .record .destination li span{
				    float:left; width:100px; height:32px; text-align:right; overflow:hidden;
					}
					#content .right .record .destination li span i{
					    font-style:normal; float:right; width:12px; text-align:center; height:32px; overflow:hidden;
						}
			    #content .right .record .destination li input{
				      margin-right:8px;
					 }
				#content .right .record .destination li select,
				#content .right .record .destination li input.text05,
				#content .right .record .destination li input.text06,
				#content .right .record .destination li input.text07,
				#content .right .record .destination li textarea{
				    float:left; width:169px; height:32px; line-height:32px; padding:6px 3px; border:none; background:url('../img/input07.jpg') no-repeat; overflow:hidden; margin-right:10px;
					}
				#content .right .record .destination li input.text05{
				     padding:0 5px; width:159px;
					 }
				#content .right .record .destination li input.text06{
				     padding:0 5px; width:32px; background:url('../img/input09.jpg') no-repeat;
					 }
				#content .right .record .destination li input.text07{
				     padding:0 5px; width:107px; background:url('../img/input10.jpg') no-repeat;
					 }
				#content .right .record .destination li textarea{
				    width:516px; height:92px; padding:5px; line-height:22px; background:url('../img/input08.jpg') no-repeat;
					}
			    #content .right .record .destination li.Special{
				    line-height:50px;
					}
					#content .right .record .destination li.Special img{
						 float:left; margin-right:10px;
						 }
					#content .right .record .destination li.Special .input1{
					      margin-top:20px; width:70px; background:url('../img/input06.png') no-repeat;
						  }

/*账户记录*/
			#content .right .record .opt .function{
				width:300px;
				}
        #content .right .record .list01{
		    width:817px; border:1px solid #dcdcdc; margin:18px 0; overflow:hidden;
			}
			#content .right .record .list01 li{
			    float:left; width:100%; border-top:1px solid #e6e6e6; background-color:#f7f7f7; overflow:hidden;
				}
				#content .right .record .list01 li ol{
					float:left; width:100%; overflow:hidden;
					}
					#content .right .record .list01 li ol li{
						float:left; width:132px; padding-left:20px; height:48px; line-height:48px; border:none; background:none; overflow:hidden;
						}
						#content .right .record .list01 li ol li p{
							    line-height:22px;
								}
						#content .right .record .list01 li ol li.m{
						    width:180px;
							}
						#content .right .record .list01 li ol li.n{
						    width:120px;
							}
						#content .right .record .list01 li ol li.o{
						    width:300px;
							}
						#content .right .record .list01 li ol li.p{
						    width:44px;
							}
						#content .right .record .list01 li ol li.q{
						    width:110px;
							}
						#content .right .record .list01 li ol li.r{
						    width:68px; padding-left:0px; text-align:center;
							}
							#content .right .record .list01 li ol li.r a{
							    padding:0 2px;
								}
						#content .right .record .list01 li ol li.s{
						    width:144px;
							}
				#content .right .record .list01 li.th{
				    background-color:#f3f3f3; border:none;
					}
					#content .right .record .list01 li.th ol li{
					    background:url('../img/heading_li.png') no-repeat left center;
						}
						#content .right .record .list01 li.th ol li.no{
						    background-image:none;
							}
				#content .right .record .list01 li.white{
				    background-color:#fff;
					}
/*目的地址管理*/
        #content .right .record .destination{
		    width:100%$; overflow:hidden;
			}
			#content .right .record .destination li{
			    width:100%; line-height:32px; padding-top:10px; overflow:hidden;
				}
				#content .right .record .destination li span{
				    float:left; width:100px; height:32px; text-align:right; overflow:hidden;
					}
					#content .right .record .destination li span i{
					    font-style:normal; float:right; width:12px; text-align:center; height:32px; overflow:hidden;
						}
			    #content .right .record .destination li input{
				      margin-right:8px;
					 }
				#content .right .record .destination li select,
				#content .right .record .destination li input.text05,
				#content .right .record .destination li input.text06,
				#content .right .record .destination li input.text07,
				#content .right .record .destination li textarea{
				    float:left; width:169px; height:32px; line-height:32px; padding:6px 3px; border:none; background:url('../img/input07.jpg') no-repeat; overflow:hidden; margin-right:10px;
					}
				#content .right .record .destination li input.text05{
				     padding:0 5px; width:159px;
					 }
				#content .right .record .destination li input.text06{
				     padding:0 5px; width:32px; background:url('../img/input09.jpg') no-repeat;
					 }
				#content .right .record .destination li input.text07{
				     padding:0 5px; width:107px; background:url('../img/input10.jpg') no-repeat;
					 }
				#content .right .record .destination li textarea{
				    width:516px; height:92px; padding:5px; line-height:22px; background:url('../img/input08.jpg') no-repeat;
					}
			    #content .right .record .destination li.Special{
				    line-height:50px;
					}
					#content .right .record .destination li.Special img{
						 float:left; margin-right:10px;
						 }
					#content .right .record .destination li.Special .input1{
					      margin-top:20px; width:70px; background:url('../img/input06.png') no-repeat;
						  }
/*账户设置*/
.list07{
    width:96%; margin:0 auto; overflow:hidden;
	}
	.list07 > li{
	    width:100%; padding:14px 0; border-top:1px solid #ededed; overflow:hidden;
		}
		.list07 li.border-top-none{
			border-top:none;
			}
.install{
    width:96%; margin:15px auto; overflow:hidden;
	}
    .install ul{
	    float:left; width:24%; margin:18px 1px; text-align:center; overflow:hidden;
		}
	   .install ul li{
			font-size:14px; background-color:#f5f5f5; width:100%; height:40px; line-height:40px; overflow:hidden;
			}
	   .install ul li.th{
		   font-size:24px; height:60px; line-height:60px;
		   }
		   .install ul li.background-none{
		       background:none;
			   }
		   .install ul li.Num01,.install ul li.Num02,.install ul li.Num03,.install ul li.Num04{
		       height:80px; padding:14px 0 24px; background:url('../img/Grade01.png') no-repeat center top #f5f5f5; color:#fff; line-height:30px;
			   }
			   .install ul li.Num02{
				   background-image:url('../img/Grade02.png');
				   }
			   .install ul li.Num03{
				   background-image:url('../img/Grade03.png');
				   }
			   .install ul li.Num04{
				   background-image:url('../img/Grade04.png');
				   }
		   .install ul li p{
			   margin:0; line-height:22px; text-indent:0px;
			   }	 
		   .install ul li .button_bule{
		       padding:0px 14px; height:38px; line-height:38px; font-family:"Arial"; font-size:14px; margin:0 0 10px;
			   }
		   .install ul li .box_red{
		       display:inline-block; width:10px; height:3px; background-color:#ff4736; overflow:hidden;
			   }
		.install ul.current{
		    margin:0 1px; padding:18px 0; background-color:#e0f1ff;
			}
			.install ul.current li{
			    background-color:#e0f1ff;
				}
.list08{
    width:90%; margin:20px auto; overflow:hidden; border-collapse:collapse; vertical-align:middle; text-align:center; overflow:hidden;
	   }
	   .list08 td,.list08 th{
	      height:40px; line-height:40px; background-color:#fafafa;
		  }
       .list08 th{
	       font-size:14px; background-color:#e0f1ff;
		   }
		   .list08 .background-color-gray td{
		       background-color:#f0f0f0;
			   }
			.list08 tr td span{
			     background-image:none;
				}
		   .list08 tr.current{
		       color:#fd5a57;
			   }
			   /*.list08 tr.current span,.list08 tr:hover span{
			       display:inline-block; padding:0 18px; background:url('../img/icon79.png') no-repeat right center; overflow:hidden;
				   }*/




