﻿body{
    margin:0; padding:0; font-family:"微软雅黑"; font-size:12px; line-height:22px; color:#666;
	}  
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,input,select,textarea,p{
	margin:0; padding:0; list-style-type:none; font-family:"微软雅黑"; color:#666; font-size:12px; font-weight:normal;
	}
img{ border:0;}
.clear{clear:both;}
a{
  text-decoration:none;  color:#666;
  }
   a:hover{
	 text-decoration:underline;
	 }
li a:hover img,dt a:hover img,dd a:hover img{
	filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9; opacity:0.9;
    }
input:focus,textarea:focus{
	     outline:none;
		 }
.red,a.red{color:#b74b4b;}
.orange,a.orange{color:#ff8b00;}
.green,a.green{color:#86b955;}
.gray,a.gray{color:#8b8b8b;}
.yellow,a.yellow{color:#bf9758;}
.blue,a.blue{color:#0097db;}
.white,a.white{color:#fff;}
.size14{font-size:14px;}
.size16{font-size:16px;}
.size18{font-size:18px;}
.size20{font-size:20px;}
.size24{font-size:24px;}
.size28{font-size:28px;}
.size36{font-size:36px; line-height:36px;}
.line-height28{line-height:28px;}
.span12{width:100%; float:left; overflow:hidden;}
.span11{width:91.666%; float:left; overflow:hidden;}
.span10{width:83.333%; float:left; overflow:hidden;}
.span9{width:74.999%; float:left; overflow:hidden;}
.span8{width:66.666%; float:left; overflow:hidden;}
.span7{width:50%; float:left; overflow:hidden;}
.span6{width:50%; float:left; overflow:hidden;}
.span5{width:41.666%; float:left; overflow:hidden;}
.span4{width:33.333%; float:left; overflow:hidden;}
.span3{width:25%; float:left; overflow:hidden;}
.span2{width:16.666%; float:left; overflow:hidden;}
.span1{width:8.333%; float:left; overflow:hidden;}
.radius1{border-radius:1px;}
.radius2{border-radius:1px;}
.radius3{border-radius:2px;}
.radius4{border-radius:3px;}
.radius5{border-radius:5px;}
.radius6{border-radius:6px;}
.radius7{border-radius:7px;}
.radius8{border-radius:8px;}
.radius9{border-radius:9px;}
.radius19{border-radius:19px;}
.button{cursor:pointer;}
.icon01{background-image:url('/lmp/resource/img/icon01.jpg');}
.icon02{background-image:url('/lmp/resource/img/icon02.jpg');}
.icon03{background-image:url('/lmp/resource/img/icon03.png');}
.icon04{background-image:url('/lmp/resource/img/icon04.png');}
.icon05{background-image:url('/lmp/resource/img/icon05.png');}
.icon06{background-image:url('/lmp/resource/img/icon06.png');}
.icon07{background-image:url('/lmp/resource/img/icon07.png');}
.icon08{background-image:url('/lmp/resource/img/icon08.png');}
.icon09{background-image:url('/lmp/resource/img/icon09.png');}
.icon10{background-image:url('/lmp/resource/img/icon10.png');}
.icon11{background-image:url('/lmp/resource/img/icon11.png');}
.icon12{background-image:url('/lmp/resource/img/icon12.png');}
.icon13{background-image:url('/lmp/resource/img/icon13.png');}
.icon14{background-image:url('/lmp/resource/img/icon14.png');}
.icon15{background-image:url('/lmp/resource/img/icon15.png');}
.icon16{background-image:url('/lmp/resource/img/icon16.png');}
.icon17{background-image:url('/lmp/resource/img/icon17.png');}
.icon18{background-image:url('/lmp/resource/img/icon18.png');}
.icon19{background-image:url('/lmp/resource/img/icon19.jpg');color:#0097DB;}
.icon20{background-image:url('/lmp/resource/img/icon20.jpg');color:#0097DB;}
.icon21{background-image:url('/lmp/resource/img/icon21.jpg');color:#0097DB;}
.icon22{background-image:url('/lmp/resource/img/icon22.jpg');color:#0097DB;}
.icon23{background-image:url('/lmp/resource/img/icon67.jpg');color:#0097DB;}
.icon24{background-image:url('/lmp/resource/img/icon24.jpg');}
.icon24_bw{background-image:url('/lmp/resource/img/icon24_bw.jpg');}
.icon25{background-image:url('/lmp/resource/img/icon25.jpg');}
.icon26{background-image:url('/lmp/resource/img/icon26.png');}
.icon27{background-image:url('/lmp/resource/img/icon27.png');}
.icon28{background-image:url('/lmp/resource/img/icon28.png');}
.icon29{background-image:url('/lmp/resource/img/icon29.png');}
.icon30{background-image:url('/lmp/resource/img/icon30.png');}
.icon31{background-image:url('/lmp/resource/img/icon31.png');}
.icon32{background-image:url('/lmp/resource/img/icon32.png');}
.icon33{background-image:url('/lmp/resource/img/icon33.jpg');}
.icon34{background-image:url('/lmp/resource/img/icon34.jpg');}
.icon35{background-image:url('/lmp/resource/img/icon35.png');}
.icon36{background-image:url('/lmp/resource/img/icon36.png');}
.icon37{background-image:url('/lmp/resource/img/icon37.png');}
.icon41{background-image:url('/lmp/resource/img/icon41.png');}
.icon42{background-image:url('/lmp/resource/img/icon42.png');}
.icon43{background-image:url('/lmp/resource/img/icon43.png');}
.icon44{background-image:url('/lmp/resource/img/icon44.png');}
.icon45{background-image:url('/lmp/resource/img/icon45.png');}
.icon46{background-image:url('/lmp/resource/img/icon46.png');}
.icon47{background-image:url('/lmp/resource/img/icon47.png');}
.icon48{background-image:url('/lmp/resource/img/icon48.png');}
.icon49{background-image:url('/lmp/resource/img/icon49.png');}
.icon50{background-image:url('/lmp/resource/img/icon50.jpg');}
.icon51{background-image:url('/lmp/resource/img/icon51.jpg');}
.icon52{background-image:url('/lmp/resource/img/icon52.jpg');}
.icon53{background-image:url('/lmp/resource/img/icon53.jpg');}
.icon54{background-image:url('/lmp/resource/img/icon54.jpg');}
.icon55{background-image:url('/lmp/resource/img/icon55.png');}
.icon56{background-image:url('/lmp/resource/img/icon56.jpg');}
.icon57{background-image:url('/lmp/resource/img/icon57.png');}
.icon59{background-image:url('/lmp/resource/img/icon59.jpg');}
.icon60{background-image:url('/lmp/resource/img/icon60.jpg');}
.icon61{background-image:url('/lmp/resource/img/icon61.jpg');}
.icon62{background-image:url('/lmp/resource/img/icon62.jpg');}
.icon63{background-image:url('/lmp/resource/img/icon63.jpg');}
.icon64{background-image:url('/lmp/resource/img/icon64.jpg');}
.icon65{background-image:url('/lmp/resource/img/icon65.jpg');}
.icon66{background-image:url('/lmp/resource/img/icon66.png');}
.icon67{background-image:url('/lmp/resource/img/icon23.jpg');}
.icon68{background-image:url('/lmp/resource/img/icon68.png');}
.icon69{background-image:url('/lmp/resource/img/icon69.png');}
.icon70{background-image:url('/lmp/resource/img/icon70.png');}
.icon71{background-image:url('/lmp/resource/img/icon71.png');}
.icon72{background-image:url('/lmp/resource/img/icon72.png');}

.icon90{background-image:url('/lmp/resource/img/20discount.jpg');}
.icon91{background-image:url('/lmp/resource/img/30discount.jpg');}
.icon92{background-image:url('/lmp/resource/img/40discount.jpg');}

.icon97{background-image:url('/lmp/resource/img/icon97.png');}
.icon98{background-image:url('/lmp/resource/img/icon98.png');}
.icon99{background-image:url('/lmp/resource/img/icon99.png');}
.icon100{background-image:url('/lmp/resource/img/icon100.png');}
.icon101{background-image:url('/lmp/resource/img/icon101.jpg');}

.pull-left{float:left;}
.pull-right{float:right;}
.pull-none{float:none;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.hr{width:100%; background-color:#ebebeb; height:1px; overflow:hidden;}
.xhr{width:100%; border-top:1px dotted #ebebeb; height:1px; overflow:hidden;}
.mian{
     position:relative; margin:0 auto;overflow:hidden;width:946px;
	}
	.background_blue{background-color:#0097db;}
.Block{
	display:inline-block; height:32px; line-height:32px; border:none; text-decoration:none; background-position:center top; background-repeat:no-repeat; overflow:hidden;
	}
.Block2{
	display:inline-block; width:54px; padding:3px; height:21px; line-height:21px; border:1px solid #cecece; background-color:#fff; text-align:center; overflow:hidden;
	}
	.Block:hover,.Block2:hover{
		 text-decoration:none;
		 }
.input_none_01{
     width:468px; height:47px; line-height:47px; padding:0 10px; background:url('/lmp/resource/img/icon38.jpg') no-repeat 458px center #fff; 
	 }
.input_none_02{
     width:218px; height:30px; line-height:30px; background:none;
	 }
.input_none_03{
     width:22px; height:30px; background:url('/lmp/resource/img/search_button.jpg') no-repeat center center #fff;
	 }
.input_none_04{
     width:190px;
	 }
.input_none_05{
    width:72px; text-align:left; background:url('/lmp/resource/img/icon58.png') no-repeat 62px center;
	 }
.input_none_06{
     width:20px;
	 }
.input_none_07{
     width:80px; height:29px; text-align:left; padding:4px 1px;
	 }
.input_none_08{
	 width:568px; height:30px; line-height:30px; background:none;
	 }
.input_none_09{
     width:380px; text-align:left; margin-left:10px;
	 }
.input_none_10{
     width:360px; text-align:left; margin-left:10px;
	 }
.input01{}
.input02{}
.input03{
	 width:80px; text-align:center; background-image:url('/lmp/resource/img/input03.png');
	 }
.input04{
    width:159px; background-image:url('/lmp/resource/img/input04.jpg'); padding:0 5px;
	}
.input05{
    width:536px; background-image:url('/lmp/resource/img/input05.jpg'); padding:0 5px;
	}
.input06{
	 width:70px; background-image:url('/lmp/resource/img/input06.png'); text-align:center;
	 }
.input07{
     width:169px; background-image:url('/lmp/resource/img/input07.jpg');
	 }
.input08{
     width:516px; background-image:url('/lmp/resource/img/input08.jpg'); height:92px; padding:5px; line-height:22px;
	 }
.input09{
     width:32px; background-image:url('/lmp/resource/img/input09.jpg'); padding:0 5px;
	 }
.input10{
     width:107px; background-image:url('/lmp/resource/img/input10.jpg'); padding:0 5px;
	 }
.input11{
     width:175px; background-image:url('/lmp/resource/img/input11.png'); height:42px; line-height:42px; text-align:center;
	 }
.input12{
     width:60px; background-image:url('/lmp/resource/img/input12.png'); height:31px; line-height:31px; text-align:center;
	 }
.input13{
     width:108px; height:49px; line-height:49px; background:none; background-image:url('/lmp/resource/img/input13.png');
	 }
.input14{
     width:119px; background-image:url('/lmp/resource/img/input14.jpg'); text-align:center;
	 }
.input15{
     width:119px; background-image:url('/lmp/resource/img/input15.jpg'); text-align:center;
	 }
.input19{
     width:208px; background-image:url('/lmp/resource/img/input19.png');
	 }
.input17{
     width:150px; background-image:url('../lmp/resource/img/input17.png');
	 }
.input22{
     width:119px; background-image:url('/lmp/resource/img/input22.png'); text-align:center;
	 }
.input23{
     width:169px; background-image:url('/lmp/resource/img/input23.png'); text-align:center;
	 }
.input24{
     width:178px; background-image:url('/lmp/resource/img/input24.png');
	 }
.input25{
     width:695px; background-image:url('/lmp/resource/img/input25.png');
	 }
	 .input26{
     background-image:url('/lmp/resource/img/input26.png'); width:83px; height:28px; line-height:28px; text-align:center; color:#fff;
	 }
.input27{
     background-image:url('/lmp/resource/img/input27.png'); width:83px; height:28px; line-height:28px; text-align:center; color:#fff;
	 }
.input28{
     background-image:url('/lmp/resource/img/input28.png'); width:83px; height:28px; line-height:28px; text-align:center; color:#fff;
	 }
.input29{
     background-image:url('/lmp/resource/img/input29.png'); width:116px; height:39px; line-height:39px; text-align:center; color:#fff;
	 }
.input30{
    width:69px; background-image:url('/lmp/resource/img/input30.png'); text-align:center;
	}
	.input30:hover{
		 background-image:url('/lmp/resource/img/input31.png');
		 }
	.input30:active{
		 background-image:url('/lmp/resource/img/input32.png');
		 }
.input31{
    background-image:url('/lmp/resource/img/input31.png');
	}
.input32{
    background-image:url('/lmp/resource/img/input32.png');
	}
.input33{
     width:50px; height:21px; line-height:21px; background-image:url('/lmp/resource/img/input33.png'); text-align:center;
	 }
.input34{
     background-image:url('/lmp/resource/img/input34.jpg'); width:83px;
	 }
.input35{
     background-image:url('/lmp/resource/img/input35.png'); width:80px; text-align:center;
	 }
.input35:hover{
     background-image:url('/lmp/resource/img/input35_1.png');
	 }
.input35:active{
     background-image:url('/lmp/resource/img/input35_2.png');
	 }
.pd10{padding:0 10px;}
.pd0{padding:0;}
.mg18{margin:18px 0;}
.mgtIE{margin-top:8px !important;}
/*头部*/
#head{
	position:relative; margin:0 auto; width:100%; height:93px; border-bottom:4px solid #0096db; background:url('/lmp/resource/img/head.jpg') repeat-x center top; overflow:hidden;
	}	   
    #head .mian{
         height:93px;
		 }
    #head .logo{
		 position:absolute; top:26px; left:0px; width:218px; height:53px; overflow:hidden;
	     }
         #head .logo span{ 
		      margin-top:-360px; position:absolute;
	          }
    #head .shortcuts{
		 position:absolute; top:37px; right:0px; width:131px; height:33px; line-height:33px; text-align:center; color:#e2e4e5; overflow:hidden;
	     }
		 #head .shortcuts a{
		     padding:0 8px;
			 }
			 			 #head .shortcuts .input12{
			    padding:0;
				}
    #head .nav{
		 position:absolute; top:0px; right:140px; width:500px; height:70px; overflow:hidden;
	     }
		 #head .nav li{
		     float:right; padding:0 16px;
			 }
			 #head .nav li a{
			     display:block; line-height:33px; padding:37px 5px 0; font-size:16px; text-decoration:none; overflow:hidden;
				 }
				 #head .nav li a:hover
				 {
				        color:#0098db;
				     }
				 /*#head .nav li a:hover,*/#head .nav li.current a{
				    padding-top:34px; border-top:3px solid #0098db; color:#0098db;
					}
/*尾部*/
#foot{
	position:relative; margin:0 auto; width:100%; background-color:#2c3e50; padding:17px 0; overflow:hidden;
	}
	#foot .pull-right{
	    margin-top:14px;
		}
	#foot .pull-left{
	    width:220px; padding-left:29px; overflow:hidden;
		}
		#foot .pull-left h5{
		   color:#fff; font-size:16px;
		   }
		#foot .pull-left p{
		   color:#FFFFFF; font-size:16px; margin:5px 0; font-family:"Arial";
		   }
		   /*返回头部*/
.lr-tool-rb{
    position:fixed; bottom:20px; right:2px;
	}
    .lr-tool-rb a{
	     width:62px; height:60px; text-align:center; line-height:1.1; text-decoration:none; cursor:pointer; display:block; border-bottom:1px solid #e2e2e2; background:url('/lmp/resource/img/gototop.png') no-repeat center top;
		 }
         .lr-tool-rb .lricon{
		     display:inline-block;*display:inline;*zoom:1; width:25px; height:13px; margin:14px 0 10px; background:url('/lmp/resource/img/gototop01.jpg') no-repeat center;
		     }
		.lr-tool-rb a.lr-qrcode{
			 height:86px; border-bottom:none; background-position:center bottom;
			 }
         .lr-qrcode .lricon{
		      width:54px; height:55px; margin:4px 0; background:url('/lmp/resource/img/gototop02.jpg') no-repeat center;
			  }
			  
		.lr-tool-rb a.lr-QQ{
			 height:86px; background-position:center;
			 }
         .lr-QQ .lricon{
		      width:54px; height:55px; margin:4px 0; background:url('/lmp/resource/img/qqservice.jpg') no-repeat center;
			  }
.lr-pop{
    position:absolute; bottom:-1px;left:-210px; border:#ddd solid 1px; display:none;
	}
     .lr-qcimg{
	     background:#fff;
		 }
         .lr-qcimg img{
		      width:180px; height:180px;
			  }
     .lr-pop .lr-close{
	       font-size:14px; width:18px; text-align:center; padding:8px 3px; background:#FB2405; color:#fff; cursor:pointer; border-radius:4px 0 0 4px;opacity:0.8; position:absolute;left:-24px; bottom:0;
		   }
          .lr-pop .lr-close:hover{
		       opacity:1;
			   }
		   	   div#wrap {
  display:table;
  width:1000px;
  height:600px;
  _position:relative;
  overflow:hidden;
  margin:0 auto;
 }
 div#subwrap {
  vertical-align:middle;
  display:table-cell;
  _position:absolute;
  _top:50%;
 }
 div#content { 
  _position:relative;
  _top:-50%;
 }

label{cursor:pointer;}
/*input[type='text']{border:1px solid #ccc;height:30px;line-height:30px;width:200px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;padding-left:2px; }*/
/*---------------------------------------客户端分页样式---------------------------------------------*/
.page { width:700px; text-align: center; padding:7px; margin:0px auto 0;}
.pagination a { border:1px solid #e1e1e1; color: #333333; text-decoration:none;background:#ffffff;}
.pagination a, .pagination span{ display:inline-block; vertical-align:middle; padding:3px 10px;margin:0 2px; }
.pagination a:hover{border:1px solid #e1e1e1;background:#0097db;color:White;}
.pagination .current {border:1px solid #e1e1e1; color:#ffffff; background:#0097db;}
.pagination .current.prev, .pagination .current.next{border:1px solid #e1e1e1; color:#dddddd; background:#ffffff;}
/*---------------------------------------弹窗表现样式---------------------------------------------*/
/** common **/
.xubox_shade, .xubox_layer{position:fixed; _position:absolute;}
.xubox_shade{top:0; left:0; width:100%; height:100%; _height:expression(document.body.offsetHeight+"px");}
.xubox_layer{top:150px; left:50%; height:auto; width:310px; margin-left:-155px;}
.xubox_border, .xubox_title, .xubox_title i, .xubox_page, .xubox_iframe, .xubox_title em, .xubox_close, .xubox_msgico, .xubox_moves{position:absolute;}
.xubox_border{border-radius: 5px;}
.xubox_title{left:0; top:0;}
.xubox_main{position:relative; height:100%; _float:left;}
.xubox_page{top:0; left:0;}
.xubox_load{background:url(default/xubox_loading0.gif) #fff center center no-repeat;}
.xubox_loading{display:block; float:left; text-decoration:none; color:#FFF; _float:none; }
.xulayer_png32{background:url(default/xubox_ico0.png) no-repeat;}
.xubox_moves{border:3px solid #333; cursor:move; opacity:0.7; filter:alpha(opacity=70);}

.xubox_msgico{width:32px; height:32px; top:52px; left:15px; background:url(default/xubox_ico0.png) no-repeat;}
.xubox_text{ padding-left:55px; float:left; line-height:25px; word-break:break-all; padding-right:20px; overflow:hidden; font-size:14px;}
.xubox_msgtype0{background-position:-91px -38px;} 
.xubox_msgtype1{background-position:-128px -38px }
.xubox_msgtype2{background-position:-163px -38px;}
.xubox_msgtype3{background-position:-91px -75px;}
.xubox_msgtype4{background-position:-163px -75px;}
.xubox_msgtype5{background-position:-163px -112px;}
.xubox_msgtype6{background-position:-163px -148px;}
.xubox_msgtype7{background-position:-128px -75px;}
.xubox_msgtype8{background-position:-91px -6px;}
.xubox_msgtype9{background-position:-129px -6px;}
.xubox_msgtype10{background-position:-163px -6px;}
.xubox_msgtype11{background-position:-206px -6px;}
.xubox_msgtype12{background-position:-206px -44px;}
.xubox_msgtype13{background-position:-206px -81px;}
.xubox_msgtype14{background-position:-206px -122px;}
.xubox_msgtype15{background-position:-206px -157px;}
.xubox_loading_0{width:60px; height:24px; background:url(default/xubox_loading0.gif) no-repeat;}
.xubox_loading_1{width:37px; height:37px; background:url(default/xubox_loading1.gif) no-repeat;}
.xubox_loading_2, .xubox_msgtype16{width:32px; height:32px; background:url(default/xubox_loading2.gif) no-repeat;}
.xubox_loading_3{width:126px; height:22px; background:url(default/xubox_loading3.gif) no-repeat;}


.xubox_title{width:100%;  height:35px; line-height:35px; border-bottom:1px solid #D5D5D5; background:url(default/xubox_title0.png) #EBEBEB repeat-x; cursor:move; font-size:14px; color:#333;}
.xubox_title em{display:block; height:20px; line-height:20px; width:80%; top:9px; left:10px; font-style:normal; overflow:hidden;}
.xubox_close0{ right:10px; top:10px; width:14px; height:14px; background-position: -31px -7px; cursor:pointer; overflow:hidden;}
.xubox_close0:hover{background-position:-51px -7px;}
.xubox_close1{ right:-20px; top:-21px; width:34px; height:30px; background-position: -5px -252px; cursor:pointer; overflow:hidden;  _right:3px; _top:3px; _width:14px; _height:14px; _background-position:-31px -7px;}
.xubox_close1:hover{ background-position:-44px -252px; _background-position:-51px -7px;}
.xubox_botton a{position:absolute; bottom:10px; left:50%; background:url(default/xubox_ico0.png) repeat; text-decoration:none; color:#FFF;  font-size:14px;  text-align:center; font-weight:bold; overflow:hidden; }
.xubox_botton a:hover{text-decoration:none; color:#FFF; }
.xubox_botton .xubox_botton1{ width:79px; height:32px; line-height:32px; margin-left:-39px; background-position:-6px -34px;}
.xubox_botton1:hover{background-position:-6px -72px;}
.xubox_botton .xubox_botton2{margin-left:-76px; width:71px; height:29px; line-height:29px; background-position:-5px -114px;}
.xubox_botton2:hover{ background-position:-5px -146px;}
.xubox_botton .xubox_botton3{width:71px; height:29px; line-height:29px; margin-left:10px; background-position:-81px -114px;}
.xubox_botton3:hover{background-position:-81px -146px;}
.xubox_tips{position:relative; line-height:20px; padding:3px 30px 3px 10px; font-size:12px; _float:left; border-radius:3px; box-shadow: 1px 1px 3px rgba(0,0,0,.3);}
.xubox_tips i.layerTipsG{ position:absolute;  width:0; height:0; border-width:8px; border-color:transparent; border-style:dashed; *overflow:hidden;}
.xubox_tips i.layerTipsT, .xubox_tips i.layerTipsB{left:5px; border-right-style:solid;}
.xubox_tips i.layerTipsT{bottom:-8px;}
.xubox_tips i.layerTipsB{top:-8px;}
.xubox_tips i.layerTipsR, .xubox_tips i.layerTipsL{top:1px; border-bottom-style:solid;}
.xubox_tips i.layerTipsR{left:-8px;}
.xubox_tips i.layerTipsL{right:-8px;}


.modal-dialog{-webkit-box-shadow:0 4px 16px rgba(0,0,0,.2);-moz-box-shadow:0 4px 16px rgba(0,0,0,.2);box-shadow:0 4px 16px rgba(0,0,0,.2);background:#fff;background-clip:padding-box;border:1px solid #acacac;border:1px solid rgba(0,0,0,.333);outline:0;position:absolute}
.modal-dialog{color:#000;padding:30px 42px}
.modal-dialog-title{background-color:#fff;color:#000;cursor:default;font-size:16px;font-weight:normal;line-height:24px;margin:0 0 16px}.modal-dialog-title-close{height:11px;opacity:.7;padding:17px;position:absolute;right:0;top:0;width:11px}.modal-dialog-title-close:after{content:'';background:url(close-x.png);position:absolute;height:11px;width:11px;right:17px}.modal-dialog-title-close:hover{opacity:1}.modal-dialog-content{background-color:#fff;line-height:1.4em}.modal-dialog-buttons{margin-top:16px}


.modal-dialog-buttons button{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#f5f5f5;background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);background-image:-moz-linear-gradient(top,#f5f5f5,#f1f1f1);background-image:-ms-linear-gradient(top,#f5f5f5,#f1f1f1);background-image:-o-linear-gradient(top,#f5f5f5,#f1f1f1);background-image:linear-gradient(top,#f5f5f5,#f1f1f1);border:1px solid #dcdcdc;border:1px solid rgba(0,0,0,0.1);color:#444;cursor:default;font-family:inherit;font-size:11px;font-weight:bold;height:29px;line-height:27px;margin:0 16px 0 0;min-width:72px;outline:0;padding:0 8px}
.modal-dialog-buttons button:hover,.modal-dialog-buttons button:active{-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);box-shadow:0 1px 1px rgba(0,0,0,0.1);background-color:#f8f8f8;background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:-moz-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:-ms-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:-o-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:linear-gradient(top,#f8f8f8,#f1f1f1);border:1px solid #c6c6c6;color:#333}.modal-dialog-buttons button:active{-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}.modal-dialog-buttons button:focus{border:1px solid #4d90fe}.modal-dialog-buttons button[disabled]{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:#fff;background-image:none;border:1px solid #f3f3f3;border:1px solid rgba(0,0,0,0.05);color:#b8b8b8}
.modal-dialog-buttons .buttonset-action {background-color:#4d90fe;background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);background-image:-moz-linear-gradient(top,#4d90fe,#4787ed);background-image:-ms-linear-gradient(top,#4d90fe,#4787ed);background-image:-o-linear-gradient(top,#4d90fe,#4787ed);background-image:linear-gradient(top,#4d90fe,#4787ed);border:1px solid #3079ed;color:#fff}
.modal-dialog-buttons .buttonset-action:hover,.modal-dialog-buttons .buttonset-action:active {
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	border: 1px solid #2f5bb7;
	color: #fff
}

.button_gray,
.button_bule{
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#f5f5f5;background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);background-image:-moz-linear-gradient(top,#f5f5f5,#f1f1f1);background-image:-ms-linear-gradient(top,#f5f5f5,#f1f1f1);background-image:-o-linear-gradient(top,#f5f5f5,#f1f1f1);background-image:linear-gradient(top,#f5f5f5,#f1f1f1);border:1px solid #dcdcdc;border:1px solid rgba(0,0,0,0.1);color:#444;font-family:inherit;font-size:11px;font-weight:bold;height:29px;line-height:29px;margin:0 16px 0 0;width:52px;outline:0;padding:0 8px; text-align:center;
	}
.button_gray:hover,
.button_gray:active,
.button_bule:hover,
.button_bule:active{
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);box-shadow:0 1px 1px rgba(0,0,0,0.1);background-color:#f8f8f8;background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:-moz-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:-ms-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:-o-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:linear-gradient(top,#f8f8f8,#f1f1f1);border:1px solid #c6c6c6;color:#333
	}
.button_gray:active,
.button_bule:active{
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1)
	}
.button_gray:focus,
.button_bule:focus{
    border:1px solid #4d90fe
	}
.button_gray[disabled],
.button_bule[disabled]{
    -webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:#fff;background-image:none;border:1px solid #f3f3f3;border:1px solid rgba(0,0,0,0.05);color:#b8b8b8
	}
.button_bule{
    background-color:#4d90fe;background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);background-image:-moz-linear-gradient(top,#4d90fe,#4787ed);background-image:-ms-linear-gradient(top,#4d90fe,#4787ed);background-image:-o-linear-gradient(top,#4d90fe,#4787ed);background-image:linear-gradient(top,#4d90fe,#4787ed);border:1px solid #3079ed;color:#fff
	}
.button_bule:hover,
.button_bule:active {
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	border: 1px solid #2f5bb7;
	color: #fff
}

/*20140515*/
.background_red{
    background:url('/lmp/resource/img/bj01.jpg') repeat;
	}
.gold,a.gold{color:#ffe400;}
.Block3{
	display:inline-block; width:306px; height:39px; line-height:39px; background-color:#fff; border:none; overflow:hidden;
	}
.input39{
     width:417px; height:49px; line-height:46px; text-align:center; background:url('/lmp/resource/img/input39.png') no-repeat center top; border:none; font-size:24px; color:#950003; overflow:hidden; font-weight:bold;
	 }
#index{
   position:relative; margin:0 auto; padding-top:534px; background:url('/lmp/resource/img/index07.png') no-repeat center top; overflow:hidden;
   }
   .directions{
       margin:0 auto; width:938px; font-size:18px; line-height:30px; color:#ffdb7f; overflow:hidden;
	   }
   .Invite_box{
       margin:28px auto 40px; width:938px; padding:30px; background-color:#bd0004; overflow:hidden;
	   }
	   .Invite_box p{
	       margin:12px 0;
		   }
       .Watch{
	       margin:20px auto 0; width:902px; padding:10px 20px; background-color:#950003; border-bottom:1px solid #8b0003; overflow:hidden;
		   }
		   .Watch li{
		       width:100%; padding:10px 0; line-height:39px; color:#fff; font-size:16px; font-weight:bold; overflow:hidden;
			   }
			   .Watch li .nvidia01{
			       width:120px;
				   }
			   .Watch li .nvidia02{
			       width:168px;
				   }
			   .Watch li .pull-left input{
			       margin:0 10px;
				   }
       .Tips{
	       margin:0 auto 20px; width:902px; padding:10px 20px; background-color:#d01131; border-top:1px solid #db576a; overflow:hidden;
		   }
		   .Tips p{
		       margin:6px 0;
			   }



/*20140516 前台 轨迹 金额 变粗 变橙*/
.tam{color:Orange; font-weight:bold;}
#info{
	position:relative; margin:0 auto; padding:40px 0; width:946px; overflow:hidden;
	}
	#info h1{
	    font-size:36px; line-height:36px; text-align:center; padding-bottom:36px;
		}
		#info p{
		    margin:15px 0; font-size:16px; line-height:28px;
			}
#locusTip{
    color:Orange; font-weight:bold;font-size:14px;
    }
#smallLocusTip{
    color:Orange; font-weight:bold;font-size:10px;margin-right:5px;
    }
/*会员级别浮层提示信息*/
.triangle-level {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    color: #333333;
    margin: 1em 0 3em;
    padding: 8px;
    position: relative;
	box-shadow:-2px 0px 8px #e6e6e6,0px -2px 8px #e6e6e6,0px 2px 8px #e6e6e6,2px 0px 8px #e6e6e6;
}
.triangle-level.left {
    margin-left: 10px;
}
.triangle-level.right {
    margin-right: 10px;
}
.triangle-level:before {
    border-color: #CDCDCD rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 20px 20px 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 40px;
    position: absolute;
    width: 0;
}
.triangle-level:after {
    border-color: #FFFFFF rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 13px 13px 0;
    bottom: -13px;
    content: "";
    display: block;
    left: 47px;
    position: absolute;
    width: 0;
}
.triangle-level.top:before {
    border-width: 0 10px 10px;
    bottom: auto;
    left: auto;
    right: 158px;
    top: -10px;
}
.triangle-level.top:after {
    border-width: 0 13px 13px;
    bottom: auto;
    left: auto;
    right: 155px;
    top: -8px;
}