@CHARSET "UTF-8";
	@font-face {
		font-family: 'Glyphicons Halflings';
	}
    .checkbox_font{
    	font-size:15px;margin-left: 22px;color: #000000;
    }
    .checkbox label{
    	font-weight: bolder;
    }
    .col-lg-12{
    	margin-top:15px
    }
    .danhao{
    	margin-right:35px;font-size:17px;margin-left: auto;color: #000000
    }
    .guanlian{
    	margin-right:35px;font-size:17px;margin-left:80px;color: #000000
    }
    .baoguo{
    	margin-right:15px;font-size:17px;margin-top: 20px;margin-left: auto;color: #000000
    }
	.glyphicon {
		position: initial;
		top: 1px;
		display: table-header-group;
		font-family: 'Glyphicons Halflings';
		-webkit-font-smoothing: antialiased;
		font-style: oblique;
		font-weight: bolder;
		line-height: 25px;
		-moz-osx-font-smoothing: grayscale;
		font-size: medium;
	}
	.success th{
		border-top: 0;
		background-color: #dff0d8;
	    text-align: center;
	    color: #B9EBF3;
	}
	.table tbody tr td{
		padding: 8px;
	    line-height: 1.42857143;
	    vertical-align: middle;
	    text-align: center;
	}
	.search{
		margin-left: 20px;
	}
	.export{
		margin-left: 90px;
	}
	.add{
		margin-left: 115px;
	}
	.submit{
		margin-right: 20px;
	}
	.form-control {
	    display: block;
	    width: 60%;
	    height: 40px;
	    padding: 6px 12px;
	    font-size: 15px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 10px;
	    width: 250px;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}

	.form-horizontal .control-label {
	    padding-top: 7px;
	    margin-bottom: 0;
	    text-align: -webkit-center;
	    color: #000000;
	    font-weight: bolder;
	    margin-right: 18px;
	    margin-left: 90px;
	}
	.input{
		margin-top: 30px;
	}
	.modal-title {
	    margin: 0;
	    color: #5E9CD2;
	}