html,body{
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family:"microsoft yahei",Helvetica,Arial,Verdana,sans-serif;
}
button,input{
    outline: none!important;
    line-height: 1.42857143!important;
}
.pdNo{
    padding: 0!important;
}
ul,li{
    margin: 0px;
    padding: 0px;
}
a:link,
a:visited,
a:hover,
a:active
{
    text-decoration:none;
}
.bg-f1{
    background: #f1f1f1;
}
.bg-white{
    background: #fff;
}
.indent2em{
    text-indent: 2em;
}
.mt25{
    margin-top: 25px;
}
.mrNo{
    margin-right: 0!important;
}


/*index*/

.top{
    background: #fff;
    height: 32px;
    line-height: 32px;
}
.top a{
    color: #666;
}
.top a:hover {
    color: #ff6600;
}
.top a.col_orange {
    color: #ff6600;
}
.top .left a{
    margin-left: 10px;
}
.top ul{
    margin-right: -25px;
}
.top li{
    float: left;
}
.top li:after{
    content:"|";
    color: #666;
}
.top li a{
    padding: 0 25px;
}
.top a i{
color: #297fec;
    font-size: 16px;
    position: relative;
    top:2px;
    margin-right: 4px;
}

.header{
    background: #2880ec;
    padding: 20px 0;
}
.header .left h3,.header .left a{
    float: left;
}
.header .left h3{
    padding: 14px 0 0 20px;
}
.header .left img{
    max-height: 52px;
}
.header .right{
    width: 320px;
    margin-top: 8px;
    position: relative;
    overflow: hidden;
}
.header .right input{
    width: 100%;
    height: 34px;
    border: 2px solid #0066cb;
    padding: 0 5px;
}
.header .right button{
    position: absolute;
    top: 2px;
    right: 2px;
    height: 30px;
    border: none;
    background: transparent;
    color: #297fec;
}
.header button i{
    font-size: 22px;
}

.main{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.main .left{
    width:200px;
    margin-bottom:-3000px;
    padding-bottom:3000px;
    background:#fff;
    border: 1px solid #e6e6e6;
    border-top:0;
    float:left;
}
.main .right{
    padding-bottom: 50px;
}
.sidebar{
   margin: 34px 0;
    min-height: 660px;
}
.sidebar li{
    position: relative;
    width: 202px;
    left: -1px;
    overflow: hidden;
}
.sidebar li a{

    height: 48px;
    line-height: 48px;
    padding-left: 26px;
    display: block;
    border:1px solid transparent;
    border-left-width: 4px;
}
.sidebar li a:hover,.sidebar li.active a{
    background: #f1f1f1;
    border-color: #e6e6e6;
    border-right-color: transparent;
    border-left-color: #2880ec;
    font-weight: bold;
    color: #2880ec;

}
.sidebar i{
    font-size: 20px;
    width: 36px;
    float: left;
    color: #757575;
    position: relative;
    top:1px;
}
.sidebar i.icon-yhq{
    font-size: 18px;
}
.sidebar i.icon-dingwei,.sidebar i.icon-shezhi{
    font-size: 22px;
}
.sidebar i.icon-money{
    width: 36px;
    height: 14px;
    margin-top: 17px;
    background: url("../img/money.png") 0 0 no-repeat;
}
.sidebar li a:hover i.icon-money,.sidebar li.active a i.icon-money{
    background: url("../img/money.png") 0 -14px no-repeat;
}
.sidebar li a:hover i,.sidebar li.active a i{
    color: #2880ec;
    font-weight: normal;
}
.sidebar small{
    background: #ff3300;
    color: #fff;
    margin-left: 10px;
    padding: 0 5px;
    border-radius: 30px;
    font-size: 12px;
}
.sidebar li a:hover small,.sidebar li.active a small{
    font-weight: normal;
}
.main .right{
    margin-left: 220px;
}

.tip{
    height: 24px;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 4px;
    color:#c49804 ;
    border: 1px solid #dcad07;
    background: #fff;
    overflow: hidden;
}
.tip i{
    color: #333;
    font-size: 18px;
    float: left;
    margin-right: 4px;
}
.tip a{
    margin-left: 20px;
}
.btn-close{
    padding-left: 10px;
    cursor: pointer;
 }
.tip i.icon-cuowu{
    font-size: 10px;
    font-weight: bold;
}
.column{
    border: 1px solid #e6e6e6;
    background: #fff;
    overflow: hidden;
}
.column02{
    overflow: hidden;
}
.data{
    padding-left: 20px;
}
.data small{
    padding: 0 5px;
}
.data a.col_blue{margin-left: 10px;font-size: 12px;}
.data a.col_blue:hover{
    color: #277feb;
}
.data .email{margin-right: 40px}
.data a.col_blue i{
    margin-right: 3px;
    position: relative;
    top: -1px;
}
.data .email i,.data .phone i{
    font-size: 18px;
    margin-right:6px;
    position: relative;
    top:1px;
}
.data .phone i{
    margin-right: 2px;
    font-size: 17px;
}
.data button{
    margin-left: 15px;
}
.data button.btn-default{
    color: #999;
}
.data span.col_red,.data span.col_blue{
    margin-right: 3px;
}
.order-list,.package{
    border: 1px solid #ccdceb;
    background: #fff;
    height: 150px;
}
.order-list{
    width: 208px;
    padding:15px 20px;
    padding-bottom: 0;
}
.order-list p{
    margin-bottom: 20px;
    overflow: hidden;
    line-height: 22px;
}
.order-list small{
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size:15px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
}
.order-list i{
    position: relative;
    top:1px;
}
.order-list i.icon-icon{
    position: relative;
    top:-1px;
}
.order-list small.bg-blue{
    background: #3298fd;
}
.order-list small.bg-orange{
    background: #ff6600;

}
.package{
    width: 762px;
}
.title{
    position: relative;
    top:-2px;
    padding: 2px 0;
    overflow: hidden;
    font-size: 16px;
    border-left: 2px solid #ff6600;

}
.title span{
    padding-left: 10px;
    display: inline-block;
}
.title a.more{
    float: right;
    font-size: 12px;
    padding: 0 15px;
    line-height: 1.6;
    border: 1px solid #277feb;
    color: #277feb;
    margin-top: 10px;
    margin-right: 25px;
}
.column .title{
    height: 40px;
}
.package ul{
    overflow: hidden;
    padding-top: 20px;
}
.package li{
    float: left;
    margin-left: 14px;
}
.package li a{
    display: block;
    width: 110px;
    height: 76px;
    background: #eaeeef;
    padding-top:12px;
    text-align: center;
    color: #666;
    line-height: 2;
}
.package li span{
    display: block;

}
.package li a:hover{
background: #f1f6f7;
}
.img-list{
    height: 260px;
    overflow: hidden;
    padding-top: 22px;
}
.img-list li{
    float: left;
    margin-left: 20px;
}
.img-list li a{
    display: block;
    width: 220px;
    overflow: hidden;
    text-align: center;
}
.img-list li img{
    width: 100%;
    height: 180px;
    display: block;
}
.img-list li span{
    display: block;
    margin-top: 12px;
    font-size: 12px;
    height: 34px;
    overflow: hidden;
}

.footer{
    background: #333;
    color: #fff;
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 13px;
}

/*mypackage*/
.public-title{
    padding-top: 8px;
    line-height: 2;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}
.public-title .back{
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #277feb;
    color: #277feb;
    padding: 0 7px;
    border-radius: 3px;
    background: #fff;
    margin-left: 10px;
}
.public-title i{
    min-width: 30px;
    height: 26px;
    float: left;
    display: inline-block;
}
.public-title i.icon-icon,.public-title i.glyphicon-plus{
    font-size: 18px;
    color: #2079e1;
    font-weight: normal;
    position: relative;
}
.public-title i.icon-icon{
    top: -3px;
    left: 3px;
}
.public-title i.glyphicon-plus{
    font-size: 16px;
    top:6px;
    left: 6px;
}
i.title-icon01{
    background: url("../images/icon04.jpg") 4px 4px no-repeat;
}
i.title-icon02{
    background: url("../images/icon02.jpg") 4px 2px no-repeat;
}
i.title-icon03{
    background: url("../images/icon01.jpg") 4px 2px no-repeat;
}
i.title-icon04{
    background: url("../images/icon03.jpg") 0px 0px no-repeat;
}

dl.tips{
    padding: 8px;
    background: #fcfbe9;
    border: 1px solid #e9da5b;
    color: #666;

}
.tips a{
    color: #029ee8;
    text-decoration: underline;
}
.tips dt{
    color: #f2540a;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 10px;
}
.tips dd{ line-height:1.6;}
.leading-box{
    padding-top: 10px;
    background: #eaf2f4;
}
.leading-box .title{
    height: auto;
    font-size: 14px;
    color: #666;
    padding-left: 10px;
}
.up-download{
    overflow: hidden;
    padding-bottom: 28px;
    padding-right: 36px;
    padding-left: 46px;
}

.download-file{
    width: 252px;
    height: 102px;
    border:1px solid #bbd9e1;
    background: #fff;
}
.download-file .tip{
    width: 252px;
    padding: 0 3px;
    height: 20px;
    line-height: 18px;
    font-size: 12px;
    position: relative;
    top:-1px;
    left: -1px;
}

.download-file .tip .btn-close{padding: 0;}
.download-file .tip i{
    color: #c49804;
    margin: 0;

}
.download-file .tip i.icon-warning{
    color: #ec5408;
    font-size: 14px;
    float: left;
    position: relative;
    top:2px;
    margin-right: 3px;
}

.up-file{
    border:1px solid #bbd9e1;
    color: #999;
    width: 390px;
    height: 38px;
    line-height: 38px;
    margin-top: 42px;
    padding-left: 6px;
    border-radius: 1px;
    background: #fff;
    position: relative;
}
.up-file b{
    background: #019fe8;
    width: 104px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    color: #fff;
    position: absolute;
    right: 2px;
    top:2px;
    overflow: hidden;

}
.up-file b i{
    width: 22px;
    height: 16px;
    position: relative;
    top:2px;
    display: inline-block;
    background: url("../images/check-file.jpg") 0 0 no-repeat;
}
.up-file input{
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-opacity:0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 99;
}

.form-radio{
    color: #666;
    padding: 10px 6px;
}
.form-radio .tit{
    color: #333;
}
.form-radio label{
    margin-right: 20px;
}
.form-radio input{
    margin-right: 4px;
    position: relative;
    top:2px;
}
.btn-box{
    text-align: center;
}
.btn-box .btn-black{
    background: #000;
    padding: 0 10px;
    color: #fff;
    margin-top: 6px;

}

.select-box{
    padding:20px 46px ;
}
.select-box select{
    border:1px solid #b3d6ff;
    width: 220px;
    height: 32px;
    color: #999;
}
.btn-red{
    background: #f30;
    color: #fff;
}

.public-btn button{
 border-radius: 2px;
    width: 130px;
    height: 36px;
    margin-right: 12px;
}
.pl46{
    padding-left: 46px;
}


/*merge*/
.merge-title{
    font-size: 14px;
    font-weight: 600;
    color: #666;
    height: auto;
    padding-left: 14px;
}
.column .merge-title{
    height: auto;
}
.merge-title small{
    font-weight: 600;
}

.mr126{margin-right: 126px;}
.waybill{
    border: 1px solid #c4d0de;
}
.waybill-search{
    background: #ecf3fb;
    padding: 12px 124px;
    overflow: hidden;
    position: relative;
 }
.waybill-search input{
    border: 2px solid #c4d0de;
    background: #fff;
    padding-left: 10px;
    padding-right: 80px;
    height: 36px;
    width: 100%;
}
.waybill-search button{
    position: absolute;
    top:12px;
    right: 124px;
    height: 36px;
    border-radius: 0 3px 3px 0;
}

.waybill-list{
    padding-bottom: 50px;
    overflow: hidden;
}
.waybill-list li{
    height: 28px;
    line-height: 28px;
    width: 336px;
    padding-left: 5px;
    padding-right: 20px;
    margin: 20px 18px 0;
    border: 1px solid #dde2e8;
    background: #f0f2f1;
    color: #666;
    float: left;
}
.waybill-list li .btn-close{
    font-size: 14px;
    display: inline-block;
    padding: 0;
    width: 20px;
    text-align: center;
    color: #666;
    line-height: 26px;
    margin-right:-20px;
    float: right;
}
.check-address{
    background: #f0f2f1;
    padding: 15px;
}
.check-address select{
    width: 220px;
    height: 32px;
    color: #999;
    border: 1px solid #cbcbcb;
}
.check-address label{
    line-height: 32px;
    color: #666;

}

.split-box{
    overflow: hidden;
    border: 1px solid #fb9e8d;
    background: #fbf6f3;
    padding-top:10px;
    padding-bottom: 40px;
}
.split-left,.split-right{
    width: 50%;
    padding:0 15px;
    font-size: 12px;
}
.split-title{
overflow: hidden;
    border-left:2px solid #fb3d01 ;
    line-height: 14px;
    margin-top: 10px;
}
.split-title h3{
    font-size: 12px;
    font-weight: 600;
    padding-left: 6px;
    color: #f84e1b;
}
.split-title span{
    float: right;
}
.split-right{
    border-left: 1px solid #e8cabf;
    padding-bottom: 30px;
}

.table-box{
    background: #fff;
    padding: 6px;
    margin-top: 12px;
    border: 1px dashed transparent;
}
.change-gray p.word{
    color: #fb4104;
   text-align: right;
    line-height: 2;
    display: none;
}

.split-right .table-box{
    padding: 4px;
}

.change-gray .table{
    border: 1px solid #dedede;
    color: #666;
    margin: 0;
}
.change-gray .table th{
    background: #ededed;
}
.text-center th{
    text-align: center;
 }
.change-gray:hover .table-box,.current-gray .table-box{
    border-color:#f76f55 ;
}

.change-blue p.word{
    color: #7285bf;
    background: #e4eefa;
    float: right;
    line-height: 1.6;
    padding: 0 10px 2px;
    display: none;
}

.change-blue .table{
    border: 1px solid #e6eff8;
    color: #666;
    margin: 0;
}
.change-blue .table th{
    background: #e8f2fe;
}
.change-blue th{
    text-align: center;
}
.change-blue:hover .table-box,.current-blue .table-box{
    border-color: #bcd8fd;
}

.table p.select,.table p.select select{
    width: 100%;
}
.table p.select{
    border-top:1px solid #99cdff;
    padding-top: 6px;
}
.table p.select select{
border: 1px solid #cce0fb;
    color: #999;
}
.change-gray:hover p.word,.change-blue:hover p.word,.current-gray p.word,.current-blue p.word{
    display: block;
}
.table-list{
    min-height: 160px;
}
.table-list h4{
    font-size: 14px;
}
.change-blue{
    padding: 10px 0 20px;
}
.change-blue .table-box{
    position: relative;
}
.change-blue .table-box .table-close{
    position: absolute;
    font-size: 14px;
    right: -6px;
    top: -8px;
    color: #ec5f29;
}


/*track*/
.track{
    padding: 30px 22px 50px;
}
.order-word{
    padding: 10px;
    background: #61b0f5;
    color: #fff;
}
.order-word span{
   padding-right: 30px;
}
.track-box{
    overflow: hidden;
}
.track-left ul{
    margin-left: 18px;
    border-left: 4px solid #dfdfdf;
    padding-top: 28px;
    font-size: 12px;
}
.track-left li{
    position: relative;
    left: -7px;
    padding-bottom: 18px;
    padding-left: 50px;
    background: url("../images/point.jpg") 0 0 no-repeat;

}
.track-left li p.date{
    color: #999;
    padding-bottom: 6px;
}
.track-left li p.word{
    color: #666;
}
.track-left li.active p{
    color:#3a7bd5;
}
.track-left li.active p.word{
    font-weight: 600;
}
.track-left li i.new{
    color: #fff;
    background: #397ad4;
    position: absolute;
    width: 34px;
    height: 16px;
    left: 11px;
    top: 0;
    overflow: hidden;
    text-align: center;
    display: none;
}
.track-left li.active i.new{
    display: block;
}

.track-right{
    margin-top: 30px;
    border-left: 1px solid #dfdfdf;
    width: 350px;
    min-height: 460px;
    padding-top: 60px;
    text-align: center;
    color: #666;
}
.track-right p{
    font-size: 18px;
    padding-top: 8px;
}
.track-right small{
    color: #999;
}

.column .nav-tabs {
    border: none;
    background: #2880ec;
    padding-top:6px;
}
.column .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.column .nav-tabs > li > a {
    color: #fff;
    margin-left:6px;
    line-height: 1.42857143;
    border: none;
    border-radius:0;
}
.column .nav-tabs > li > a:hover {
    border: none;
    color: #333;
}
.column .nav-tabs > li.active > a,
.column .nav-tabs > li.active > a:hover,
.column .nav-tabs > li.active > a:focus {
    color: #333;
    cursor: default;
    background-color: #fff;
    border: none;
    font-weight: 600;
}
.column .nav > li > a{
    padding: 6px 15px;
}
.column .nav > li > a:hover,
.column .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}

.error-tip{
    width: 270px;
    margin: 84px auto 100px;
    overflow: hidden;
}
.error-tip dt{
  float: left;
}
.error-tip dd{
    padding-top: 12px;
    padding-left: 76px;
}
.error-tip p.strong{
    font-weight: 600;
    color: #666;
    padding-bottom: 8px;
}
.error-tip p.link{
    color: #999;
}
.error-tip p.link a{
    text-decoration: underline;
}

.service{
    position: fixed;
    right: 0;
    top:310px;
    width: 50px;
    border: 1px solid #3a7bd5;
    background: #fff;
}
.service a{
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #3a7bd5;
    color: #3a7bd5;
}
.service a:last-child,.service a:hover{
    background: #3a7bd5;
    color: #fff;
}

.btn-list{
    overflow: hidden;
    padding: 8px 0;
}
.upload-ID i,.btn-merge i{
    font-size: 20px;
    float: left;
    position: relative;
    left:-2px;
    top:-1px;
}
.upload-ID button,.btn-merge button{
    height: 28px;
}
.upload-ID{
    position: relative;
    width: 130px;
    height: 28px;
    overflow: hidden;
}

.upload-ID button{
    font-weight: 600;
    padding-right: 18px;
}
.upload-ID button i{
    font-weight: normal;
}
.upload-ID input{
    position: absolute;
    top:0;
    left: 0;
    width:200px;
    height: 100%;
    margin-left: -80px;
    cursor: pointer;
    -moz-opacity:0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 99;
}


.package-tab{
    padding-top: 20px;
}
.package-tab .nav-tabs{
    background: #f1f1f1;
    padding-top: 8px;
    padding-left: 10px;
}
.package-tab .nav-tabs > li > a{
    color: #333;
    padding: 8px 15px;
}
.package-tab .nav > li > a:hover, .package-tab .nav > li > a:focus,.package-tab .nav-tabs > li > a{
    border-top: 2px solid transparent;
}
.package-tab .nav-tabs > li.active > a, .package-tab .nav-tabs > li.active > a:hover, .package-tab .nav-tabs > li.active > a:focus{
    border-top: 2px solid #7b7b7b;
}

.package-tab .tab-content{
    padding: 0 4px;
    overflow: hidden;
}
.package-search{
    overflow: hidden;
}
.package-search button,.package-search input{
    height: 30px;
    vertical-align: middle;

}
.package-search input{
    border: 1px solid #ccc;
    color: #666;
}
.package-search button{
    padding: 0 8px;
    line-height: 1.7!important;
}
.package-search button i{
    font-size: 18px;
    float: left;
}
.package-search-detail{
    width: 340px;
}
.package-search-detail input{
    width: 266px;
    margin-right: 2px;
}
.package-search-select label{
    font-weight: bold;
}
.package-table .table thead{
    border: 1px solid #e1e1e1;
    border-right: none;
    background: #f1f1f1;
}
.package-table .table th{
    padding: 10px 6px;
    font-weight: normal;
    color: #4a6473;
    text-align: center;
}
.package-table .table th:last-child{
    border-right: 1px solid #e1e1e1;
}
.package-table .table td{
    padding: 0;
    font-size: 12px;
    vertical-align: middle;
}
.merge-btn-list{
    overflow: hidden;
    padding: 20px 0;
}
.merge-btn-list button,.merge-btn-list a{
    height: 24px;
}
.merge-btn-list label,.title-merge label{
    padding-right: 20px;
    line-height: 26px;
}
.merge-btn-list label input,.title-merge label input{
    position: relative;
    top:2px;
    margin-right: 4px;
}
.merge-btn-list span,.title-merge span{
    margin-right: 4px;
    line-height: 26px;
}
.merge-btn-right a{
    display: inline-block;
    border: 1px solid #ccc;
    color: #666;
    padding: 0 6px;
    line-height: 22px;
}
.merge-btn-right .show-btn i{
    margin-right: 3px;
    color: #5193e7;
    position: relative;
    top:2px;
}
.merge-btn-right .open i,.title-merge-right .open i{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);
}
.slide-btn i{
    font-size: 10px;
}

.merge-btn-list button{
    border: 1px solid #99bfd6;
    color: #446984;
}
.table-merge{}
.merge-detail{
    border: 1px solid #4db8fc;
    border-top: none;
    border-right: none;
}
.merge-detail .border-right-blue,.table-merge{
    border-right: 1px solid #4db8fc;
}
.table-merge .title-merge{
    background:#4db8fc ;

}
.table-merge .title-merge td{
    color: #fff;
    padding:6px 10px;
}

.title-merge-right button{
    height: 24px;
    border: 1px solid #116ea7;
    background: transparent;
    color: #106da6;
    margin-right: 3px;
}
.title-merge-right button:hover,.title-merge-right button:focus{
    background: #fff;
    border-color: #fff;
}
.title-merge-right a{
    padding: 0 8px;
    color: #106da6;
    font-size: 16px;
}
.title-merge-right a i{
    position: relative;
    top:3px;
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); 	/* IE 9 */
    -moz-transform:rotate(-90deg); 	/* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
    -o-transform:rotate(-90deg);
}
.title-merge span,.title-merge label{
    line-height: 24px;
}
.merge-detail ul{
    margin: 0 6px;
    padding: 0 4px;

}
.merge-detail li{
    line-height: 26px;
    height: 26px;
    border-bottom: 1px dotted #d0dbe1;
}
.merge-detail li:last-child{
    border-bottom: none;
}
.merge-detail .address-box{
    padding:5px 0 5px 10px;
}
.address-detail{
    padding-top: 4px;
}
.address-detail .default{
    border: 1px solid #1d72dc;
    color: #1d72dc;
    margin-left: 10px;
    padding: 0 5px;
    border-radius: 2px;
}

.package-table .merge-detail td{
    border-left: 1px solid #d2d9df;
    border-bottom: 1px solid #d2d9df;
}
.package-table .merge-detail td.border-bottom-no{
    border-bottom:transparent;
}
.package-table .merge-detail td.border-left-no{
    border-left:transparent;
}

.bg-gray{
    background: #f1f1f1;
}
.merge-detail p.col_red{
    font-size: 16px;
    margin-bottom: 4px;
}

.handle-list{
    text-align: center;
}
.handle-list button,.handle-list a{
    display: block;
    margin: 5px auto;
    font-size: 14px;
}
.ht15{
    height: 15px;
}


.merge-red .title-merge{
    background: #f85319;
}
.merge-red .title-merge td:last-child,.merge-red .border-right-blue{
    border-right: 1px solid  #f85319;
}
.merge-detail.merge-red{
    border: 1px solid #f85319;
    border-top: none;
    border-right: none;
}
.merge-red .title-merge-right button{
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.merge-red .title-merge-right button:hover,.merge-red .title-merge-right button:focus{
    color: #f85319;
    background: #fff;
}
.merge-red .title-merge-right a{
    color: #fff;
}


/*分页样式表*/
.page-list{
    overflow: hidden;
    padding-bottom: 10px;
}
.page-list .word {
    line-height: 30px;
}
.page-list .word span:after{
    content: "|";
    padding-left: 10px;
    margin-right: 10px;
}
.page-list .word span:last-child:after{
    content: "";
}

.page-btn a{
    display: inline-block;
    line-height: 30px;
    height: 30px;
   border: 1px solid #ccc;
    padding: 0 10px;
    margin-right: 4px;
}
.page-btn a:hover,.page-btn a.active{
    border-color: #2880ec;
    color: #2880ec;
}
.column .new-title {
    height: auto;
    font-size: 14px;
    color: #666;
    padding-left: 14px;
    margin-left: -20px;
}

.order-fill{
    margin: 10px 0 28px;
    padding: 7px 12px;
    background: #eaf2f4;
    color: #6c8e97;
}
.order-fill input{
    border: 1px solid #b3d1db;
    height: 30px;
    width: 330px;
    color: #bbb;
}

.order-address{
    padding: 18px 0;
    background: transparent;
    margin-bottom: 30px;
}

.order-table{
    background: #eaf2f4;
    padding: 10px;
    margin: 10px 0 40px;
}
.order-table  th{
    background: #b4c4d4;
    font-weight: normal;
}
.order-table  td{
    padding: 15px 8px!important;
    border-bottom: 1px dotted #ccc;
}
.order-table tr:last-child td{
    border-bottom: transparent;
}
.order-table  td input,.order-table  td select{
    width: 100%;
    border: 1px solid #b3d1db;
    height: 32px;
    border-radius: 2px;
}
.order-table  td .wt100{
    width: 100px;
    min-width: 100px;
}
.order-table  td .wt84{
    width: 84px;
}
.order-table  td .wt54{
    width: 54px;
}
.order-table .table{
    margin: 0;
}
.up-down{
    width: 24px;
    height: 32px;
    margin-left: 5px;
    overflow: hidden;
}

.up-down button{
    width: 24px;
    height: 14px;
    display: block;
    overflow: hidden;
    margin-bottom: 4px;
    font-size: 10px;
    border: 1px solid #b3d1db;
    background: #fff;

}
.up-down button i{
    position: relative;
    top:-2px;
}

a.delete{
    height: 26px;
    line-height: 24px;
    padding: 0 8px;
    border: 1px solid #ff3300;
    color: #ff3300;
    display: inline-block;
    background: #fff;
}
.delete i{
    font-weight: bold;
    margin-right: 4px;
}

.order-table-btn{
    margin-left: 10px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #ccc;
}

.order-price{
    padding-left: 15px;
    padding-top: 16px;
}
.order-price p{
    padding-bottom: 28px;
    line-height: 24px;
}
.order-price p:last-child{
    padding-bottom: 10px;
}
.order-price span.col_red{
    font-size: 20px;
}
.order-price label{
    line-height: 24px;
    float: left;
}
.order-price textarea{
    border: 1px solid #b3d1db;
    width: 560px;
}

.channel-list{
    background: #f1f1f1;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.channel-list-box{
    position: relative;
    padding: 9px 0;
}
.channel-list-box dl{
    border: 1px solid #ccc;
    background: #fff;
    height: 52px;
    position: relative;
    overflow: hidden;
}
.channel-list-box dt,.channel-list-box dd{
    float: left;
}
.channel-list-box dt{
    width: 112px;
    padding-left: 16px;
    border-right: 1px solid #ccc;
    margin: 12px;
    font-size: 17px;
    line-height: 28px;
    overflow: hidden;

}
.channel-list-box dd.one{
    width: 240px;
}
.channel-list-box .one .col_red{
    padding-top: 8px;
}
.channel-list-box .one p{
    white-space: nowrap;
    overflow: hidden;
}
.channel-list-box .one .col_666{
    font-size: 12px;
}
.channel-list-box dd.two{
    display: table;
    width: 520px;
    margin-top: 4px;
    height: 40px;
    overflow: hidden;

}
.channel-list-box dd.two p{
    color: #999;
    display: table-cell;
    vertical-align: middle;
}
.channel-list-box dl:hover,.checked dl{
    border-color:#029ee9 ;
}
.channel-list-box dd.three{
    position: absolute;
    right: -2px;
    bottom:-5px;
    font-size: 22px;
    color: #029ee9;
    z-index: 99;
    display: none;
}
.checked dd.three,.channel-list-box dl:hover dd.three{
    display: block;
}
.channel-list-box input{
    width: 100%;
    height: 52px;
    margin: 0;
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
}

.add-service{
    background: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.add-service-check{
    background: #fff;
    padding: 10px;
}
.add-service-check .checkbox-inline{
    width: 120px;
    padding-right: 20px;
    margin-left: 0;
}

.add-service p{
    padding-top: 15px;
    padding-bottom: 6px;
}
.add-service span.col_red{
    font-size: 20px;
}

.address-list ul{
    margin: 30px 0 50px;
    overflow: hidden;
}
.address-list li{
    margin-bottom: 10px;
    width: 288px;
    height: 120px;
    border: 2px solid #eeeeee;
    margin-right:18px ;
    font-size: 12px;
    color: #666;
    float: left;
}
.address-list li .address-word,.address-list li .name-phone{
    white-space: nowrap;
    line-height: 30px;
    padding: 0 5px;

}
.address-list li .address-word{
    border-bottom: 1px solid #eee;
}
.address-list li.two p{
    padding:8px;
}
.address-list li .address-word select{
    width:100% ;
    border: 1px solid #e1e3e2;
    height: 28px;
}
.address-list li .name-phone input{
    border: 1px solid #e1e3e2;
    height: 24px;
}
.address-list li input.wt54{
    width: 54px;
}
.address-list li input.wt94{
    width: 94px;
}

.address-list  .name-phone span{
    padding: 0 8px;
}
.address-list li.two .name-phone{
    padding: 6px 8px;
}
.address-list li.two .search-btn{
    padding: 0px 8px;
    padding-right: 17px;
    text-align: right;
}
.address-list  .search-btn button{
    padding: 2px 10px;
    font-size: 12px;
}
.address-list li.three{
    text-align: center;
    font-size: 18px;
    color: #999;
    cursor: pointer;
}
.address-list li.three span{
    width: 80px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
}
.address-list li.three i{
    font-size: 100px;
    color: #e1e3e2;
    position: relative;
   top: -35px;
}
.address-list li:hover{
    border-color: #019fe8;
}
.address-list li.one{
    position: relative;
}
.address-list li.one i{
    position: absolute;
    z-index: 99;
    display: none;
}
.address-list li.one i.default{
    right: -3px;
    top: 3px;
    width: 64px;
    height: 24px;
    background: url("../images/default.jpg") 0 0 no-repeat;

}
.address-list li.one i.icon-icon14{
    right: 0px;
    bottom: -8px;
    font-size: 26px;
    color: #ff9500;
}
.address-list li.active{
    border-color: #019fe8;
}
.address-list li.active i{
    display: block;
}
.money-cheak .radio-inline{
    position: relative;
    padding-right: 30px;
}
.money-cheak i{
    position: absolute;
    right:-0px ;
    top:-18px;
    width: 39px;
    height: 23px;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: url("../images/tip.jpg") 0 0 no-repeat;
}
.table-box input,.table-box select{
    border: 1px solid #99cdff;
    height: 26px;
}
.table-box input.wt40{
    width: 40px;
}
.table-box p.wt80{
    width: 80px;
    overflow: hidden;
    margin: 0 auto;
}
.table-box .wt80 select{
    width: 80px;
    min-width: 100%;
    color: #999;
}
.table-box .up-down{
    height: 26px;
    margin-left: 1px;
}
.table-box .up-down button{
    margin-bottom: 1px;
    width: 18px;
    height: 12px;
}
.table-box .up-down i{
    left: -3px;
    top: -3px;
    font-size: 8px;
}

.split-box+.public-btn button{
    border-radius: 0;
}
.mr110{
    margin-right: 110px;
}
.addgods{width:78px;text-align:center;float: left;}