﻿ .leightbox{
    position:absolute; width:819px;;
    }
.lightbox[id]{
     /* IE6 and below Can't See This */ position:fixed;
	 }
#overlay[id]{
    /* IE6 and below Can't See This */  position:fixed;
	}
	.leightbox .Whole{
	    margin:0 auto; width:776px; overflow:hidden;
		}
 /*充值*/
	 .Recharge{
	    width:100%; padding-top:10px; overflow:hidden;
		}
		 .Recharge .pull-left{
		     width:213px;
			 }
		 .Recharge a{
		     float:left; width:99px; height:32px; text-align:center; line-height:32px; padding-bottom:9px; text-decoration:none; font-size:16px; background:url('../img/input20.png') no-repeat center top; overflow:hidden; margin:0 5px;
			 }
			  .Recharge a:hover, .Recharge a.current{
			     color:#fff; background:url('../img/input21.png') no-repeat center top;
				 }
	 .How{
	    width:100%; padding-bottom:0; line-height:32px; overflow:hidden;
		}
		 .How .much{
		     float:left; width:218px; text-align:right; overflow:hidden;
			 }
		 .How input{
		     float:left; width:208px; height:32px; line-height:32px; border:none; background:url('../img/input19.png') no-repeat center top; overflow:hidden; margin-right:6px;
			 }
	 .List05{
	    width:100%; padding-top:0; overflow:hidden;
		}
		 .List05 li{
		    height:45px;
			}
			 .List05 li input{
			    float:left; margin-top:16px;
				}
			 .List05 li img{
			    float:left; width:149px; height:39px; border:1px solid #cecece; margin-left:8px;
				}
			 .List05 li.Special{
			     height:74px;
				 }
				  .List05 li.Special img{
				     border:none; width:auto; height:auto;
					 }
				 .List05 li.Special input{
					margin-top:26px;
					}
    /*完成充值*/
	 .Success{
	    width:92%; padding:5px 0 5px 8%; margin-top:20px; background-position:left center; background-repeat:no-repeat; overflow:hidden;
		}
    /*提现*/
	 .List06{
	    width:100%; overflow:hidden;
		}
		 .List06 li{
		    height:52px; line-height:32px;
			}
			 .List06 li span.pull-left{
			     width:63px; text-align:right; overflow:hidden;
				 }
			 .List06 li input{
			     margin-right:4px;
				 }
			 .List06 li .text08, .List06 li .text09{
			     float:left; width:178px; height:32px; line-height:32px; border:none; background:url('../img/input24.png') no-repeat; overflow:hidden;
				 }
				  .List06 li select.text08{
				     padding:6px 4px;
					 }
			 .List06 li .text09{
			     width:726px; background:url('../img/input727.png') no-repeat;
				 }
 .PushButton{
	    width:100%; overflow:hidden;
		}
		 .PushButton a{
		     float:right; font-size:16px; margin-left:16px; line-height:32px;
			 }
			  .PushButton a.button{
			      width:119px; height:32px; text-align:center; text-decoration:none; color:#fff; background:url('../img/input14.jpg') no-repeat; overflow:hidden;
				  }
			  .PushButton a.one{
			      background:url('../img/input22.png') no-repeat;
				  }
			  .PushButton a.two{
			      background:url('../img/input23.png') no-repeat; width:169px; color:#666;
				  }