﻿#wapper {
    overflow: hidden;
}
@media (max-width: 320px){
	#wapper {
      width: 100%!important;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  #wapper {
      width: 320px!important;
  }
}
@media (min-width: 480px) and (max-width: 639px) {
  #wapper {
      width: 480px!important;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  #wapper {
      width: 640px!important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #wapper {
      width: 768px!important;
  }
}
@media (min-width: 992px) {
  #wapper {
      width:100%!important;
  }
  .container{
	 width:1020px!important;
  }
}

/*****************
    w320
*****************/
@media (max-width: 479px)
{
    body
    {
        padding-top: 0px;
    }
    #page-default .carousel-indicators {
        bottom: 0;
    }
    #page-default-center-r1 .media
    {
        margin-bottom: 0;
    }
        #page-default-center-r1 .media-body
        {
            height: 86px;
        }
	#page-default-center-r1 >div a.thumbnail
    {
        width: 40% !important;
    }
	#page-default-center-r1 > div p
    {
        font-size: 12px !important;
    }
	#page-default-center-r2c1 .media-object
    {
        width: 40% !important; 
    }
	#page-default-center-r2c1 .media-body
    {
        font-size: 12px !important; 
    }
    
	#page-default-center-r2c1 .panel-body{
		height:100px !important; overflow:hidden;line-height:100% !important;
	}
    #page-default-rightcol-r1 ul.list-group li.list-group-item a
    {
        max-width: 100%;
    }
    #page-default-rightcol-r1 ul.list-group li.list-group-item span.badge
    {
        display: none;
    }
    #page-news-list-pic-left .media-body
    {
        height: 100px;
    }
    #page-product-info div.media >div
    {
        width: 100%;
    }
	
}

/*****************
    w480
*****************/
@media (min-width: 480px) and (max-width: 767px)
{
    body
    {
        padding-top: 0px;
    }
    #page-default-rightcol-r1 ul.list-group li.list-group-item a
    {
        max-width: 85%;
    }
}

/*****************
    w320-w480
*****************/
@media (max-width: 639px) 
{
        body
        {
            overflow-x: hidden;
        }
    #navbar
    {
        /*padding: 0 15px;*/
        background-color: #fff;/*
      -moz-box-shadow: 0 1px 5px rgba(34, 34, 34, 0.3);
      -webkit-box-shadow: 0 1px 5px rgba(34, 34, 34, 0.3);
      box-shadow: 0 1px 5px rgba(34, 34, 34, 0.3);*/
      
      position: inherit;
margin-bottom: 8px;/*
margin-left: -15px;
margin-right: -15px;*/

      /*position: fixed; z-index: 99;
      top: 0; right: 0; left: 0;*/
    }
    #wapper
    {/*
        padding-top: 53px;*/
		-webkit-box-shadow:0 0 0;box-shadow:0 0 0;
    }
    .carousel-control
    {
        display: none;
    }
	  #page-default-center-r1 >div a.thumbnail
		{
			float: left;
			margin-right: 10px; margin-bottom: 10px;
			width: 30%;
		}
}

/*****************
    w320-w768
*****************/
@media screen and (max-width: 767px)
{
    body
    {
        background-position: 0 -426px;
    }
    #page-default
    {
        background-position: 0 -376px;
    }
    #wapper
    {
      
    }
    #header
    {
        position: absolute;
        margin-bottom: 0;
    }
        
    #navbar-collapse
    {
        overflow-x: hidden;
    }
        #navbar-collapse >ul.nav
        {
            margin-top: 0; margin-bottom: 0;
        }
    #navbar #navbar-collapse li.dropdown:hover ul.dropdown-menu
    {
        display: none;
    }
    
    #page-default-top-slide
    {
        margin-bottom: 10px;
    }
    #page-default-top-slide .carousel-caption
    {
        display: none;
    }
    
    #page-default-body:before, #page-default-body:after {
        content: normal;
    }
    #page-default-center-r1:before, #page-default-center-r1:after {
        content: normal;
    }
  
    #page-default-center-r1 > div p
    {
        font-size: 1em;
    }
    
    #page-default-center-r2
    {
        clear: both;
    }
    #page-default-center-r2c1 .panel-body
    {
        padding: 0; 
	}
    #page-default-center-r2c1 .panel-body .row
    {
        margin-left: 0; margin-right: 0;
    }
    #page-default-center-r2c1 .media
    {
        padding: 5px;
    }
    #page-default-center-r2c1 .media-object
    {
        float: left !important;
        margin-right: 10px;
        padding-left: 0;
        width: 30%;
    }
    #page-default-center-r2c1 .media-body
    {
        display: inline;
    }
    #page-default-center-r2c1 .media-body
    {
        font-size: 1em;
    }
    
	#page-default-rightcol-r1 ul.list-group li.list-group-item{
		height:34px; line-height:34px;
	}
    #page-default-rightcol-r1 ul.list-group li.list-group-item a
    {
        font-size: 1.1em;
    }
    #page-default-rightcol-r1 p
    {
        font-size: 1em;
    }
    
    article .pull-right
    {
        margin-left: 10px; width: 55%;
    }
    article .pull-left
    {
        margin-right: 10px; width: 55%;
    }
    
    #page-product-list
    {
        margin-left: 0;
        margin-right: 0;
    }
    #page-product-list p.buy
    {
        position: absolute;
        margin-top: -23px;
        left: 100%;
        margin-left: -39px;
    }
    #page-product-list .btn-primary
    {
        margin-top: 0;
    }
    
    #page-album-list
    {
        margin-left: 0;
        margin-right: 0;
    }
    
    #page-video-list
    {
        margin-left: 0;
        margin-right: 0;
    }
    
    #page-contact
    {
    }
    #page-contact #page-contact-form label
    {
        float: none;
    }
    #page-contact .form-group, #page-contact .col-xs-nl
    {
        margin-bottom: 5px;
    }
    #page-sitemap
    {
        margin-left: 0;
        margin-right: 0;
    }
    
    #footer
    {
        margin-left: -10px;
        margin-right: -10px;
    }
    #footer #footer-navs
    {
        padding-top: 15px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    #footer-navs >.row
    {
        padding-left: 0;
    }
    #footer-navs .row >div .panel  
    {
        margin-bottom: 5px;
    }
    #footer-navs .row >div .panel .panel-heading
    {
        position: absolute;
    }
    #footer-navs .row >div .panel .panel-body
    {
        margin-bottom: 0;
        padding-left: 66px;
    }
    #footer-navs div.list-group
    {
        margin-bottom: 0;
    }
    #footer-navs div.list-group a
    {
        display: inline-block;
        width: 60px;
    }
    #footer #footer-navs .row > div .panel-heading
    {
        padding-bottom: 0;
        border-bottom-style: none;
        font-size: 0.9em; font-family: inherit;
        line-height: 1.8em;
    }
    #footer #footer-navs .row > div a
    {
        font-size: 0.9em;
    }
    #footer-copyright
    {
        padding-left: 0;
    }
    #footer-copyright >div
    {
        padding-left: 10px;
    }
    #footer-copyright >div:first-child
    {
        margin-bottom: 5px;
    }
}

/*****************
    w640
*****************/
@media (min-width: 640px) and (max-width: 767px){
	#page-default-center-r1{
		margin-left:-5px; margin-right:-5px;
	}
  	#page-default-center-r1 >div.col-md-4
	{
		float: left;
		padding-left:5px; padding-right:5px;
		width: 33.3%;
	}
	#page-default-center-r2c1 .panel-body
    {
        padding: 0; 
		height:150px ; overflow:hidden; line-height:175%;
	}
}

@media (min-width: 480px) and (max-width: 639px) 
{
	#page-default-center-r2c1 .panel-body
    {
		height:116px ; overflow:hidden; line-height:160%;
	}
}

/*****************
    w768
*****************/
@media (min-width: 768px) and (max-width: 991px) {
    
/**  navbar  **/  
  #navbar #navbar-collapse > ul > li > a
  {
      padding-left: 20px;
      padding-right: 20px;
  }
  #navbar #navbar-collapse ul.dropdown-menu
  {
      width: 97px;
  }
  #page-default-rightcol-r1 {
	 margin-left:-5px; margin-right:-5px; 
  }
  #page-default-rightcol-r1 > div.panel-default{
	 floag:left; width:33.3%;float:left; padding-left:5px; padding-right:5px;
  }
  #page-default-rightcol-r1 ul.list-group li.list-group-item a
    {
        max-width: 70%;
    }
}

/*****************
    w960
*****************/
@media screen and (min-width: 992px)     
{
    
/**  breadcrumb  **/  
    div.col-md-push-3 #breadcrumb
    {
        margin-left: 24px;
        margin-right: 0;
    }
    .col-md-9 #breadcrumb
    {
        margin-left: 0;
        margin-right: 24px;
    }
    
/**  main-content  **/
    .main-content-right
    {
        padding-left: 24px;
        margin-bottom: 30px;
        border-left: 1px solid #e9e9e9;
    }
        .main-content-right >.row
        {
            margin-right: 0;
        }
    .main-content-left
    {
        padding-right: 24px;
        margin-bottom: 30px;
        border-right: 1px solid #e9e9e9;
    }
        .main-content-left >.row
        {
            margin-left: 0;
        }
}