body{ font-family:微软雅黑; font-size:12px; padding:0;}
.blue{ color:#0097db;}
.brown{ color:#c16d00;}
.pink{ color:#ff5d5d;}
.orange{ color:#ff8b00}
.icon-ps{background:url('/images/icon01.png') no-repeat left top; display:block; width:16px; height:13px; overflow:hidden;}
.icon-gth{background:url('/images/icon01.png') no-repeat -18px top; display:block; width:16px; height:16px; overflow:hidden;}
/*正文*/
#navbar{ border-bottom:4px solid #0097db; background:url('/images/bg.jpg') repeat-x left bottom; position:relative; border-radius:0; margin-bottom:0;}
#navbar #navbar-brand{ margin-top:26px; margin-left:0;}
#navbar #navbar-collapse{ background-color:transparent;}
#navbar #navbar-collapse .navbar-nav{ float:right;}
#navbar #navbar-collapse>ul>li{ border:none;}
#navbar #navbar-collapse>ul>li>a{ padding:40px 30px; color:#999; font-size:15px;}
#navbar #navbar-collapse>ul>li.active>a,
#navbar #navbar-collapse>ul>li:hover>a{ background-color:transparent; color:#0097db;}
#footer{ background-color:#2c3e50;}
#footer #footer-navs{ background-color:transparent;}
#footer #footer-navs .row>div .panel-heading{ font-size:15px;}
#footer #footer-navs .row>div .list-group .list-group-item{ font-family:Arial; font-size:14px; color:#fff;}
#content{ border-left:2px solid #dcdcdc; border-right:2px solid #dcdcdc; background-color:#f2f2f2;}
#aside{ padding:0; z-index:2;}
#aside .panel-default{ border:none;}
#aside .panel-default>.panel-heading{ font-size:16px; padding:11px; border-bottom:1px solid #d1d1d1; margin-bottom:0;}
#aside .panel-default .panel-body .list-group>.nav>li{border-bottom:1px solid #d1d1d1; padding-bottom:10px;}
#aside .panel-default .panel-body .list-group>.nav>li:last-child{ border-bottom:none;}
#aside .panel-default .panel-body .list-group>.nav>li>a{ font-size:14px;}
#aside .panel-default .panel-body .list-group .nav>li>a:hover,
#aside .panel-default .panel-body .list-group .nav>li>a:focus{ background-color:transparent;}
#aside .panel-default .panel-body .list-group>.nav>li>.nav li a{ padding-left:25px; margin-left:-2px; margin-right:-2px;}
#aside .panel-default .panel-body .list-group>.nav>li>.nav li.active a,
#aside .panel-default .panel-body .list-group>.nav>li>.nav li a:hover,
#aside .panel-default .panel-body .list-group>.nav>li>.nav li a:focus{ background-color:#0097db; color:#fff;}
#aside .panel-default .panel-body .list-group>.nav>li>.nav li.active a:after {border-bottom:13px solid transparent;  border-right:13px solid #fff; border-top:13px solid transparent; content:" "; display:inline-block; height:26px; position:absolute; right:0; top:6px;}
.helpdetail{ border-left:2px solid #dcdcdc; background-color:#fff; z-index:1;}
.helpdetail .title{ font-size:15px; padding:13px 0; border-bottom:1px solid #d1d1d1;}

/*帮助中心-进口税费*/
.tax-page{ padding:10px 0;}
.tax-page h5{ border-left:2px solid #0097db; padding-left:5px; line-height:1.0; font-weight:bold;}
.tax-page .guilei{ font-size:14px; margin-top:5px; margin-bottom:5px;}
.tax-page .paixu{ background-color:#f7f7f7; margin:10px 0; padding:10px 0;}
.tax-page .table{ background-color:#f8f8f8;}
.tax-page .table-bordered > thead > tr > th{ background-color:#f3f3f3; background:url('http://imgs.cdn.birdex.cn/libg.png') no-repeat left center;}
.tax-page .table-bordered > thead > tr > th:first-child{background-image:none;}
.tax-page .text-center > thead > tr > th{ text-align:center;}
.tax-page .table-bordered > thead > tr > th,
.tax-page .table-bordered > tbody > tr > th,
.tax-page .table-bordered > tfoot > tr > th,
.tax-page .table-bordered > thead > tr > td,
.tax-page .table-bordered > tbody > tr > td,
.tax-page .table-bordered > tfoot > tr > td{ border-left:none; border-right:none; padding:12px 8px;}
.right{background:url('http://imgs.cdn.birdex.cn/arrowright.png') no-repeat left center;min-height:20px;height:auto;overflow:hidden;}

/*弹出窗*/
.modal-dialog .modal-header{ color:#0097db; font-size:15px; margin-bottom:12px;}
/*小弹出窗*/
.small-box .control-label{ text-align:right; padding-top:6px; padding-bottom:6px;}
.small-box .form-group em{ font-size:12px; font-style:normal; color:#0097db;}
.small-box .btn-primary{ padding-left:25px; padding-right:25px;}
.small-box .btn-default{ padding-left:25px; padding-right:25px; background-color:#e6e6e6;}
.small-box a.btn-default{ padding-left:0; padding-right:0;}
.small-box a.btn-default:hover,
.small-box a.btn-default:focus,
.small-box a.btn-default:active,
.small-box a.btn-default.active{background-color:#428bca; border-color:#357ebd; color:#fff;}
/*已破损包裹的图片*/
.damaged-box #damaged-dphoto{ border:1px solid #393939;}
.damaged-box #damaged-xphoto{ position:relative;}
.damaged-box #damaged-xphoto .damaged-left{ position:absolute; left:0; width:20px; height:62px; line-height:62px; border:1px solid #393939; overflow:hidden; text-align:center;}
.damaged-box #damaged-xphoto .damaged-right{ position:absolute; right:0; width:20px; height:62px; line-height:62px; border:1px solid #393939; overflow:hidden; text-align:center;}
.damaged-box #damaged-xphoto .xxpic{ padding:0 85px 0 25px; height:62px; overflow:hidden;}
.damaged-box #damaged-xphoto .xxpic>div{ padding:0 5px 0 0;}
.damaged-box #damaged-xphoto .xxpic .thumbnail{ margin:0; border:1px solid #393939; height:62px;}
.damaged-box #damaged-xphoto .xxpic .thumbnail:hover{border:5px solid #0097db;}
.damaged-box #damaged-xphoto .xxpic #increase{ position:absolute; right:25px; padding:0; width:60px; height:62px; line-height:62px; border:1px solid #393939; text-align:center; background-color:#fff; overflow:hidden;}
.damaged-box #damaged-xphoto .xxpic #increase a{ display:block;}
.damaged-box h5{ margin-top:0;}
.damaged-box .icon-ps{ float:left; margin-top:3px; margin-right:4px;}
.damaged-box .xzpic .thumbnail{ border:1px solid #393939;}
.damaged-box textarea.form-control{ font-size:12px; margin-bottom:10px;}
.increase{border:1px solid #393939; display:block; height:36px; line-height:36px; text-align:center; overflow:hidden;}
.damaged-box .icon-gth{ float:left; margin-right:4px;}
/*一张图看懂通关策略*/
#clearance{ width:790px; margin:0 auto; background-color:#e9e9e9; padding-top:30px; overflow:hidden; font-size:16px;}
#clearance .pktc-heading{ position:relative; font-family:黑体; font-size:128px; text-align:center; line-height:100%; border-bottom:1px solid #cfcfcf; padding-bottom:20px;}
#clearance .pktc-heading .bird-pic{ position:absolute; bottom:-40px; right:22%;}
#clearance .mian{ margin:0 auto; width:700px;}
#clearance h1{ position:relative; font-size:48px; text-align:center; margin-top:60px; margin-bottom:50px;}
#clearance h1 .bird-pic{ position:absolute; bottom:-50px; right:1%;}
#clearance h4{ font-size:30px;}
#clearance .cl-bj{ height:40px; background:url('http://imgs.cdn.birdex.cn/img04.png') repeat-x left center;}
#clearance .cl-bg{ height:40px; background:url('http://imgs.cdn.birdex.cn/img13.png') repeat-x left center;}
#clearance .cl-bb{ height:40px; background:url('http://imgs.cdn.birdex.cn/img25.png') repeat-x left center;}
#clearance .row{ margin:50px 0;}
#clearance hr{ border-color:#cecece;}
#clearance .hzp p{ font-size:24px;}
#clearance .hzp p span{ font-size:36px;}
/*新增包裹*/
.added-box .modal-header{ margin-bottom:0;}
.added-box .alert{ margin-bottom:2px; padding-top:8px; padding-bottom:8px;}
.added-box h5 .fa{ font-size:16px; color:#0097db;}
.added-box .form-control{ font-size:12px;}
.added-box .pro-table-th{ margin:0 0 12px; background-color:#ebebeb; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;line-height:34px; padding-top:8px; padding-bottom:8px;}
.added-box .pro-table-th>div{ text-align:center; padding:0 10px; background:url('/images/libg.png') no-repeat left center;}
.added-box .pro-table-th>div:first-child{ text-align:left; background-image:none;}
.added-box .pro-table-th .zjnew{ display:block;}
.added-box .pro-table-th .zjnew .fa{ color:#ff8b00; font-size:28px; float:left; margin-top:3px; margin-right:4px;}
.added-box .pro-table-td{ margin:0; padding:10px 0 8px;}
.added-box .pro-table-td>div{line-height:34px; padding:2px 10px; text-align:center;}
.added-box .pro-table-td .form-control{ padding-left:4px; padding-right:4px;}
.added-box .td-bg{background-color:#ebebeb;}
.added-box .total>div{ text-align:left; background-image:none;}
.added-box .total>div small{ font-size:14px;}
.added-box .checkbox input{ margin-top:2px;}
.added-box .checkbox .fa{ margin-right:4px; font-size:14px;}
.added-box .pro-remark{ margin-left:-10px; margin-right:-10px; border-bottom:1px solid #e5e5e5; padding-bottom:12px;}
.added-box .pro-remark>div{ padding:0 10px;}
.added-box .modal-footer .btn{ padding-left:22px; padding-right:22px;}
@media (max-width: 319px) {
#clearance{ width:320px;}
}
@media (min-width: 320px) and (max-width: 479px) {
#clearance{ width:320px;}
#clearance{ font-size:12px;}
#clearance .hzp p{ font-size:15px;}
#clearance .hzp p span{ font-size:18px;}
}
@media (min-width: 480px) and (max-width: 639px) {
#clearance{ width:480px;}
}
@media (min-width: 640px) and (max-width: 767px) {
.small-box{ width:400px; margin:30px auto;}
#clearance{ width:640px;}
}
@media (max-width: 767px){
#navbar #navbar-toggle{ margin-right:10px; float:right}
#navbar #navbar-toggle-icon{ margin-right:5px; display:none;}
#navbar #navbar-brand{ margin-top:3px; text-align:left;}
#navbar #navbar-brand img{ height:36px; margin-left:10px;}
#footer-navs div.list-group .list-group-item{ display:inline-block; padding:5px;}
#mian{ border-left:none;}





.col-xs-nl{ margin-bottom:10px;}
.damaged-box #damaged-xphoto{ margin-bottom:20px;}
#clearance .pktc-heading{ font-size:56px;}
#clearance .pktc-heading .bird-pic{bottom:-20px;}
#clearance .pktc-heading .bird-pic img{ width:70px;}
#clearance h1 .bird-pic{bottom:-40px;}
#clearance h1 .bird-pic img{ width:70px;}
#clearance .mian{ width:auto;}
#clearance h1{ font-size:36px; margin-top:36px;}
#clearance h4{  font-size:20px;}
}
@media (min-width: 768px) and (max-width: 991px) {
#navbar #navbar-collapse>ul>li>a{ padding-left:15px; padding-right:15px;}
#mian{ border-left:none;}




.tax-page .guilei{ border-bottom:1px solid #ddd; padding-top:8px; padding-bottom:8px;}
.tax-page .guilei>div{ text-align:left;}
.col-xs-nl{ margin-bottom:10px;}
.damaged-box #damaged-xphoto{ margin-bottom:20px;}
#clearance .pktc-heading{ font-size:56px;}
#clearance .pktc-heading .bird-pic{bottom:-20px;}
#clearance .pktc-heading .bird-pic img{ width:70px;}
#clearance h1 .bird-pic{bottom:-40px;}
#clearance h1 .bird-pic img{ width:70px;}
#clearance .mian{ width:auto;}
#clearance h1{ font-size:36px; margin-top:36px;}
#clearance h4{  font-size:20px;}
}
@media (min-width: 768px) and (max-width: 991px) {
#navbar #navbar-collapse>ul>li>a{ padding-left:15px; padding-right:15px;}
#mian{ border-left:none;}




.tax-page .paixu .dl-horizontal dt{ width:30px; font-size:36px; line-height:1.1; font-family:Arial;}
.tax-page .paixu .dl-horizontal dd{ margin-left:36px;}
.small-box{ width:400px;}
.damaged-box .xzpic{ margin:0 -5px;}
.damaged-box .xzpic>div{ padding:0 5px;}
.added-box{ width:768px;}
#clearance{ width:750px;}
#clearance .xzbox{ position:relative; margin-top:36px; padding-left:290px; height:600px; background:url('http://imgs.cdn.birdex.cn/img20.png') no-repeat 130px 150px;}
#clearance .xzbox .row{ position:absolute; top:0; left:0;}
#clearance .xzbox .xxbo{ position:relative; top:-20px; left:-20px;}
#clearance .xzbox .qbbo{ position:relative; top:80px; right:40px;}
#clearance .xzbox .kbbo{ position:relative; top:0px; left:-20px;}
#clearance .xzbox .wzbo{ position:absolute; bottom:20px;}
}
@media (min-width: 992px){
#mian{ min-height:700px;}






.tax-page .paixu .dl-horizontal dt{ width:30px; font-size:36px; line-height:1.1; font-family:Arial;}
.tax-page .paixu .dl-horizontal dd{ margin-left:36px;}
.small-box{ width:400px;}
.damaged-box{ width:800px;}
.added-box{ width:860px;}
#clearance .xzbox{ position:relative; margin-top:36px; padding-left:290px; height:600px; background:url('http://imgs.cdn.birdex.cn/img20.png') no-repeat 130px 150px;}
#clearance .xzbox .row{ position:absolute; top:0; left:0;}
#clearance .xzbox .xxbo{ position:relative; top:-20px; left:-20px;}
#clearance .xzbox .qbbo{ position:relative; top:80px; right:40px;}
#clearance .xzbox .kbbo{ position:relative; top:0px; left:-20px;}
#clearance .xzbox .wzbo{ position:absolute; bottom:20px;}
}

/*---------------------------------------弹窗表现样式---------------------------------------------*/
/** common **/
.xubox_shade, .xubox_layer{position:fixed; _position:absolute;}
.xubox_shade{top:0; left:0; width:100%; height:100%; _height:expression(document.body.offsetHeight+"px");}
.xubox_layer{top:150px; left:50%; height:auto; width:310px; margin-left:-155px;}
.xubox_border, .xubox_title, .xubox_title i, .xubox_page, .xubox_iframe, .xubox_title em, .xubox_close, .xubox_msgico, .xubox_moves{position:absolute;}
.xubox_border{border-radius: 5px;}
.xubox_title{left:0; top:0;margin:0;}
.xubox_main{position:relative; height:100%; _float:left;}
.xubox_page{top:0; left:0;}
.xubox_load{background:url(default/xubox_loading0.gif) #fff center center no-repeat;}
.xubox_loading{display:block; float:left; text-decoration:none; color:#FFF; _float:none; }
.xulayer_png32{background:url(default/xubox_ico0.png) no-repeat;}
.xubox_moves{border:3px solid #333; cursor:move; opacity:0.7; filter:alpha(opacity=70);}

.xubox_msgico{width:32px; height:32px; top:52px; left:15px; background:url(default/xubox_ico0.png) no-repeat;}
.xubox_text{ padding-left:55px; float:left; line-height:25px; word-break:break-all; padding-right:20px; overflow:hidden; font-size:14px;}
.xubox_msgtype0{background-position:-91px -38px;} 
.xubox_msgtype1{background-position:-128px -38px }
.xubox_msgtype2{background-position:-163px -38px;}
.xubox_msgtype3{background-position:-91px -75px;}
.xubox_msgtype4{background-position:-163px -75px;}
.xubox_msgtype5{background-position:-163px -112px;}
.xubox_msgtype6{background-position:-163px -148px;}
.xubox_msgtype7{background-position:-128px -75px;}
.xubox_msgtype8{background-position:-91px -6px;}
.xubox_msgtype9{background-position:-129px -6px;}
.xubox_msgtype10{background-position:-163px -6px;}
.xubox_msgtype11{background-position:-206px -6px;}
.xubox_msgtype12{background-position:-206px -44px;}
.xubox_msgtype13{background-position:-206px -81px;}
.xubox_msgtype14{background-position:-206px -122px;}
.xubox_msgtype15{background-position:-206px -157px;}
.xubox_loading_0{width:60px; height:24px; background:url(default/xubox_loading0.gif) no-repeat;}
.xubox_loading_1{width:37px; height:37px; background:url(default/xubox_loading1.gif) no-repeat;}
.xubox_loading_2, .xubox_msgtype16{width:32px; height:32px; background:url(default/xubox_loading2.gif) no-repeat;}
.xubox_loading_3{width:126px; height:22px; background:url(default/xubox_loading3.gif) no-repeat;}


.xubox_title{width:100%;  height:35px; line-height:35px; border-bottom:1px solid #D5D5D5; background:url(default/xubox_title0.png) #EBEBEB repeat-x; cursor:move; font-size:14px; color:#333;}
.xubox_title em{display:block; height:20px; line-height:20px; width:80%; top:9px; left:10px; font-style:normal; overflow:hidden;}
.xubox_close0{ right:10px; top:10px; width:14px; height:14px; background-position: -31px -7px; cursor:pointer; overflow:hidden;}
.xubox_close0:hover{background-position:-51px -7px;}
.xubox_close1{ right:-20px; top:-21px; width:34px; height:30px; background-position: -5px -252px; cursor:pointer; overflow:hidden;  _right:3px; _top:3px; _width:14px; _height:14px; _background-position:-31px -7px;}
.xubox_close1:hover{ background-position:-44px -252px; _background-position:-51px -7px;}
.xubox_botton a{position:absolute; bottom:10px; left:50%; background:url(default/xubox_ico0.png) repeat; text-decoration:none; color:#FFF;  font-size:14px;  text-align:center; font-weight:bold; overflow:hidden; }
.xubox_botton a:hover{text-decoration:none; color:#FFF; }
.xubox_botton .xubox_botton1{ width:79px; height:32px; line-height:32px; margin-left:-39px; background-position:-6px -34px;}
.xubox_botton1:hover{background-position:-6px -72px;}
.xubox_botton .xubox_botton2{margin-left:-76px; width:71px; height:29px; line-height:29px; background-position:-5px -114px;}
.xubox_botton2:hover{ background-position:-5px -146px;}
.xubox_botton .xubox_botton3{width:71px; height:29px; line-height:29px; margin-left:10px; background-position:-81px -114px;}
.xubox_botton3:hover{background-position:-81px -146px;}
.xubox_tips{position:relative; line-height:20px; padding:3px 30px 3px 10px; font-size:12px; _float:left; border-radius:3px; box-shadow: 1px 1px 3px rgba(0,0,0,.3);}
.xubox_tips i.layerTipsG{ position:absolute;  width:0; height:0; border-width:8px; border-color:transparent; border-style:dashed; *overflow:hidden;}
.xubox_tips i.layerTipsT, .xubox_tips i.layerTipsB{left:5px; border-right-style:solid;}
.xubox_tips i.layerTipsT{bottom:-8px;}
.xubox_tips i.layerTipsB{top:-8px;}
.xubox_tips i.layerTipsR, .xubox_tips i.layerTipsL{top:1px; border-bottom-style:solid;}
.xubox_tips i.layerTipsR{left:-8px;}
.xubox_tips i.layerTipsL{right:-8px;}