﻿.banner-block {
  height: 400px;
}
.banner-block .notice-warp {
  width: 1150px;
  position: relative;
  margin: 0 auto;
}
.banner-block .notice-warp .notice {
  border: solid 5px #3A7BD5;
  border-radius: 8px;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 10;
  width: 235px;
  height: 305px;
  padding: 15px 10px;
  background: #ffffff;
  opacity:1;
  font-size: 14px;
}
.banner-block .notice-warp .notice > .title {
  height: 28px;
  line-height: 28px;
  border-bottom: solid 1px #999;
  margin-bottom: 15px;
  color: #373238;
  font-size:20px;
}
.banner-block .notice-warp .notice > .title > .seicon {
  margin-right: 5px;
}
.banner-block .notice-warp .notice > ul {
  padding-left: 20px;
  color: #2992E3;
}
.banner-block .notice-warp .notice > ul > li {
  line-height: 26px;
  list-style-type: disc;
  font-size:14px;
  color:#000000;
}
.banner-block .notice-warp .notice .new > a {
  color: red;
}
.banner-block .notice-warp .notice > ul > li > a {
  color: #666;
  background: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  overflow: hidden;
  display:block;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:14em;
}
.banner-block .notice-warp .notice > ul > li > a:hover {
  color: #2baee9;
  font-size:18px;
}
.banner-block .notice-warp .notice > ul > li > a:active {
  color: #57c5f7;
}
.banner-block .notice-warp .notice > ul > li > a:active,
.banner-block .notice-warp .notice > ul > li > a:hover {
  outline: 0;
  text-decoration: none;
}
.banner-block .notice-warp .notice > ul > li > a[disabled] {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

.mian {
	width: 946px;
}

#head {
	border-bottom: none;
}

#search {
	position: relative;
	margin: 15px auto;
	width: 100%; /*overflow:hidden;*/
}

#search .mian {
	padding-top: 20px;
}


#search .mian input{
  border: solid 7px #E5ECFE;
  border-radius: 8px;
  width: 560px;
  height: 45px;
  font-size: 20px;
}

#search .mian .searchTap{
	margin-bottom: 5px;
}

.note {
	float: left;
	width: 182px;
	padding-left: 5px;
	height: 84px;
	padding-top: 20px;
	background: url('../img/note.png') no-repeat right center;
	overflow: hidden;
}

.note p {
	font-size: 16px;
	color: #fff;
	line-height: 30px;
}

.note p span {
	color: #9fb0c0;
}

.find {
	float: right;
	width: 755px;
	padding-top: 30px;
	text-align: right;
	font-size: 16px;
	color: #9fb0c0;
	line-height: 47px; /*overflow:hidden;*/
}

.find input {
	float: right;
	margin-left: 21px;
}

.Outcome {
	position: absolute;
	top: 690px;
	width: 686px; /*padding:20px 10px 0; */
	/* margin-left: 20px; */
	margin-top: 10px;
	text-align: left;
	background: url('../img/Outcome.png') center top;
	overflow: hidden;
	z-index: 99;
}

.Outcome p {
	width: 94%;
	margin: 8px auto;
}

.Outcome .input33 {
	margin: 3px 0 0 8px;
	float: left;
}
/*流程（等待入库、出库、空运中、清关、收货）*/
.PROcess {
	width: 100%;
	padding: 0 0 16px;
	overflow: hidden;
}

.PROcess li {
	float: left;
	text-align: center;
	overflow: hidden;
}

.PROcess li.newCode {
	width: 100%;
	margin-left: 18px;
	/*margin-top: 2px;*/
	height:44px;
	font-size: 14px;
}

.PROcess li span.wz {
	float: left;
	width: 100%;
	height: 28px;
	line-height: 28px;
	overflow: hidden; 
	font-size: 18px;
}

.PROcess li span.wz2 {
	float: left;
	width: 160px;
}

.express_text{float:left;width:500px;text-align:left;margin-left: 5px;}

.PROcess li span.tp {
	float: left;
	width: 100%;
	height: 29px;
	background: url('../img/Next_gray.png') no-repeat -4px center;
	overflow: hidden;
}

.PROcess li span.tp i {
	display: inline-block;
	width: 18px;
	height: 29px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.PROcess li.Next01,.PROcess li.Next07 {
	width: 22px;
}

.PROcess li.Next01 span.tp {
	background: url('../img/Next01.png') no-repeat left 11px;
}

.PROcess li.Next07 span.tp {
	background: url('../img/Next07.png') no-repeat right 11px;
}

.PROcess li.green span.tp {
	background-image: url('../img/Next_green.png');
}

.PROcess li.blue span.tp {
	background-image: url('../img/Next_blue.png');
}

.PROcess li.green span.hover01 {
	background-image: url('../img/Next01_green.png');
}

.PROcess li.green span.hover07 {
	background-image: url('../img/Next07_green.png');
}

.icon27 {
	background-image: url('../img/icon27.png');
}

.icon28 {
	background-image: url('../img/icon28.png');
}

.icon29 {
	background-image: url('../img/icon29.png');
}

.icon30 {
	background-image: url('../img/icon30.png');
}

.icon31 {
	background-image: url('../img/icon31.png');
}

#banner {
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

#banner .mian {
	margin: -211px auto 0;
	z-index: 2;
}

#banner .mian .road {
	width: 166px;
	height: 118px;
	padding-top: 70px;
	background: url('../img/road.png') no-repeat center top;
	overflow: hidden;
}

#banner .mian .road p {
	font-size: 14px;
	color: #fff;
	text-align: right;
}

#banner .mian .road p span {
	font-family: Arial;
	font-size: 60px;
}

#container {
	position: relative;
	width: 100%; /*padding-top:68px;*/
	overflow: hidden;
}

.tabbox {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

.tab_conbox {
	border: none;
}

.tab_con {
	display: none;
}

.tabs {
	width: 100%;
	height: 142px;
	border-bottom: 1px solid #e3e3e3;
}

.tabs li {
	float: left;
	width: 106px;
	height: 143px;
	padding-left: 225px;
	background: url('../img/icon41.png') no-repeat 107px 36px;
	overflow: hidden;
}

.tabs li.no {
	padding-left: 68px;
	background-image: none;
}

.tabs li a {
	display: block;
	width: 106px;
	height: 142px;
	outline: none;
	font-size: 18px;
	text-align: center;
	overflow: hidden;
}

.tabs li a i {
	float: left;
	display: block;
	width: 100%;
	height: 111px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.tabs li a:hover,.tabs .thistab a,.tabs .thistab a:hover {
	text-decoration: none;
	color: #0098db;
	border-bottom: 1px solid #0098db;
	background: url('../img/icon_tab02.png') no-repeat center top;
}

.tabs li a:hover i.icon42,.tabs .thistab a i.icon42,.tabs .thistab a:hover i.icon42
	{
	background-image: url('../img/icon42_blue.png');
}

.tabs li a:hover i.icon43,.tabs .thistab a i.icon43,.tabs .thistab a:hover i.icon43
	{
	background-image: url('../img/icon43_blue.png');
}

.tabs li a:hover i.icon44,.tabs .thistab a i.icon44,.tabs .thistab a:hover i.icon44
	{
	background-image: url('../img/icon44_blue.png');
}

.tab_a {
	display: block;
	width: 106px;
	height: 142px;
	outline: none;
	color: #888;
	font-size: 18px;
	text-align: center;
	background: url('../img/icon_tab01.png') no-repeat center top;
	overflow: hidden;
}

.tab_a_hover {
	text-decoration: none;
	color: #0098db;
	border-bottom: 1px solid #0098db;
	background: url('../img/icon_tab02.png') no-repeat center top;
}

.icon42_hover {
	background-image: url('../img/icon42_blue.png');
}

.icon43_hover {
	background-image: url('../img/icon43_blue.png');
}

.icon44_hover {
	background-image: url('../img/icon44_blue.png');
}

.tab_con {
	padding: 100px 70px 100px 0;
}

.tab_con h1 {
	font-family: Arial;
	font-size: 36px;
	line-height: 36px;
}

.tab_con h2 {
	font-size: 36px;
	line-height: 36px;
	padding: 40px 0 20px;
}

.tab_con p {
	width: 66%;
	font-size: 16px;
	line-height: 28px;
}

#container .about {
	margin: 0 auto;
	width: 100%;
	padding: 130px 0;
	background-color: #f9f9f9;
	overflow: hidden;
}

#container .about .mian {
	height: 560px;
	background: url('../img/about.jpg') no-repeat;
}

#container .about .mian p {
	font-size: 16px;
	padding-left: 428px;
	line-height: 24px;
}

#container .about .mian p.row01 {
	font-size: 48px;
	line-height: 48px;
	color: #0098db;
	padding-bottom: 10px;
}

#container .about .mian p.row02 {
	font-size: 44px;
	line-height: 48px;
	color: #0098db;
	font-family: Arial;
	text-indent: 70px;
}

#container .about .mian p.row03,#container .about .mian p.row07,#container .about .mian p.row12
	{
	font-size: 24px;
	color: #0098db;
	text-indent: 105px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#container .about .mian p.row04 {
	text-indent: 114px;
}

#container .about .mian p.row05 {
	text-indent: 128px;
}

#container .about .mian p.row06 {
	text-indent: 132px;
}

#container .about .mian p.row07 {
	text-indent: 132px;
}

#container .about .mian p.row08 {
	text-indent: 136px;
}

#container .about .mian p.row09 {
	text-indent: 130px;
}

#container .about .mian p.row10 {
	text-indent: 122px;
}

#container .about .mian p.row11 {
	text-indent: 115px;
}

#container .about .mian p.row12 {
	text-indent: 100px;
}

#container .about .mian p.row13 {
	text-indent: 76px;
}

#container .about .mian p.row14 {
	text-indent: 60px;
}

#container .about .mian p.row15 {
	text-indent: 36px;
}

#container .about .mian p.row16 {
	text-indent: 10px;
}

#container .about .mian p.row17 {
	padding-left: 390px;
}

#container .charges {
	margin: 0 auto;
	width: 100%;
	padding: 50px 0 80px;
	background: url('../img/index04.jpg') repeat-x center top #0098db;
	overflow: hidden;
}

#container .charges h1 {
	font-size: 48px;
	line-height: 48px;
	color: #fff;
	padding-bottom: 30px;
}

#container .charges h2 {
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	padding-bottom: 10px;
}

#container .charges p {
	font-size: 16px;
	line-height: 26px;
	color: #fff;
}

#container .charges .standard {
	width: 100%;
	padding-top: 56px;
	overflow: hidden;
}

#container .charges .standard li i {
	float: left;
	display: block;
	width: 100%;
	height: 86px;
	background-repeat: no-repeat;
	background-position: center top;
	overflow: hidden;
}

#container .charges .standard li .high {
	width: 100%;
	height: 128px;
	overflow: hidden;
}

#container .charges .standard li a {
	display: inline-block;
	width: 154px;
	height: 57px;
	line-height: 57px;
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	background: url('../img/standard02.png') no-repeat;
	overflow: hidden;
}

#container .charges .standard li a:hover {
	background-image: url('../img/standard01.png');
}
/*201512*/
.Grade {
	width: 96%;
	padding: 20px 2%;
	background-color: #fff;
	overflow: hidden;
}

.Grade table {
	margin: 20px auto 10px;
	width: 99%;
	border-collapse: collapse;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
}

.Grade tr td,.list10 tr th {
	padding: 5px 0;
	font-size: 14px;
	background-color: #f5f5f5;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	float: none;
}

.Grade tr th {
	padding: 15px 0;
}

.Grade tr td.background-none,.list10 tr th.background-none {
	background: none;
}

.Grade tr td.Num01,.Grade tr td.Num02,.Grade tr td.Num03,.Grade tr td.Num04
	{
	height: 80px;
	padding-bottom: 24px;
	background: url('../img/Grade01.png') no-repeat center 5px #f5f5f5;
	color: #fff;
	line-height: 30px;
}

.Grade tr td.Num02 {
	background-image: url('../img/Grade02.png');
}

.Grade tr td.Num03 {
	background-image: url('../img/Grade03.png');
}

.Grade tr td.Num04 {
	background-image: url('../img/Grade04.png');
}

.Grade tr td p {
	margin: 0;
	line-height: 22px;
	text-indent: 0px;
}

.Grade tr .button_bule {
	padding: 0px 14px;
	height: 38px;
	line-height: 38px;
	font-family: "Arial";
	font-size: 14px;
	margin: 0 0 10px;
}

.Grade tr .box_red {
	display: inline-block;
	width: 10px;
	height: 3px;
	background-color: #ff4736;
	overflow: hidden;
}

.slogan {
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	padding-top: 40px;
}

.standard {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
}

.pricest {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.pricest-line {
	border-bottom: 2px solid #E5ECFE;
	margin: 0 auto;
	clear: both;
	margin-top: 10px;
}

.std-fi {
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;
	height: 35px;
}

.std-fi-lif {
	float: right;
	text-align: center;
}

.std-fi-lis {
	float: right;
	width: 16%;
	text-align: center;
	margin-right: 2px;
}

.std-se {
	margin: 0 auto;
	clear: both;
}

.std-se-litx{
  float: right;
  text-align: center;
  margin-right: 2px;
  font-size: 22px;
  height: 36px;
  color: white;
  background: url('../img/copp.jpg') center top no-repeat;
  line-height: 34px;
}

.std-se-lif {
	float: right;
	background: #e6e6e6;
	text-align: center;
	height: 40px;
}

.std-se-lis {
	float: right;
	background: #e6e6e6;
	text-align: center;
	margin-right: 2px;
	height: 40px;
}

.std-se-lit {
	float: right;
	background: #e6e6e6;
	text-align: center;
	margin-right: 2px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bolder;
}

.std-se-lit-span {
	float: right;
	text-align: center;
	margin-right: 2px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bolder;
}

.std-se-lifo {
	float: right;
	background: #f7f7f9;
	text-align: center;
	line-height: 40px;
	font-weight: bolder;
}

.std-se-span {
	font-size: 16px;
}

.std-se-p {
	font-size: 16px;
	color: #666;
}

.std-se-lifv {
	float: right;
	background: #f7f7f9;
	text-align: center;
	margin-right: 2px;
	line-height: 40px;
	font-weight: bolder;
}

.std-se-lisx {
	float: right;
	background: #e6e6e6;
	text-align: center;
	line-height: 40px;
}

.std-se-lise {
	float: right;
	background: #e6e6e6;
	text-align: center;
	margin-right: 2px;
	line-height: 40px;
}

.std-se-lieg {
	float: right;
	background: #f7f7f9;
	text-align: center;
	margin-right: 2px;
	line-height: 40px;
}

.guid {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.guid .mian {
	background-color: #748EA0;
	height: 170px;
	width:100%;
}

.guid-lif {
	float: left;
	margin-top: 60px;
	margin-left: 7%;
}

.guid-lif-pf {
	color: #fff;
	font-size: 30px;
}

.guid-lif-ps {
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
}

.guid-lis {
	float: left;
	margin-left: 30px;
	margin-top: 50px;
}

.guid-lit {
	float: left;
	color: #fff;
	margin-top: 70px;
	font-size: 15px;
	margin-left: 20px;
}

.container .active a {
	color: #2473ba;
}

.banner {
	height: 420px;
	overflow: hidden;
}

.banner .d1 {
	width: 100%;
	height: 420px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
}

.banner .d2 {
	width: 100%;
	height: 30px;
	clear: both;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 400px;
	text-align: center;
}

.banner .d2 ul {
 	min-width:60px;
 	margin: 0 auto;
	display: inline-block;
}

.banner .d2 li {
	width: 17px;
	height: 15px;
	overflow: hidden;
	cursor: pointer;
	background: url(../img/icon40.png) no-repeat center;
	float: left;
	margin: 0 3px;
	display: inline;
}

.banner .d2 li.nuw {
	background: url(../img/icon39.png) no-repeat center;
}
/*右边列表（包裹管理）包裹空间是空的，现在就去预报*/
.Additional {
	width: 100%;
	padding: 250px 0;
	text-align: center;
	overflow: hidden;
}

.Additional dt {
	margin: 0 auto;
	width: 100px;
	height: 47px;
	padding-top: 28px;
	background: url('http://img.cdn.birdex.cn/images/Additional.jpg')
		no-repeat center top;
	overflow: hidden;
}

.Additional dd {
	width: 100%;
	padding-top: 16px;
	font-size: 22px;
	line-height: 28px;
	color: #b5b5b5;
	overflow: hidden;
}

.triangle-address {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CDCDCD;
	border-radius: 5px;
	color: #333333;
	margin: 1em 0 3em;
	padding: 10px;
	position: relative;
	box-shadow: -2px 0px 8px #e6e6e6, 0px -2px 8px #e6e6e6, 0px 2px 8px
		#e6e6e6, 2px 0px 8px #e6e6e6;
}

.triangle-address div {
	height: auto;
	min-height: 20px;
}

.triangle-address.left {
	margin-left: 10px;
}

.triangle-address.right {
	margin-right: 10px;
}
/*service*/
.divService,.divTax {
	position: absolute;
	background-color: transparent;
}

.divTax {
	margin-top: 20px;
}

.divService {
	padding-top: 30px;
}

ss {
	position: absolute;
	top: 18px;
	left: 75px;
	display: block;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border-color: transparent rgba(0, 0, 0, 0) #0097db;
	border-style: dashed dashed solid dashed;
	border-width: 6px;
}

si {
	position: absolute;
	top: -9px;
	*top: -9px;
	left: -10px;
	display: block;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	border-color: transparent transparent #FFFFFF transparent;
	border-style: dashed dashed solid dashed;
	border-width: 10px;
}

.count {
	background: none repeat scroll 0 0 #E0725B;
	border-radius: 12px;
	color: #FFFFFF;
	cursor: default;
	float: left;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	margin: 0 4px;
	text-align: center;
	width: 24px;
}

.divTax ul {
	line-height: 22px;
}

.divTax ul li {
	float: left;
	padding-left: 10px;
}

.noShow {
	display: none;
}
