﻿.help{padding:40px 0; width:1021; overflow:hidden;}
.help .nav-sz,
.help .nav-wz{ width:98%; padding-left:2%; overflow:hidden;}
.help .nav-sz li{ float:left; width:45px; height:36px; text-align:center; overflow:hidden;}
.help .nav-sz li.xx{ width:35px; background:url('/images/help_xx.jpg') no-repeat center center;}
.help .nav-sz li.jt{ width:35px; background:url('/images/help_jt.jpg') no-repeat center center;}
.help .nav-sz li.first-child{ padding-left:0;}
.help .nav-wz li{ float:left; width:80px; padding-top:8px; text-align:center; overflow:hidden;}
.help .row{ width:98%; margin:0 auto; padding-top:80px; overflow:hidden;}

.help .row .left{ float:left; width:228px; overflow:hidden; background:url('/images/help11.jpg') no-repeat left 0; padding-top:108px;}

.help .row .left h2{ font-size:28px; color:#0097db; font-weight:normal; margin-bottom:16px;}
.help .row .left h2 span{ font-size:50px; font-family:Myriad Pro,Arial; padding-left:18px;}
.help .row .left p{ font-size:14px; padding-left:24px;}

.help .row .right{position:relative; float:left; width:560px; min-height:436px; overflow:hidden;}
.help .row .right .help_arr_left{ position:absolute; top:110px; left:40px; width:60px; height:60px; overflow:hidden;}
.help .row .right .help_arr_right{ position:absolute; top:110px; right:0; width:60px; height:60px; overflow:hidden;}

.container{margin:0 auto;min-height:650px;overflow:hidden;width:90%;}
.cont-left{float: left;margin-top: 30px;width:160px;padding-left:20px;}
.cont-left-lif{font-size:16px;}
.cont-left-lif-ul{margin-top:5px;margin-left: 10px;}
.cont-left-lise{font-size:16px;margin-top:10px;}
.helpdetail{float:left;padding-left: 40px;margin-top: 30px;border-left:2px solid #ccc;min-height:650px;}