﻿.mian{
     width:1000px;
	 }
/*新增弹出窗样式*/
.modal-dialog{
    -webkit-box-shadow:0 4px 16px rgba(0,0,0,.2);-moz-box-shadow:0 4px 16px rgba(0,0,0,.2);box-shadow:0 4px 16px rgba(0,0,0,.2);background:#fff;background-clip:padding-box;border:1px solid #acacac;border:1px solid rgba(0,0,0,.333);outline:0; width:auto; padding:30px 42px;
	}
	.modal-dialog-title-close{
		height:11px;opacity:.7;padding:17px;position:absolute;right:0;top:0;width:11px}.modal-dialog-title-close:after{content:'';background:url('/images/close-x.png');position:absolute;height:11px;width:11px;right:17px;
		}
	.modal-dialog-title-close:hover{opacity:1}
	.modal-dialog .Whole{
		width:100%;
		}
	.modal-dialog .alter,
	.modal-dialog .login{
	    height:auto; background-image:none;
		}
	.modal-dialog .alter .box,
	.modal-dialog .login .box{
	    height:auto; width:auto; float:none;
		}
	.modal-dialog .List01{
	    width:819px;
		}
	.modal-dialog .List05{
	    width:776px;
		}
	.modal-dialog .Success{
	    width:700px;
		}
	.modal-dialog .List06{
	    width:776px;
		}
/*重置密码20140509*/
.input_Light_blue,
.input_Light_red{
      -webkit-box-shadow:0 4px 16px rgba(181,181,181,.3);
	  -moz-box-shadow:0 4px 16px rgba(181,181,181,.3);
	  box-shadow:0 4px 16px rgba(181,181,181,.3);
	  background:#fff;
	  background-clip:padding-box;
	  border:1px solid #b5b5b5;
	  border:1px solid rgba(181,181,181,.9);
	  outline:0;
	  padding-left:5px;
	  }
.input_Light_blue:hover,
.input_Light_blue:active{
    -webkit-box-shadow:0 0px 16px rgba(0,152,219,.2);
	-moz-box-shadow:0 0px 16px rgba(0,152,219,.2);
	 box-shadow:0 0px 16px rgba(0,152,219,.2);
	border:1px solid #0096d8;
	border:1px solid rgba(0,152,219,.9);
	}
.input_Light_red:hover,
.input_Light_red:active{
    -webkit-box-shadow:0 4px 16px rgba(208,36,43,.2);
	-moz-box-shadow:0 4px 16px rgba(208,36,43,.2);
	 box-shadow:0 4px 16px rgba(208,36,43,.2);
	border:1px solid #d53a40;
	border:1px solid rgba(208,36,43,.9);
	}
.input_all_red{
    -webkit-box-shadow:0 4px 16px rgba(208,36,43,.2);
	-moz-box-shadow:0 4px 16px rgba(208,36,43,.2);
	 box-shadow:0 4px 16px rgba(208,36,43,.2);
	border:1px solid #d53a40;
	border:1px solid rgba(208,36,43,.9);
 }
.Cas01{
    width:280px; height:39px; line-height:39px;
	}
.Cas02{
    width:180px; height:49px; line-height:49px;
	}
.background-color-blue{
   background-color:#0098db;
   }
   .forgotpassword{
       position:relative; margin:0 auto; padding:90px 0; min-height:403px; background-image:url(../img/lg.jpg);background-size: 100%;
	 }
	 .forgotpassword .modal-dialog{
	     border:none; width:320px; margin:0 auto; padding:0
		 }
		 .bt2{
		     margin:0 auto; width:90%; font-size:18px; color:#454545; padding:16px 0 10px; overflow:hidden;
			 }
			 .bt2 span{
			     font-size:12px;
				 }
		 .Box02{
			margin:0 auto; width:90%; overflow:hidden;
			}
			.Box02 dt{
				width:100%; line-height:28px; font-size:14px; color:#666; overflow:hidden;
				}
				.Box02 dt span{
					 font-size:12px;
					 }
			.Box02 dd{
				width:100%; padding:2px 0; overflow:hidden;
				}
				.Captcha{
					float:right; width:92px; overflow:hidden;
					}
		 .Bottm{
		     width:86%; padding:12px 7%; border-top:1px solid #bcbcbc; background-color:#f1f1f1; margin-top:16px; overflow:hidden;
			 }
			 .Bottm input{
			     font-size:16px; font-weight:normal; padding:0 10px; height:36px; line-height:36px; margin:0;
				 }
		 .Bottm2{
		     width:90%; padding:12px 5%; margin-top:16px; overflow:hidden;
			 }
             .Bottm2 input{
			     font-size:16px; font-weight:normal; padding:0 16px; height:44px; line-height:44px; margin:0;
				 }
			 .Other2{
				 float:right; width:140px; padding-left:18px; height:44px; border-left:1px solid #dcdcdc; overflow:hidden;
				 }
				 .Other2 dd{
					 width:100%; overflow:hidden;
					 }
					 .Other2 dd a{
						 padding-left:20px; background-repeat:no-repeat; background-position:left center; margin-right:10px; float:left;
						 }
