﻿/*新增弹出窗样式*/
.modal-dialog{
    -webkit-box-shadow:0 4px 16px rgba(0,0,0,.2);-moz-box-shadow:0 4px 16px rgba(0,0,0,.2);box-shadow:0 4px 16px rgba(0,0,0,.2);background:#fff;background-clip:padding-box;border:1px solid #acacac;border:1px solid rgba(0,0,0,.333);outline:0; width:auto; padding:30px 42px;
	}
	.modal-dialog-title-close{
		height:11px;opacity:.7;padding:17px;position:absolute;right:0;top:0;width:11px}.modal-dialog-title-close:after{content:'';background:url('/lmp/resource/img/close-x.png');position:absolute;height:11px;width:11px;right:17px;
		}
	.modal-dialog-title-close:hover{opacity:1}
	.modal-dialog .Whole{
		width:100%;
		}
	.modal-dialog .alter,
	.modal-dialog .login{
	    height:auto; background-image:none;
		}
	.modal-dialog .alter .box,
	.modal-dialog .login .box{
	    height:auto; width:auto; float:none;
		}
		
		
.modal-dialog h1{
	    width:100%; padding-bottom:10px; font-size:14px; font-weight:bold; overflow:hidden;
		}
		
.modal-dialog .box {
		     margin:0 auto; width:248px;  overflow:hidden;
			 }
.modal-dialog .box dt{
			      width:100%; line-height:28px; overflow:hidden;
				  }
.modal-dialog .box  dd{
			      width:100%; padding:1px 0; height:30px; line-height:30px; background:url('/lmp/resource/img/input01.png') no-repeat; padding-bottom:12px; overflow:hidden;
				  }
.modal-dialog .box dt .NoBackground{
				      background-image:none; height:32px;
					  }
.modal-dialog .box dd i{
				      float:right; width:25px; height:30px; background-position:left center; background-repeat:no-repeat;
}
.modal-dialog .box  dd input{
				      float:left; padding:0 5px; width:198px; height:30px; line-height:30px; border:none; background:none; overflow:hidden;
					  }
.ico-pwd{background-image:url('/lmp/resource/img/icon02.jpg');}
.ico-userName{background-image:url('/lmp/resource/img/icon01.jpg');}
