@CHARSET "UTF-8";
@media print {
	body {
		color: #000;
		background: #fff;
	}
	@page {
		margin:auto;
		margin: 2pt;
	}
	.my_show{
		height:21.30cm;
		width:10.16cm;
		font-size:12pt;
		border:1pt solid #000;
	}
	.my_show .top{margin-top: 10pt;height: 36%}
	
	.my_show .top .part_2{
		margin-top:10pt;
		border-top: 1pt solid #000;
		height:65pt;
	}
	.my_show .top .part_3{
		border-top:1pt solid #000;
		height: 50pt;
	}
	.my_show .logo_title{
		margin-left:10pt;
		float: left;
		width:180pt;
		margin-top: -15px;
	}
	.logo_title h1{
		margin:auto;
		margin:0px;
		font-size:50pt;	
		font-weight:bold;
	}
	
	.my_show  .middle{
	    border-top:2pt dashed #000;
	    height: 34%;
	}
	.my_show  .middle  .part_1{
		height: 120px;
		margin-top: 10pt;
	}
	.my_show  .middle .part_2{
		border-top:1pt solid #000;
		height: 20pt;
		line-height: 20pt;
	}
	.my_show  .middle .part_3{
		border-top:1pt solid #000;
		height: 100pt;
	}
	.my_show .buttom{
		border-top:2pt dashed #000;
		height: 30%;
	}
	.my_show .buttom .part_1{
		margin-top: 5pt;
	}
	.my_show .code{position: relative;float: left}
	.td_style1{
		border-bottom:1pt solid #000;
		border-top:1pt solid #000;
	}
	.td_style2{
		border-bottom:1pt solid #000;
		height: 20pt;
	}

	.title_black{
		font-size:15pt;
		font-weight: bold;
		float: left;
		color: #000;
		margin-left: 8pt;
	}
	.print_text{
		float:left;
		width:10pt;
		overflow: hidden;
	}
	#128Code1{
		float:left;
		margin-left:10pt;
		margin-top:20pt;
	}
	
	#128Code2{
		float:left;margin-left:1pt;margin-top:14pt;
	}
	.print_footer{
		clear: both;
		margin-top: 10pt;
	}
	.code2{
		float: left;
		margin-left: 10pt;
	}
	.qr_code{
		float: left;
		margin-left: 30pt;
	}
	.text_left{
		margin-left: 10pt;
		width: 120pt;
		float: left;
	}
	.site{
		clear: both;
	}
	.addr_context{
		clear: both;
		height:25pt;
		margin-top:5pt;
		margin-bottom:5pt;
	}
	.title_addr{
		float: left;
		clear: both;
	}
	.text_addr{
		float: left;
		margin-left: 1pt;
		min-height:30pt;
		width: 250pt;
	}
}