@CHARSET "UTF-8";
	@font-face {
			  font-family: 'Glyphicons Halflings';
			}
		
	.glyphicon {
	  position: initial;
	  top: 1px;
	  display: table-header-group;
	  font-family: 'Glyphicons Halflings';
	  -webkit-font-smoothing: antialiased;
	  font-style: oblique;
	  font-weight: bolder;
	  line-height: normal;
	  -moz-osx-font-smoothing: grayscale;
	}
	.table thead tr th{
		border-top: 0;
	    text-align: center;
		color: #5E9CD2
	}
	.control-label{
		color: #5E9CD2
	}
	.modal-content{
		color: #5E9CD2
	}
    .modal-body{
        position: relative;
	    padding-top: 30px;
	    padding-bottom: 60px;
	}
	.modal-header{
		min-height: 16.43px;
	    padding: 15px;
	    border-bottom: 1px solid #e5e5e5;
	    position: static;
	    padding-top: 10px;
	    padding-bottom: 30px;
	}
	.table tbody tr td{
		padding: 8px;
	    line-height: 1.42857143;
	    vertical-align: middle;
	    border-top: 1px solid #ddd;
	}
	