﻿.form-horizontal {
  max-width: 440px;
  padding: 15px;
  margin: 0 auto;
  font-size:13px;
}
.form-horizontal div.col-xs-6,.form-horizontal div.col-xs-8,.form-horizontal div.col-xs-3,.form-horizontal div.col-xs-4,.form-horizontal div.col-xs-9{
    padding:0;
}
.form-horizontal label{
    font-weight:normal;
    text-align: right;
    width:18%;
    padding-right:0;
    padding-left:0;
}
.form-group .btn-default{
    margin-left:20px;
}
#insingleRule
{
    margin-bottom:5px;
    }
 .form-horizontal legend
{
    color:#0097db;
    font-weight:bold;
    }
p.tip
{
    height:20px;
    line-height:20px;
    vertical-align:middle;
    }
h2
{
    margin-top:0;
    }