﻿
.left-nav{width:100%; float:left; overflow:hidden;background:url(../img/is6.png) no-repeat;margin-top:10px;}
/*左边*/
	.left{
	    float:left; overflow:hidden;
		}
		.left h3,
		.left p,
		.recharge,
		.modification{
		    margin:0 auto; width:138px; overflow:hidden;
			}
	    .recharge{
		    padding:14px 0; border-bottom:1px solid #e1e1e1;
			}
			.recharge li{
			    height:70px;
				}
				.recharge li i{
				    display:block; width:100%; height:28px; background-position:center; background-repeat:no-repeat;
					}
				.recharge li h3{
				    width:100%;
					}
	    .modification{
		    padding:14px 0;
			}
			.modification li{
			    height:22px;
				}
				.modification li a{
				    background-repeat:no-repeat; background-position:left center; padding-left:12px;
					}
	    .sideaav{
		    margin:6px 0;
			}
			.sideaav li a{
			    display:block; width:100%; height:42px; /*padding-top:25px;*/ text-align:center; text-decoration:none; overflow:hidden;
				}
				.sideaav li a i{
				     float:left; display:block; width:100%; height:56px; background-position:center; background-repeat:no-repeat; overflow:hidden;
					 }
					 .sideaav li a:hover
					 {
					        /*color:#0097dc;*/
					     }
				/*.sideaav li a:hover,*/
				.sideaav li.current a{
				      /*background:url('../img/is5.png') no-repeat;*/ color:#fff;
					  }
					  .sideaav li a:hover i.icon10,
					  .sideaav li.current a i.icon10{
					      background-image:url('../img/icon10_1.png');
						  }
					  .sideaav li a:hover i.icon11,
					  .sideaav li.current a i.icon11{
					      background-image:url('../img/icon11_1.png');
						  }
					  .sideaav li a:hover i.icon12,
					  .sideaav li.current a i.icon12{
					      background-image:url('../img/icon12_1.png');
						  }
					  .sideaav li a:hover i.icon13,
					  .sideaav li.current a i.icon13{
					      background-image:url('../img/icon13_1.png');
						  }
					  .sideaav li a:hover i.icon14,
					  .sideaav li.current a i.icon14{
					      background-image:url('../img/icon14_1.png');
						  }
/*右边*/

        /*右边头部选择和搜索*/
		.opt{
		    width:100%; overflow:hidden;
			}
			.search{
				width:249px; height:30px; padding:1px 10px; background:url('../img/search.jpg') no-repeat center top; margin-right:7px; overflow:hidden;
				}
			.function{
				width:352px; overflow:hidden;
				}
				.function li{
				    height:32px; line-height:32px; background:url('../img/function01.jpg') repeat-x center top;
					}
					.function li a{
					     float:left; display:block; width:100%; height:32px; text-align:center; background:url('../img/function02.jpg') no-repeat right center; text-decoration:none; overflow:hidden;
						 }
					     .function li a i{
						      float:left; width:3px; height:32px; background-position:center; background-repeat:no-repeat; overflow:hidden;
							  }
							  .function li a i.first{
							      background-image:url('../img/function05.jpg');
								  }
							  .function li a i.ultimate{
							     float:right; background-image:url('../img/function06.jpg');
								  }
					      .function li a:hover,
						  .function li.current a{
						       background-image:none; background-color:#0097db; color:#fff;
							   }
							   .function li a:hover i.first,
							   .function li.current a i.first{
							       background-image:url('../img/function03.jpg');
								   }
							   .function li a:hover i.ultimate,
							   .function li.current a i.ultimate{
							       background-image:url('../img/function04.jpg');
								   }
		/*右边列表功能选项（包裹管理）*/
		.heading{
		    width:817px; margin:19px 0; border:1px solid #dcdcdc; background-color:#ebebeb; height:46px; line-height:46px; overflow:hidden;
			}
			.heading li{
			     background:url('../img/heading_li.png') no-repeat left center; float:left; width:86px; overflow:hidden;
				 }
				 .heading li.no{
				     background-image:none;
					 }
			.heading li.b{
			     width:200px;
				 }
			.heading li.f{
			     width:100px;
				 }
			.heading li.i{
			     width:290px; padding-left:10px;
				 }
				 .heading li.i input{
				     float:left; margin-top:18px;
					 }
			.heading li.j{
			     width:80px;
				 }
				 .heading li.j a{
				     padding-left:16px; background-repeat:no-repeat; background-position:left center;
					 }
			.heading li.k{
			     width:268px;
				 }
				 .heading li.k .input06{
				      margin-top:7px;
					  }
		/*右边列表（包裹管理）等待支付运费*/
		.wait{
		    width:819px; margin-bottom:19px; border:1px solid #faedd6; overflow:hidden;
			}
			.caption{
			    float:left; width:100%; padding:12px 0; background-color:#fff8d5; border-bottom:1px solid #faedd6; overflow:hidden;
				}
				.caption a{
				    margin:0 6px;
					}
					.caption a i{
						 display:block; width:16px; height:16px; background-position:center; background-repeat:no-repeat; overflow:hidden;
						 }
				.caption .checkbox{
				    margin:0 8px;
					}
				.caption span{
				    padding-left:8px;
					}
			.list{
			    float:left; width:544px;  overflow:hidden;
				}
				.list li{
				    float:left; width:100%; padding:4px 0;overflow:hidden;
					}
					.list li.no{
					    border-top:none;
						}
					.list li.background{
					    background-color:#fffcee;
						}
					.list li ol{
					    float:left; width:100%; overflow:hidden;
						}
						.list li li{
						    float:left; width:84px; padding:0; border-top:none; overflow:hidden;
							}
							.list li li.b{
							    width:208px;
							     padding-left: 20px;
								}
							.list li li p{
							    line-height:20px;
								}
						    .list li li .checkbox{
							     float:left; margin:13px 8px 0 8px;
								 }
						    .list li li a img{
							     border:1px solid #ddd; padding:1px;
								 }
					 .list li .input_none_06{
						 margin:8px 0 0 18px;
						 }
						.list li .PM{
						    float:left; width:18px; height:29px; padding-left:2px; padding-top:8px; overflow:hidden;
							}
							.list li .PM a{
							     float:left; width:100%; height:14px; margin-bottom:1px; overflow:hidden; background-repeat:no-repeat; background-position:center;
								 }
			.total{
			    float:right; width:271px; /*border-bottom:1px solid #FAEDD6;*/ overflow:hidden;
				}
				.total dl{
				     float:left; width:85px; height:182px; text-align:center; border-left:1px solid #ececec; overflow:hidden;border-bottom: 1px solid #ececec;
					 }
					 .total dl.no{
					     border-left:none;
						 }
					 .total dl.f{
					     width:99px;
						 }
                     .total dl dt{
					      width:100%; height:36px; line-height:36px; background-color:#fffcee; border-bottom:1px solid #faedd6; overflow:hidden;
						  }
						  .total dl dt.no{
						       background:none;
							   }
						  .total dl dt.none{
						       background:none; border-bottom:none;
							   }
                     .total dl dd,
					 .total dl dd ul,
					 .total dl dd ul li{
					      width:100%; overflow:hidden;
						  }						  
					.showtip{
						padding-left: 18px;
					  	padding-top: 10px;
					  	padding-right: 14px;
					  	padding-bottom: 14px;
					  	background-repeat: no-repeat;
					 	background-position: left center;
					}
					.topay{
						padding-left: 22px;
					  	padding-top: 10px;
					  	padding-right: 24px;
					  	padding-bottom: 14px;
					  	background-repeat: no-repeat;
					 	background-position: left center;
					}
					.sharesun{
						padding-left:30px;
					  	padding-top: 10px;
					  	padding-right:30px;
					  	padding-bottom: 14px;
					  	background-repeat: no-repeat;
					 	background-position: left center;
					}
			.Collapse{
			    float:left; width:545px; height:36px; line-height:36px; text-align:center; background-color:#ebebeb; border-top:1px solid #ecece8; border-right:1px solid #ecece8; overflow:hidden;
				}
				.Collapse a{
				    padding-left:15px; background-repeat:no-repeat; background-position:left center;
					}
			.Collapse2{
			     float:left; width:545px; height:32px; line-height:32px; padding:20px 0; background-color:#FFF8D5; border-top:none; border-right:1px solid #ecece8;
				}
				.Collapse2 a{
			         margin:0 11px;
				     }
			/*右边（包裹管理）流程（等待入库、出库、空运中、清关、收货）*/
			.Process{
			    float:left; width:100%; padding:8px 0 11px; /*background-color:#fff8d5; border-top:1px solid #faedd6;*/ overflow:hidden;
				}
				.Process li{
				    float:left; width:117px; height:50px; text-align:center; overflow:hidden;
					}
					.Process li span.wz{
					     float:left; width:100%; height:28px; line-height:28px; overflow:hidden;
						 }
					.Process li span.tp{
					     float:left; width:100%; height:50px; background:url('../img/is10.png') no-repeat  center; overflow:hidden;
						 }
						 .Process li span.tp i{
						     display:inline-block; width:18px; height:29px; background-repeat:no-repeat; background-position:center; overflow:hidden;
							 }
					
					.Process li.green span.tp{
					    background-image:url('../img/Next_green.png');
						}
					.Process li.blue span.tp{
					    background-image:url('../img/is9.png');
						}
					.Process li.green span.hover01{
					    background-image:url('../img/Next01_green.png');
						}
					.Process li.green span.hover07{
					    background-image:url('../img/Next07_green.png');
						}
		/*右边列表（包裹管理）订单已取消*/
		.cancel{
		    border:1px solid #5295ca;
			}
			.cancel .caption{
			    background-color:#92A4D2; border-bottom:1px solid #5295ca;
				}
				.cancel .list li{
				   /* border-top:1px solid #f7e7ea;*/
					}
					.cancel .list li.background{
					    background-color:#fff4f4;
						}
						.cancel .list li li{
						    border-top:none;
							}

			/*.cancel .total{
			    border-bottom:1px solid #f7e7ea;
				}*/
                     .cancel .total dl dt{
					      background-color:#fff4f4; border-bottom:1px solid #ececec;
						  }
						  .cancel .total dl dt.none{
							  border-bottom:none; background:none;
							  }
						  .cancel .total dl dt.no{
						      background:none;
							  }
			.cancel .Collapse2{
			    /* background-color:#5295ca;*/
				}
			.cancel .Process{
			    /*background-color:#5295ca; border-top:1px solid #5295ca;*/
				}
		/*右边列表（包裹管理）订单已签收*/
		.sign{
		    border:1px solid #d7e9c8;
			}
			.sign .caption{
			    background-color:#dfefd9; border-bottom:1px solid #d7e9c8;
				}
				.sign .list li{
				    border-top:1px solid #e7eee4;
					}
					.sign .list li.background{
					    background-color:#f3ffef;
						}
						.sign .list li li{
						    border-top:none;
							}
			.sign .total{
			    border-bottom:1px solid #e7eee4;
				}
                     .sign .total dl dt{
					      background-color:#f3ffef; border-bottom:1px solid #e7eee4;
						  }
						  .sign .total dl dt.none{
						      background:none; border-bottom:none;
							  }
						  .sign .total dl dt.no{
						      background:none;
							  }
			.sign .Process{
			    background-color:#dfefd9; border-top:1px solid #d7e7d0;
				}
			.sign .Collapse2{
			     background-color:#DFEFD9;
				}
		/*分页*/
		.paging{
		    width:100%; color:#333; overflow:hidden;
			}
			.paging a{
			    line-height:23px; border:1px solid #e1e1e1; padding:3px 7px; color:#333; overflow:hidden; text-decoration:none; font-family:Arial;
				}
				.paging a:hover,
				.paging a.current{
				     border-color:#0096da; background-color:#0096da; color:#fff;
					 }
				
           /*海外地址管理*/
			.address .function{
				width:100%; margin-bottom:12px;
				}
				.address .function li a{
				     text-align:left; text-indent:20px;
					 }
					 .address .function li a i.icon18{
						   width:21px; margin-left:20px;
						  }
			.BOX{
			     width:797px; padding:0 10px; border:1px solid #f9dfb2; background-color:#fff8d9; overflow:hidden;
				 }
				 .BOX p{
				     width:95%; color:#ff8b00;
					 }
				 .BOX a{
				     width:9px; height:9px; margin-top:8px;
					 }
			.Detail{
			    width:100%; padding:12px 0; border-bottom:1px solid #ededed; overflow:hidden;
				}
				.Detail li{
				     width:100%; padding-bottom:10px; line-height:32px; overflow:hidden;
					 }
					 .Detail li .bt{
					       float:left; width:103px; height:32px; padding-right:10px; text-align:right; overflow:hidden;
						   }
					 .Detail li .nr{
					       float:left; width:264px; height:32px; overflow:hidden;
						   }
						   .Detail li .nr input{
						       margin-right:8px;
							   }
						 .Detail li.long .nr{
							   width:654px; margin-bottom:10px;
							   }
					.Detail .BOX{
						 width:684px; float:right; margin-top:10px; line-height:22px;
						 }
			.photo{
			    width:100%; padding:21px 0 11px; overflow:hidden;
				}
				.photo li{
				     float:left; width:160px; height:119px; padding:0 2px 10px; overflow:hidden;
					 }
					 .photo li.no{
					     padding-left:0px;
						 }
			.map{
			    width:799px; height:472px; padding:10px; text-align:center; overflow:hidden; background:url('../img/map.jpg') no-repeat center center;
				}

           /*账户记录*/
			.record .function{
				width:300px;
				}
        .record .list01{
		    width:817px; border:1px solid #dcdcdc; margin:18px 0; overflow:hidden;
			}			
				.list01 li ol{
					float:left; width:100%; overflow:hidden;
					}
						.list01 li li p{
							    line-height:22px;
								}
						.list01 li li.m{
						    width:180px;
							}
						.list01 li li.n{
						    width:120px;
							}
						.list01 li li.o{
						    width:300px;
							}
						.list01 li li.p{
						    width:44px;
							}
						.list01 li li.q{
						    width:110px;
							}
						.list01 li li.r{
						    width:68px; padding-left:0px; text-align:center;
							}
							.list01 li li.r a{
							    padding:0 2px;
								}
						.list01 li li.s{
						    width:144px;
							}
				.list01 li.th{
				    background-color:#f3f3f3; border:none;
					}
					.list01 li.th li{
					    background:url('../img/heading_li.png') no-repeat left center;
						}
						.list01 li.th li.no{
						    background-image:none;
							}
				.list01 li.white{
				    background-color:#fff;
					}
	        /*20140804*/
.shortcut{ width:100%; padding-bottom:11px;}
.shortcut .time{ float:right; display:inline-block; padding-left:20px; background:url('../img/icon80.jpg') no-repeat left 3px;text-decoration:none;}
.shortcut .time .work{ display:none; position:absolute; right:-2px; width:220px; min-height:250px;height:auto; padding:17px 0px 0; background:url('../img/shortcut01.png') no-repeat; overflow:hidden;text-decoration:none;}
.shortcut .time:hover .work{ display:block;}
.shortcut .time .work p{ text-align:center; line-height:24px;text-decoration:none;}
.shortcut .time:hover .work .wk01{ display:inline-block; padding-left:35px; background:url('../img/no-working.png') no-repeat left center;font-family:@微软雅黑;}
.shortcut .time:hover .work .wk02{ display:inline-block; margin-left:10px; background:url('../img/working.png') no-repeat left center;font-family:@微软雅黑;}
.shortcut .time .work .below{ padding-top:10px;}
.shortcut .time .work .below p{ color:#ba9150;text-align:center;margin-left:-15px;}
.shortcut .select{ padding:0 12px;}
.shortcut .digital{ font-size:18px; color:#ff8b00; padding:0 3px;}
.shortcut .merger{  display:inline-block; color:#0095d8; margin-left:90px;}
.shortcut .checkbox{ float:left; margin:8px 0 0 9px; _margin-top:4px;}
.shortcut .time:hover .work .timeicon{ display:inline-block; padding-left:18px; background:url('../img/shortcut02.png') no-repeat left center;font-family:@微软雅黑;margin-left:-37px;}
.shortcut .time:hover .work .overtimeicon{ display:inline-block; padding-left:18px; background:url('../img/shortcut03.png') no-repeat left center;font-family:@微软雅黑;margin-left:-37px;}

.iconComplaint{background-image:url('../img/complaint.png');cursor:pointer;}
        