﻿body{
    margin:0; padding:0; font-family:"微软雅黑"; font-size:12px; line-height:22px; color:#666;
	}  
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,input,select,textarea,p{
	margin:0; padding:0; list-style-type:none; font-family:"微软雅黑"; color:#666; font-size:12px; font-weight:normal;
	}
img{ border:0;}
.clear{clear:both;}
a{
  text-decoration:none;  color:#666;
  }

li a:hover img,dt a:hover img,dd a:hover img{
	filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9; opacity:0.9;
    }
.red,a.red{color:#b74b4b;}
.orange,a.orange{color:#ff8b00;}
.green,a.green{color:#86b955;}
.gray,a.gray{color:#8b8b8b;}
.yellow,a.yellow{color:#bf9758;}
.blue,a.blue{color:#0097db;}
.white,a.white{color:#fff;}
.size14{font-size:14px;}
.size16{font-size:16px;}
.size18{font-size:18px;}
.size20{font-size:20px;}
.size24{font-size:24px;}
.size28{font-size:28px;}
.size36{font-size:36px; line-height:36px;}
.span12{width:100%; float:left; overflow:hidden;}
.span11{width:91.666%; float:left; overflow:hidden;}
.span10{width:83.333%; float:left; overflow:hidden;}
.span9{width:74.999%; float:left; overflow:hidden;}
.span8{width:66.666%; float:left; overflow:hidden;}
.span7{width:58.333%; float:left; overflow:hidden;}
.span6{width:50%; float:left; overflow:hidden;}
.span5{width:41.666%; float:left; overflow:hidden;}
.span4{width:33.333%; float:left; overflow:hidden;}
.span3{width:25%; float:left; overflow:hidden;}
.span2{width:16.666%; float:left; overflow:hidden;}
.span1{width:8.333%; float:left; overflow:hidden;}
.radius1{border-radius:1px;}
.radius2{border-radius:1px;}
.radius3{border-radius:2px;}
.radius4{border-radius:3px;}
.radius5{border-radius:5px;}
.radius6{border-radius:6px;}
.radius7{border-radius:7px;}
.radius8{border-radius:8px;}
.radius9{border-radius:9px;}
.radius19{border-radius:19px;}
.button{cursor:pointer;}
.icon01{background-image:url('../img/icon01.jpg');}
.icon02{background-image:url('../img/icon02.jpg');}
.icon03{background-image:url('../img/icon03.png');}
.icon04{background-image:url('../img/icon04.png');}
.icon05{background-image:url('../img/icon05.png');}
.icon06{background-image:url('../img/icon06.png');}
.icon07{background-image:url('../img/icon07.png');}
.icon08{background-image:url('../img/icon08.png');}
.icon09{background-image:url('../img/icon09.png');}
.icon10{background-image:url('../img/icon10.png');}
.icon11{background-image:url('../img/icon11.png');}
.icon12{background-image:url('../img/icon12.png');}
.icon13{background-image:url('../img/icon13.png');}
.icon14{background-image:url('../img/icon14.png');}
.icon15{background-image:url('../img/icon15.png');}
.icon16{background-image:url('../img/icon16.png');}
.icon17{background-image:url('../img/icon17.png');}
.icon18{background-image:url('../img/icon18.png');}
.icon19{background-image:url('../img/icon19.jpg');}
.icon24{background-image:url('../img/icon24.jpg');}
.icon25{background-image:url('../img/icon25.jpg');}
.icon26{background-image:url('../img/icon26.png');}
.icon27{background-image:url('../img/icon27.png');}
.icon28{background-image:url('../img/icon28.png');}
.icon29{background-image:url('../img/icon29.png');}
.icon30{background-image:url('../img/icon30.png');}
.icon31{background-image:url('../img/icon31.png');}
.icon32{background-image:url('../img/icon32.png');}
.icon33{background-image:url('../img/icon33.jpg');}
.icon34{background-image:url('../img/icon34.jpg');}
.icon35{background-image:url('../img/icon35.png');}
.icon36{background-image:url('../img/icon36.png');}
.icon37{background-image:url('../img/icon37.png');}
.icon41{background-image:url('../img/icon41.png');}
.icon42{background-image:url('../img/icon42.png');}
.icon43{background-image:url('../img/icon43.png');}
.icon44{background-image:url('../img/icon44.png');}
.icon45{background-image:url('../img/icon45.png');}
.icon46{background-image:url('../img/icon46.png');}
.icon47{background-image:url('../img/icon47.png');}
.icon48{background-image:url('../img/icon48.png');}
.icon49{background-image:url('../img/icon49.png');}
.icon50{background-image:url('../img/icon50.jpg');}
.icon55{background-image:url('../img/icon55.png');}
.icon56{background-image:url('../img/icon56.jpg');}
.icon57{background-image:url('../img/icon57.png');}
.icon59{background-image:url('../img/icon59.jpg');}
.icon60{background-image:url('../img/icon60.jpg');}
.icon61{background-image:url('../img/icon61.jpg');}
.icon62{background-image:url('../img/icon62.jpg');}
.icon63{background-image:url('../img/icon63.jpg');}
.icon64{background-image:url('../img/icon64.jpg');}
.icon65{background-image:url('../img/icon65.jpg');}
.icon66{background-image:url('../img/icon66.png');}
.icon67{background-image:url('../img/icon67.jpg');}
.icon68{background-image:url('../img/icon68.png');}
.icon69{background-image:url('../img/icon69.png');}
.icon70{background-image:url('../img/icon70.png');}
.icon71{background-image:url('../img/icon71.png');}
.icon72{background-image:url('../img/icon72.png');}
.icon73{background-image:url('../img/icon73.png');} 
.icon74{background-image:url('../img/icon74.png');}
.icon101{background-image:url('../img/icon101.jpg');}
.pull-left{float:left;}
.pull-right{float:right;}
.pull-none{float:none;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.hr{width:100%; background-color:#ebebeb; height:1px; overflow:hidden;}
.xhr{width:100%; border-top:1px dotted #ebebeb; height:1px; overflow:hidden;}
.background_blue{background-color:#0097db;}
.mian{
     position:relative; margin:0 auto; width:946px; overflow:hidden;
	}
.Block{
	display:inline-block; height:32px; line-height:32px; border:none; text-decoration:none; background-position:center top; background-repeat:no-repeat; overflow:hidden;
	}
.Block2{
	display:inline-block; width:54px; padding:3px; height:21px; line-height:21px; border:1px solid #cecece; background-color:#fff; text-align:center; overflow:hidden;
	}
	.Block:hover,.Block2:hover{
		 text-decoration:none;
		 }
.input_none_01{
     width:468px; height:47px; line-height:47px; padding:0 10px; background:url('../img/icon38.jpg') no-repeat 458px center #fff; 
	 }
.input_none_02{
     width:218px; height:30px; line-height:30px; background:none;
	 }
.input_none_03{
     width:22px; height:30px; background:url('../img/search_button.jpg') no-repeat center center #fff;
	 }
.input_none_04{
     width:190px;
	 }
.input_none_05{
    width:72px; text-align:left; background:url('../img/icon58.png') no-repeat 62px center;
	 }
.input_none_06{
     width:20px;
	 }
.input_none_07{
     width:80px; height:29px; text-align:left; padding:4px 1px;
	 }
.input_none_08{
	 width:568px; height:30px; line-height:30px; background:none;
	 }
.input_none_09{
     width:420px; text-align:left; margin-left:10px;
	 }
.input_none_10{
     width:360px; text-align:left; margin-left:10px;
	 }
.input01{}
.input02{}
.input03{
	 width:80px; text-align:center; background-image:url('../img/input03.png');
	 }
.input04{
    width:159px; background-image:url('../img/input04.jpg'); padding:0 5px;
	}
.input05{
    width:536px; background-image:url('../img/input05.jpg'); padding:0 5px;
	}
.input06{
	 width:70px; background-image:url('../img/input06.png'); text-align:center;
	 }
.input07{
     width:169px; background-image:url('../img/input07.jpg');
	 }
.input08{
     width:516px; background-image:url('../img/input08.jpg'); height:92px; padding:5px; line-height:22px;
	 }
.input09{
     width:32px; background-image:url('../img/input09.jpg'); padding:0 5px;
	 }
.input10{
     width:107px; background-image:url('../img/input10.jpg'); padding:0 5px;
	 }
.input11{
     width:175px; background-image:url('../img/input11.png'); height:42px; line-height:42px; text-align:center;
	 }
.input12{
     width:60px; background-image:url('../img/input12.png'); height:31px; line-height:31px; text-align:center;
	 }
.input13{
     width:108px; height:49px; line-height:49px; background:none; background-image:url('../img/input13.png');
	 }
.input14{
     width:119px; background-image:url('../img/input14.jpg'); text-align:center;
	 }
.input15{
     width:119px; background-image:url('../img/input15.jpg'); text-align:center;
	 }
.input19{
     width:208px; background-image:url('../img/input19.png');
	 }
.input17{
     width:150px; background-image:url('../img/input17.png');
	 }
.input22{
     width:119px; background-image:url('../img/input22.png'); text-align:center;
	 }
.input23{
     width:169px; background-image:url('../img/input23.png'); text-align:center;
	 }
.input24{
     width:178px; background-image:url('../img/input24.png');
	 }
.input25{
     width:695px; background-image:url('../img/input25.png');
	 }
.input30{
    width:69px; background-image:url('../img/input30.png'); text-align:center;
	}
	.input30:hover{
		 background-image:url('../img/input31.png');
		 }
	.input30:active{
		 background-image:url('../img/input32.png');
		 }
.input31{
    background-image:url('../img/input31.png');
	}
.input32{
    background-image:url('../img/input32.png');
	}
.input33{
     width:50px; height:21px; line-height:21px; background-image:url('../img/input33.png'); text-align:center;
	 }
.input34{
     background-image:url('../img/input34.jpg'); width:83px;
	 }
.input35{
     background-image:url('../img/input35.png'); width:80px; text-align:center;
	 }
.input35:hover{
     background-image:url('../img/input35_1.png');
	 }
.input35:active{
     background-image:url('../img/input35_2.png');
	 }
.pd10{padding:0 10px;}
.pd0{padding:0;}
.mg18{margin:18px 0;}
.mgtIE{margin-top:8px !important;}
/*头部*/
#head{
	position:relative; margin:0 auto; width:100%; height:93px; overflow:hidden;
	}	   
    #head .mian{
         height:93px;
		 }
    #head .logo{
		 position:absolute; top:26px; left:0px; width:218px; height:53px; overflow:hidden;
	     }
         #head .logo span{ 
		      margin-top:-360px; position:absolute;
	          }
    #head .shortcuts{
		 position:absolute; top:37px; right:0px; width:131px; height:33px; line-height:33px; text-align:center; color:#e2e4e5; overflow:hidden;
	     }
		 #head .shortcuts a{
		     padding:0 8px;
			 }
			 #head .shortcuts .input12{
			    padding:0;
				}
 
/*尾部*/
#foot{
	position:relative; margin:0 auto; width:100%;overflow:hidden;
	}
	#foot .pull-right{
	    margin-top:14px;
		}
	#foot .pull-left{
	    width:220px; padding-left:29px; overflow:hidden;
		}
		#foot .pull-left h5{
		   color:#fff; font-size:16px;
		   }
		#foot .pull-left p{
		   color:#818181; font-size:16px; margin:5px 0; font-family:"Arial";
		   }
/*返回头部*/

/*登录页面*/
.login{
     position:relative; margin:0 auto; width:1000px; padding:36px 60px; height:506px; background:url('../img/login01.jpg') no-repeat left 36px;
	 }
	 .box{
	     float:right; width:404px; height:506px; background:url('../img/pop01.png') no-repeat center top; overflow:hidden;
		 }
		 .box .bt1{
		     margin:0 auto; width:248px; padding:25px 0 7px; overflow:hidden;
			 }
		 .InputBox{
		     margin:0 auto; width:248px; padding-bottom:56px; overflow:hidden;
			 }
			 .InputBox dt{
			      width:100%; line-height:28px; overflow:hidden;
				  }
			 .InputBox dd{
			      width:100%; padding:1px 0; height:30px; line-height:30px; background:url('../img/input01.png') no-repeat; padding-bottom:12px; overflow:hidden;
				  }
				  .InputBox dd.NoBackground{
				      background-image:none; height:32px;
					  }
				  .InputBox dd i{
				      float:right; width:25px; height:30px; background-position:left center; background-repeat:no-repeat;
					  }
				  .InputBox dd input.input01{
				      float:left; padding:0 5px; width:198px; height:30px; line-height:30px; border:none; background:none; overflow:hidden;
					  }
				  .InputBox dd input.button{
				      float:left; width:248px; height:32px; line-height:32px; border:none; background:url('../img/input02.png') no-repeat; font-size:16px; color:#fff; overflow:hidden;
					  }
				  .InputBox dd input.checkbox{
				      float:left; margin-top:10px; margin-right:5px;
					  }
		 .Other{
		     margin:0 auto; width:248px; border-top:1px solid #e8e8e8; padding-top:15px; overflow:hidden;
			 }
			 .Other dd{
			     width:100%; height:32px; line-height:32px; text-align:center; background:url('../img/Other.png') no-repeat; margin-top:6px; overflow:hidden;
				 }
				 .Other dd a{
				     margin:0 30px; padding-left:20px; background-repeat:no-repeat; background-position:left center;
					 }
/*注册页面*/
.registration{
      height:552px;
	 }
	 .registration .box{
	     height:552px; background:url('../img/pop02.png') no-repeat center top;
		 }
		 .registration .InputBox{
		     padding-bottom:8px;
			 }
/*找回密码页面*/
.forgot{
     height:530px; background:url('../img/forgot01.jpg') no-repeat center center;
	 }
	 .forgot .box{
	     float:none; height:316px; background:url('../img/pop03.png') no-repeat center top; margin:0 auto;
		 }
				  .forgot .InputBox dd.NoBackground{
				      padding-top:20px;
					  }
/*弹出层、浮层*/
#pop{
    position:relative; margin:0 auto; width:100%; height:800px; padding:88px 0; background-color:#0098db; overflow:hidden;
	}
	#pop .bt{
	    width:100%; font-size:48px; line-height:48px; padding-bottom:36px; color:#fff; text-align:center; overflow:hidden;
		}
	#pop a.lbOn{
	    float:left; margin:7px;
		}
#overlay{
	display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:1000; background-color:#333; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);
    }
.leightbox{
    display:none; position:absolute; top:16%; left:20%; width:820px; padding:5px 0 15px; background:url('../img/pop07.jpg') repeat-x left top #fff; z-index:1001;
    }
.leightbox1{
    display:none; position:absolute; top:16%; left:20%; width:250px; padding:5px 0 15px; background:url('../img/pop07.jpg') repeat-x left top #fff; z-index:1001;
    }
.leightbox2{
    display:none; position:absolute; top:16%; left:20%; width:450px; padding:5px 0 15px; background:url('../img/pop07.jpg') repeat-x left top #fff; z-index:1001;
    }     
.lightbox[id]{
     /* IE6 and below Can't See This */ position:fixed;
	 }
#overlay[id]{
    /* IE6 and below Can't See This */  position:fixed;
	}
	.leightbox .Close{
	    position:absolute; top:-10px; right:-10px; display:block; width:28px; height:28px; background-repeat:no-repeat; overflow:hidden;
		}
	.leightbox .Whole{
	    margin:0 auto; width:776px; overflow:hidden;
		}
	.leightbox h1{
	    width:100%; padding-bottom:10px; font-size:14px; font-weight:bold; overflow:hidden;
		}
	.leightbox1 .Close{
	    position:absolute; top:-10px; right:-10px; display:block; width:28px; height:28px; background-repeat:no-repeat; overflow:hidden;
		}
	.leightbox1 .Whole{
	    margin:0 auto; width:150px; overflow:hidden;
		}
	.leightbox1 h1{
	    width:100%; padding-bottom:10px; font-size:14px; font-weight:bold; overflow:hidden;
		}		
/*弹出层、浮层（新增包裹）*/
	.Search{
	    width:100%; padding:1px 0 11px; height:30px; /*background:url('../img/search.png') no-repeat;*/ overflow:hidden;    border: 1px solid #ccc;
		}
		.Search .Block{
		     margin-left:2px;
			 }
	.List01_bt{
	    width:100%; height:45px; line-height:45px; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; background-color:#ebebeb; overflow:hidden;
		}
		.List01_bt li{
		    text-align:center; height:45px; background:url('../img/heading_li.png') no-repeat left center;
			}
			.List01_bt li.span7,
			.leightbox .List01_bt li.span8{
			    background-image:none; text-align:left; text-indent:20px;
				}
	.List01{
	    width:100%; overflow:hidden;
		}
		.List01 > li{
		    float:left; width:100%; border-bottom:1px solid #dcdcdc; overflow:hidden;
			}
			.List01 li.background{
			     background-color:#f3f3f3;
				 }
			.List01 li ol{
			     float:left; width:100%; overflow:hidden;
				 }
				.List01 li li{
					 height:45px; line-height:45px; padding:8px 0; text-align:center;
					 }
					 .List01 li li.span7,
					 .List01 li li.span8{
					      text-align:left;
						  }
					  .List01 li li span{
						  padding:0 6px 0 20px;
						  }
					  .List01 li li img{
					      float:left; border:1px solid #ddd; padding:1px;
						  }
					  .List01 li li .input_none_06{
					      margin:8px 0 0 10px;
						  }
					  .List01 li li .PM{
						   float:left; width:18px; height:32px; padding-left:2px; padding-top:8px; overflow:hidden;
						   }
						   .List01 li li .PM a{
							    float:left; width:100%; height:14px; margin-bottom:3px; overflow:hidden; background-repeat:no-repeat; background-position:center;
								}
					  .List01 li li a i{
					       display:inline-block; width:100%; height:45px; background-position:center; background-repeat:no-repeat; overflow:hidden;
						   }
					  .List01 li li a.icon49,a.icon101{
					       display:inline-block; padding-left:36px; background-position:left center; background-repeat:no-repeat; overflow:hidden; float:left; margin-left:20px;
						   }
	.Total{
	    width:100%; height:46px; line-height:46px; border-bottom:1px solid #e6e6e6; background-color:#ebebeb; text-align:right; overflow:hidden; margin-bottom:10px;
		}
		.Total span{
		     padding-right:20px;
			 }
	.List02{
	    width:100%; overflow:hidden;
		}
		.List02 li input{
		    float:left; margin:4px 5px 0 0;
			}
		.List02 li a{
		    /*padding-left:18px;*/ background-repeat:no-repeat; background-position:left center;
			}
		.List02 li .Block{
		    padding:0 18px;
			}
			.List02 li i{
			    float:left; width:14px; height:32px; background-repeat:no-repeat; background-position:center center; overflow:hidden;
				}
	.PushButton{
	    width:100%; overflow:hidden;
		}
		.PushButton a{
		     float:right; font-size:16px; margin-left:16px; line-height:32px;
			 }
			 .PushButton a.one{
			      background:url('../img/input22.png') no-repeat;
				  }
			 .PushButton a.two{
			      background:url('../img/input23.png') no-repeat; width:169px; color:#666;
				  }
	    .Bcenter{
		      text-align:center;
			  }
			  .Bcenter p{
			      margin-bottom:12px;
				  }
			  .Bcenter a{
			      float:none; display:inline-block;
				  }
    /*弹出层、浮层（上传身份证）*/
	.List03{
	    width:100%; overflow:hidden;
		}
	/*弹出层、浮层（基本信息）*/
	.Receipt1{
	    width:100%; overflow:hidden;
		}
		.Receipt1 li{
		    width:754px; padding:1px 10px; border:1px solid #fff; height:22px; margin-bottom:5px; overflow:hidden;
			}
			.Receipt1 li:hover,
			.Receipt1 li.hover{
			    border-color:#f9edd5; background-color:#fffbef;
				}
			.Receipt1 li span{
			    float:left; width:95px; height:22px; overflow:hidden;
				}
				.Receipt1 li span i{
				     float:left; width:9px; height:22px; background-position:center; background-repeat:no-repeat; margin-right:5px; overflow:hidden;
					 }
			.Receipt1 li label{
			    margin-right:10px;
				}
				.Receipt1 li label input{
					margin-right:6px;
					}
			.Receipt1 li.current{
			    border-color:#f9dfb2; background-color:#fff8d9;
				}
				.Receipt1 li.current label,
				.Receipt1 li.current span{
				    color:#ff8b00;
					}
	.Receipt2{
	    width:644px; padding:10px 0 0 130px; line-height:32px; overflow:hidden;
		}
		.Receipt2 a{
		     padding-left:12px; background-repeat:no-repeat; background-position:left center;
			 }
		.Receipt2 .Block{
		    padding:0; margin-right:10px;
			}

	/*弹出层、浮层（使用新地址）*/
	.New{
	    width:96%; padding:20px 2% 10px; margin:10px 0; background:url('../img/New01.jpg') no-repeat left top #ebebeb; overflow:hidden;
		}
		.New h1 span{
		     font-size:12px; color:#666; font-weight:normal; padding-left:20px;
			 }
	/*目的地址管理*/
	.destination{
		width:100%; overflow:hidden;
		}
		.destination li{
			width:100%; line-height:32px; padding-top:10px; overflow:hidden;
			}
			.destination li span{
				float:left; width:100px; height:32px; text-align:right; overflow:hidden;
				}
				.destination li span i{
					font-style:normal; float:right; width:12px; text-align:center; height:32px; overflow:hidden;
					}
			.destination li input,
			.destination li select{
				  margin-right:8px;
				 }
			.destination li select{
			     padding:6px 3px;
				 }
			.destination li.Special{
				line-height:50px;
				}
				.destination li.Special img{
					 float:left; margin-right:10px;
					 }
				.destination li.Special .input06{
					  margin-top:20px;
					  }

	/*弹出层、浮层（从地址本选择）*/
	.Local{
	    width:100%; padding:20px 0 0px; background:url('../img/New02.jpg') no-repeat left top #ebebeb;
		}
		.LookFor{
		     width:100%; padding-bottom:10px; height:32px; overflow:hidden;
			 }
			 .LookFor span{
			     width:144px; height:32px; line-height:32px; text-align:center; overflow:hidden;
				 }
			 .LookFor div{
			     float:left; width:593px; padding:1px 5px; height:30px; background:url('../img/input18.png') no-repeat; overflow:hidden;
				 } 
			.Local .List01_bt li.no{
				 background-image:none;
				 }
			.Local .List01_bt li.span5{
			     text-align:left; text-indent:10px;
				 }
		.List04,
		.List04 li ol{
		    width:100%; overflow:hidden;
			}
			.List04 > li{
			     width:100%; border-bottom:1px solid #DCDCDC; background-color:#f7f7f7; overflow:hidden;
				 }
				 .List04 li.background{
				       background-color:#f8f8f8;
					  }
				 .List04 li li{
				     height:45px; line-height:45px; text-align:center; overflow:hidden;
					 }
					 .List04 li li.span5{
					     text-align:left; text-indent:10px;
						 }
				 .List04 li li p{
				      line-height:18px; margin-top:2px;
					  }
				 .List04 li li label input{
				      margin-right:8px;
					  }
    
	/*弹出层、浮层（充值）*/
	.Recharge{
	    width:100%; padding-top:10px; overflow:hidden;
		}
		.Recharge .pull-left{
		     width:213px;
			 }
		.Recharge a{
		     float:left; width:99px; height:32px; text-align:center; line-height:32px; padding-bottom:9px; text-decoration:none; font-size:16px; background:url('../img/input20.png') no-repeat center top; overflow:hidden; margin:0 5px;
			 }
			 .Recharge a:hover,
			 .Recharge a.current{
			     color:#fff; background:url('../img/input21.png') no-repeat center top;
				 }
	.How{
	    width:100%; padding-bottom:10px; line-height:32px; overflow:hidden;
		}
		.How .much{
		     float:left; width:218px; text-align:right; overflow:hidden;
			 }
		.How .Block{
		     margin-right:6px;
			 }
	.List05{
	    width:100%; padding-top:10px; overflow:hidden;
		}
		.List05 li{
		    height:56px;
			}
			.List05 li input{
			    float:left; margin-top:16px;
				}
			.List05 li img{
			    float:left; width:149px; height:39px; border:1px solid #cecece; margin-left:8px;
				}
			.List05 li.Special{
			     height:74px;
				 }
				 .List05 li.Special img{
				     border:none; width:auto; height:auto;
					 }
				 .List05 li.Special input{
					margin-top:26px;
					}

	/*弹出层、浮层（完成充值）*/
	.Success{
	    width:92%; padding:5px 0 5px 8%; margin-top:20px; background-position:left center; background-repeat:no-repeat; overflow:hidden;
		}
	/*弹出层、浮层（提现）*/
	.List06{
	    width:100%; overflow:hidden;
		}
		.List06 li{
		    height:52px; line-height:32px;
			}
			.List06 li span.pull-left{
			     width:63px; text-align:right; overflow:hidden;
				 }
			.List06 li input{
			     margin-right:4px;
				 }
			 .List06 li select{
				 padding:6px 4px;
				 }

	/*弹出层、浮层（注册）*/
	.leightbox .login{
	    width:100%; padding:0; background:url('../img/login02.jpg') no-repeat 36px center;
		}
		.leightbox .login .box{
			 background-image:none;
			 }
	.leightbox .alter{
	    height:360px;
		}
		.leightbox .alter .box{
		    height:360px;
			}
/*选择框下拉菜单*/
.selectItemhidden{
    position:absolute; top:0px; left:center; width:850px; background:#FFF; border:1px solid #cdcdcd; overflow:hidden; z-index:1000; display:none;
	}
.selectItemtit{
    width:100%; line-height:40px; height:40px; border-bottom:1px solid #ebebeb;
	}
	.selectItemtit a{
	     float:left; display:inline-block; line-height:40px; padding:0 6px; margin:0 5px; color:#0098db; border-bottom:1px solid #ebebeb; overflow:hidden;min-width:80px;width:auto;text-align:center;
		 }
		 .selectItemtit a.current{
		    border-bottom:1px solid #0098db; text-decoration:none;
			}
.selectItemright{
     float:right; cursor:pointer;
	 }
.selectItemcont{
      width:96%; margin:10px auto; overflow:hidden;
	  }
	  .selectItemcont input{
	      display:none;
		  }
	  .selectItemcont .button{
	      margin:2px 6px;
		  }

.History{
	    width:100%; padding-top:20px; overflow:hidden;
		}
		.Trunk{
			margin:0 auto; width:341px; background-color:#0096db; overflow:hidden;
			}
			.Trunk li{
			   width:100%; border-top:1px solid #fff; padding:12px 0; background-repeat:no-repeat; background-position: 36px center;  overflow:hidden;
			   }
			   .Trunk li.none{
			       border-top:none;
				   }
			   .Trunk li p{
			       text-align:center; color:#fff; font-size:14px;
				   }
		.Branch{
			margin:0 auto; width:743px; overflow:hidden;
			}
			.Branch li{
			    width:100%; padding:21px 0; background:url('../img/Branch_bj.jpg') repeat-y top center; overflow:hidden;
				}
				.Branch li.no-repeat{
				    background-repeat:no-repeat;
					}
				.Branch li p{
				    width:100%; overflow:hidden;
					}
				.Lf{
				    float:left; width:348px; height:57px; overflow:hidden;
					}
				.Ct{
				    float:left; width:47px; height:57px; overflow:hidden;
					}
				.Rg{
				    float:left; width:348px; height:57px; overflow:hidden;
					}
				.case01{
				    background:url('../img/case01.png') no-repeat top center; padding:6px 0 6px 20px; width:328px; height:45px;
					}
				.case02{
				    background:url('../img/case02.png') no-repeat top center; padding:6px 0 6px 20px; width:328px; height:45px;
					}
					
					
.triangle-border {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    color: #333333;
    margin: 1em 0 3em;
    padding: 10px;
    position: relative;
}
.triangle-border.left {
    margin-left: 10px;
}
.triangle-border.right {
    margin-right: 10px;
}
.triangle-border:before {
    border-color: #CDCDCD rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 20px 20px 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 40px;
    position: absolute;
    width: 0;
}
.triangle-border:after {
    border-color: #FFFFFF rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 13px 13px 0;
    bottom: -13px;
    content: "";
    display: block;
    left: 47px;
    position: absolute;
    width: 0;
}
.triangle-border.top:before {
    border-width: 0 20px 20px;
    bottom: auto;
    left: auto;
    right: 40px;
    top: -20px;
}
.triangle-border.top:after {
    border-width: 0 13px 13px;
    bottom: auto;
    left: auto;
    right: 47px;
    top: -13px;
}
.triangle-border.left:before {
    border-color: rgba(0, 0, 0, 0) #CDCDCD;
    border-width: 7px 17px 7px 0;
    bottom: auto;
    left: -17px;
    top: 11px;
}
.triangle-border.left:after {
    border-color: rgba(0, 0, 0, 0) #FFFFFF;
    border-width: 7px 15px 7px 0;
    bottom: auto;
    left: -14px;
    top: 11px;
}
.triangle-border.right:before {
     border-color: rgba(0, 0, 0, 0) #CDCDCD;
    border-width: 10px 0 10px 15px;
    bottom: auto;
    left: auto;
    right: -15px;
    top: 9px;
}
.triangle-border.right:after {
   border-color: rgba(0, 0, 0, 0) #FFFFFF;
    border-width: 9px 0 10px 15px;
    bottom: auto;
    left: auto;
    right: -14px;
    top: 10px;
}
.modal-dialog h1 {
    width: 100%;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}