﻿#emb-bg{ background-color:#f7f7f7;}
.ico01{background:url('/images/embargo02.png') no-repeat 27px center;}
.ico02{background:url('/images/embargo03.png') no-repeat 5px center;}
.ico03{background:url('/images/embargo04.png') no-repeat 27px center;}
.embargo{ margin:10px auto; width:1017px; border:10px solid #BFC6D8; border-radius: 10px; background-color:#fff; overflow:hidden;}
.embargo .page-heading{ background-color:#748EA0; text-align:center; padding:20px 0; color:#fff; overflow:hidden;}
.embargo .page-heading p{ color:#fff;}
.embargo .page-heading-pf{font-size:30px;margin-bottom: 20px;}
.embargo .page-heading-ps{font-size:14px;}
.embargo .page-subject{ width:100%; height:60px; line-height:60px; background-color:#f4f4f4; margin:1px auto; overflow:hidden;}
.embargo .page-subject strong{ float:left; height:60px; font-size:45px; line-height:56px; color:#d91e17; padding-left:110px;}
.embargo .page-subject a{ float:right; display:block; width:173px; text-align:center; height:60px; margin-left:1px; background-color:#bababa; color:#fff; font-size:24px; overflow:hidden; font-weight:bold;}
.embargo .page-subject a:hover,.embargo .page-subject a.active{ text-decoration:none; background-color:#d91e17;}
.embargo .list-pic-top{ width:100%; padding:20px 0; overflow:hidden;}
.embargo .list-pic-top li{ float:left; width:201px; height:238px; text-align:center; padding:0 26px; overflow:hidden;}
.embargo .list-pic-top li em{ display:block; height:150px; overflow:hidden;}
.embargo .list-pic-top li h3,.embargo .list-pic-top li h3 a{ font-size:24px; line-height:30px; color:#da3731; font-weight:bold; display:block; margin:10px 0;}
.embargo .list-pic-top li p{ font-size:16px; color:#666;}
.embargo .list-pic-top li p span{ font-size:28px;}
.embargo .list-pic-left{padding:36px 0 10px 10px; overflow:hidden;}
.embargo .list-pic-left li{ float:left; width:430px; height:188px; padding:0 34px; overflow:hidden;}
.embargo .list-pic-left li .pull-left{ width:183px; overflow:hidden; display:block;}
.embargo .list-pic-left li h3{ font-size:24px; color:#5A4B4A; padding-bottom:5px;}
.embargo .list-pic-left li h3 strong{ border-bottom:3px solid #dbdbdb; display:inline-block; padding:10px 0;}
.embargo .list-pic-left li p{ font-size:14px; color:#333;}
.embargo .list-pic-left li p span{ display:inline-block; padding-right:15px;}

.tip_showMore{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CDCDCD;border-radius: 5px;color: #333333;margin: 1em 0 3em;padding: 10px;position: relative;box-shadow:-2px 0px 8px #e6e6e6,0px -2px 8px #e6e6e6,0px 2px 8px #e6e6e6,2px 0px 8px #e6e6e6;}
.tip_showMore div{height: auto;min-height: 20px;}
.tip_showMore.left{margin-left: 10px;}
.tip_showMore.right{margin-right: 10px;}
.tip_showMore:before{border-color: #CDCDCD rgba(0, 0, 0, 0);border-style: solid;border-width: 20px 20px 0;bottom: -20px;content: "";display: block;left: 40px;position: absolute;width: 0;}
.tip_showMore:after{border-color: #FFFFFF rgba(0, 0, 0, 0);border-style: solid;border-width: 13px 13px 0;bottom: -13px;content: "";display: block;left: 47px;position: absolute;width: 0;}
.tip_showMore.top:before{border-width: 0 20px 20px;bottom: auto;left: auto;right: 40px;top: -20px;}
.tip_showMore.top:after{border-width: 0 13px 13px;bottom: auto;left: auto;right: 47px;top: -13px;}
.tip_showMore.left:before{border-color: rgba(0, 0, 0, 0) #CDCDCD;border-width: 7px 10px 7px 0;bottom: auto;left: -10px;top: 32px;}
.tip_showMore.left:after{border-color: rgba(0, 0, 0, 0) #FFFFFF;border-width: 7px 10px 7px 0;bottom: auto;left: -7px;top: 32px;}
.tip_showMore.right:before{border-color: rgba(0, 0, 0, 0) #CDCDCD;border-width: 6px 0 8px 10px;bottom: auto;left: auto;right: -11px;top: 32px;}
.tip_showMore.right:after{border-color: rgba(0, 0, 0, 0) #FFFFFF;border-width: 6px 0 8px 10px;bottom: auto;left: auto;right: -10px;top: 32px;}
