@charset "UTF-8";
/* CSS Document 更改测试*/
html{
	font-family:"microsoft yahei",Helvetica,Arial,Verdana,sans-serif;
	
}
body, dl, dt, dd, ul, ol, li, pre, form, input, p, blockquote, th, td {
	margin:0;
	padding:0;
	color:#414141;
}

h1, h2, h3, h4, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	margin:0;
	padding:0;
}
a,button{
	cursor:pointer;
}
a,a:link{
	color:#333;
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:hover,
a:active,a.col_orange{
	color:#ff6600;
}
label {
	font-weight:normal;
	display:inline;
}
dt{
	font-weight:normal;
}
dt,dd{
	line-height:normal;
}

 input,select,textarea{
	padding: 4px;
	/* outline: none;  */
} 

select{
	min-width: 165px;
	*min-width:158px;
	margin:0;
}
optgroup{
	padding:3px;
	color:#999;
	font-style: normal;
	font-weight:400;
}
select option{
	color:#000;
	line-height:18px;
	padding:0 3px;
}
table {
	border-collapse:collapse;
}

img {
	border:none;
	vertical-align:bottom;

}
fieldset p {
	margin:0;
	padding:0 0 0 8px;
}
address, caption, em, strong, th, i {
	font-style:normal;
}
table caption {
	margin-left:-1px;
}
hr {
	border-bottom:1px solid #fff;
	border-top:1px solid #E4E4E4;
	border-width:1px 0;
	clear:both;
	height:2px;
	overflow:hidden;
}
ol, ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
caption, th {
	text-align:left;
}
q:before, q:after, blockquote:before, blockquote:after {
	content:"";
}



.hidden{ display:none;}
.show{ display:block;}

.col_000{color: #000;}
.col_333{color: #333;}
.col_666{color: #666;}
.col_999{color: #999;}/* modify */
.col_blue,a.col_blue{color: #277feb;}/* modify */
.col_orange{color: #ff6600;}
.col_red{color: #ff0000;}
.col_green{color: #2baa3f;} /* liangsx add */
a.col_blue:hover{color:#ff6600;}

.bg-red{
    background: #ff3300;
    color: #fff;
}
.bg-green{
    background: #00cc35;
    color: #fff;
}


/*适用于多数情况的类*/
.p5{padding: 5px;}
.pt5{padding-top: 5px;}
.pb5{padding-bottom: 5px;}
.pl5{padding-left: 5px;}
.pr5{padding-right: 5px;}
.m5{margin: 5px;}
.mt5{margin-top: 5px;}
.mb5{margin-bottom: 5px;}
.ml5{margin-left: 5px;}
.mr5{margin-right: 5px;}

.p10{padding: 10px;}/* modify */
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}
.m10{margin: 10px;}
.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}
.ml10{margin-left: 10px;}
.mr10{margin-right: 10px;}

.p15{padding: 15px;}
.pt15{padding-top: 15px;}
.pb15{padding-bottom: 15px;}
.pl15{padding-left: 15px;}
.pr15{padding-right: 15px;}
.m15{margin: 15px;}
.mt15{margin-top: 15px;}
.mb15{margin-bottom: 15px;}
.ml15{margin-left: 15px;}
.mr15{margin-right: 15px;}

.p20{padding: 20px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}
.pl20{padding-left: 20px;}
.pr20{padding-right: 20px;}
.m20{margin: 20px;}
.mt20{margin-top: 20px;}
.mb20{margin-bottom: 20px;}
.ml20{margin-left: 20px;}
.mr20{margin-right: 20px;}

.ptb30{padding:30px 0px ;}
.pt30{padding-top: 30px;}
.pb30{padding-bottom: 30px;}
.pl30{padding-left: 30px;}
.pr30{padding-right:30px;}

.ptb40{padding:40px 0px ;}
.pt40{padding-top:40px;}
.pb40{padding-bottom:40px;}
.pl40{padding-left:40px;}
.pr40{padding-right:40px;}

.ptb50{padding:50px 0px ;}
.pt50{padding-top:50px;}
.pb50{padding-bottom:50px;}
.pl50{padding-left:50px;}
.pr50{padding-right:50px;}

.ptb60{padding:60px 0px ;}
.pt60{padding-top:60px;}
.pb60{padding-bottom:60px;}
.pl60{padding-left:60px;}
.pr60{padding-right:60px;}

/* 清除溢出问题 —— 放在父盒子里 */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {zoom:1;}


/* 橙色btn */
a.btn-orange,
.btn-orange {
  color: #fff;
  background-color: #ff3300;
  border-color: #ff3300;
}

.btn-orange:focus,
.btn-orange.focus {
  color: #fff;
  background-color: #f23a00;
  border-color: #db3c0a;
}
.btn-orange:hover {
  color: #fff;
    background-color: #f23a00;
    border-color: #db3c0a;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #fff;
    background-color: #f23a00;
    border-color: #db3c0a;}
.btn-orange:active:hover,
.btn-orange.active:hover,
.open > .dropdown-toggle.btn-orange:hover,
.btn-orange:active:focus,
.btn-orange.active:focus,
.open > .dropdown-toggle.btn-orange:focus,
.btn-orange:active.focus,
.btn-orange.active.focus,
.open > .dropdown-toggle.btn-orange.focus {
  color: #fff;
    background-color: #f23a00;
    border-color: #db3c0a;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  background-image: none;
}
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus {
    background-color: #f23a00;
    border-color: #db3c0a;
}
.btn-orange .badge {
  color: #ff6600;
  background-color: #fff;
}

.btn-black{
    background: #000;
    color: #fff;
}

.btn-black:focus,
.btn-black.focus {
    color: #fff;
    background-color: #222;
    border-color: #111;
}
.btn-black:hover {
    color: #fff;
    background-color: #222;
    border-color: #111;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-orange {
    color: #fff;
    background-color: #222;
    border-color: #111;}
.btn-black:active:hover,
.btn-black.active:hover,
.open > .dropdown-toggle.btn-black:hover,
.btn-black:active:focus,
.btn-black.active:focus,
.open > .dropdown-toggle.btn-black:focus,
.btn-black:active.focus,
.btn-black.active.focus,
.open > .dropdown-toggle.btn-black.focus {
    color: #fff;
    background-color: #222;
    border-color: #111;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-orange {
    background-image: none;
}

/* 默认样式按钮 */
a.btn-default,
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
/* daigm add */
.wrap1200{
	width: 1200px;
	overflow: hidden;
	margin: 0px auto;
}
.floatL{float: left;}
.floatR{float: right;}
.form-control{
    border-color: #ddd;
    outline: none;
}
.form-control::-moz-placeholder {
    color: #bbb;
}
.form-control:-ms-input-placeholder {
    color: #bbb;
}
.form-control::-webkit-input-placeholder {
    color: #bbb;
}
.phcolor{color: #bbb;}
.modal-dialog{
    max-width: 800px;
    width: 600px\9;
}
.modal-content{
   /* box-shadow: none;*/
    border: none;
    border-radius: 0;

}
.modal-header{
    margin: 0 12px;
    border-bottom:1px solid #eee;
}
.modal-title{
    font-size: 15px;
    font-weight: bold;
}
.modal-body{
    padding: 15px 30px;
}
.modal-footer{
    border: none;
    text-align: center;
}


/* liangsx add */

	/* 矩形按钮 无圆角*/
	.btn_rec{
	border-radius: 0;
	}
	.btn_rec_bg{
		padding: 6px 20px;
		border-radius: 0;
	}
	
	/* 子页面路径 */
	.seconav.menuBg{
		background-color: #f1f1f1;
		width: 100%;
	}
	.seconav.menuBg h3 >i {
		position: absolute;
		right: 10px;
		top: 18px;
	}
	/* 子页面分类路径 */
	.classify{
		width: 100%;
		overflow: hidden;
		position: relative;
		font-size: 12px;
		line-height: 55px;
	}
	.classify a:after{
		content: "\003e";
		padding-left: 5px;
		color: #ddd;
		font-family: "微软雅黑"
	}
	.classify.edit a{
		border: solid 1px ;
		border-color:#ddd;
		background-color: #f3f3f3;
		color: #ff6600;
		padding: 3px 5px;
		position: relative;
	}
	.classify.edit a:after{
		content: "";
	}
	.classify.edit .close{
		position: absolute;
		right: 5px;
		top: -2px;
		color: #999;
	}
	.classify.edit a > span{
		padding-right: 14px;
	}
	.classify.edit a > em{
		color: #666;
		padding-right: 3px;
	}
	.classify.edit a:hover{
		border-color: #ff6600;
		background-color: #fff;
	}
	.classify.edit a:hover > .close{
		color: #ff6600;
		font-weight: bold;
	}
	.classify.edit .close:hover,	
	.classify.edit.close:focus{
		opacity: 1;
		color: #ff6600;
	}

    .borderNo{
        border: none!important;
    }
.btn-list button{
    margin-right: 8px;
}
.btn-list i{
    margin-right: 5px;
}