/* 20170809 by liangsx  前店框架*/


/* 
*  ---- 前店头部 ----
*
*/


.header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 1;
}

.logo{
    display: block;
    position: relative;
    margin-top: 30px;
}
.logo .logo-img{
     width: 142px;
     height: 31px;

}
.menu{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:flex-end;
    position: relative;
    padding-top: 28px;
}

.menu a,
.r-head a
{
    color: #2b2b2b;
}
.menu a:hover,
.r-head a:hover
{
    opacity: .8;
}

.r-head{
     display: flex;
     flex-direction:row-reverse;
     font-size: 16px;
    line-height: 100px;
}
.r-head .iconfont{
    padding-right: 3px;
}
.r-head .item{
    display: inline-block;
    /* width: 60px; */
    padding-left: 10px;
    text-align: right ;
}


.menu li{
    list-style: none;
    width: 120px;
    font-size: 16px;
}
.menu li .caret{
    margin-left: 3px;
    border-top: 3px dashed;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    transition: all 1s;
}
.menu li.selected > .m-item > a{
    color: #1b8bcc;
}
.menu .m-sc-item{
    display: none;

   }
.menu li.active .m-sc-item{
    display: block;
}
.m-item{
    position: relative;
    text-align: left;

}
.m-item > a{
    display: inline-block;
    padding:10px 20px;
}

.menu li.active .m-item > a{
    color: #2b2b2b;
     background-color: #fff;
     box-shadow:-0px -0px 3px rgba(0,0,0,.2);
}
.m-sc-item{
    position: absolute;
    background-color: #fff;
    box-shadow:0px 3px 4px rgba(0,0,0,.2);
    min-width: 160px;
    margin-top: -2px;
    z-index: 10;
}
.m-sc-item li{
    width: 100%;
    font-size: 14px;
    padding: 6px 20px;
    text-align: left;
    cursor: pointer;
}
.m-sc-item li:first-child{
    margin-top:0;
}
.m-sc-item li > a{
    color: #5e5e5e;
    display: block;
}
.m-sc-item li:hover{
    background-color: #ffea01;
}
.m-sc-item li:hover a{
    color: #2b2b2b;
}
.m-sc-item li.active a{
    color: #2b2b2b;
}
.m-sc-item li.active{
      background-color: #ffea01;
}


