/* 20170811 by liangsx  */

.idbox{
    position: relative;
    min-height: 500px;
}
.idbox .tit{
    border-left: none;
    padding-left: 0;
    border-bottom: solid 1px #ddd;
    line-height: 60px;
}
.form-group{
    margin-bottom: 40px;
}

.form-horizontal .control-label{
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
}
.mb-lg{
    margin-bottom: 60px;
}
.dropify-wrapper{
    padding: 0;
}
.btn-p-radius{
    padding: 10px 80px;
    margin:0 10px;
    border-radius: 30px;
    box-shadow: 0 8px 12px #9ccde9;
}
.idbtn{
    margin:40px 0 80px;
}