/* 20170809 by liangsx  */


/* 
*  ---- 登录、注册 ----
*
*/

.bgImg{
    background: url('../images/cover.png') no-repeat top center;
    min-height: 550px;
    padding: 40px;
    position: relative;
}
.panel{
    width: 450px;
    border-radius: 6px;
    margin:0 auto;
    padding: 10px 40px;
    position: relative;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1)
}
.panel h1{
    text-align: center;
    font-size: 16px;
    margin: 20px;
    font-weight: 700;
}
.mb40{
    margin-bottom: 40px;
}
.tit{
    border: none;
}
/* 
*  ---- 表单 ----
*
*/
.btn-input{
    padding: 0 40px;
    font-size: 14px;
    color: #fff;
    border-radius: 30px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 8px 12px #9ccde9;
    margin-left: 20px;
}
.floating-labels .form-group {
    position:relative
}
.floating-labels .form-control {
 font-size:14px;
 padding:10px 10px 10px 0;
 display:block;
 border:none;
 height: auto;
 box-shadow: none;
 -webkit-box-shadow: none;
 border-bottom:1px solid #e4e7ea
}
.floating-labels .form-control:focus{
    box-shadow: none;
    -webkit-box-shadow: none;
}
.floating-labels select.form-control>option {
 font-size:14px
}
.has-error .form-control {
 border-bottom:1px solid #ff7676
}
.has-warning .form-control {
 border-bottom:1px solid #ffc36d
}
.has-success .form-control {
 border-bottom:1px solid #53e69d
}
.floating-labels .form-control:focus {
 outline:0;
 border:none;

}
.floating-labels .form-control~label {
 color:#1b8bcc;
 font-size:14px;
 position:absolute;
 cursor:auto;
 visibility: hidden;
 font-weight:400;
 top:0;
 transition:.2s ease all;
 -moz-transition:.2s ease all;
 -webkit-transition:.2s ease all
}
.floating-labels .form-control:focus~label {
 top:-20px;
 font-size:12px;
 color:#1b8bcc;
 visibility: visible;

}

.floating-labels .bar {
 position:relative;
 display:block
}
.floating-labels .bar:after,.floating-labels .bar:before {
 content:'';
 height:2px;
 width:0;
 bottom:1px;
 position:absolute;
 background:#1b8bcc;
 transition:.2s ease all;
 -moz-transition:.2s ease all;
 -webkit-transition:.2s ease all
}
.floating-labels .bar:before {
 left:50%
}
.floating-labels .bar:after {
 right:50%
}
.floating-labels .form-group-btn .bar:before {
 left:34%
}
.floating-labels .form-group-btn .bar:after {
 right:66%
}
.floating-labels .form-control:focus~.bar:after,.floating-labels .form-control:focus~.bar:before {
 width:50%
}
.floating-labels .form-group-btn .form-control:focus~.bar:after,
.floating-labels .form-group-btn .form-control:focus~.bar:before {
 width:34%
}
.floating-labels .highlight {
 position:absolute;
 height:60%;
 width:100px;
 top:25%;
 left:0;
 pointer-events:none;
 opacity:.5
}
.floating-labels .input-lg,.floating-labels .input-lg~label {
 font-size:24px
}
.floating-labels .input-sm,.floating-labels .input-sm~label {
 font-size:16px
}
.has-warning .bar:after,.has-warning .bar:before {
 background:#ffc36d
}
.has-success .bar:after,.has-success .bar:before {
 background:#53e69d
}
.has-error .bar:after,.has-error .bar:before {
 background:#ff7676
}
.has-warning .form-control:focus~label,.has-warning .form-control:valid~label {
 color:#ffc36d
}
.has-success .form-control~label{
     color:#53e69d
}
.has-success .form-control:focus~label,.has-success .form-control:valid~label {
 color:#53e69d
}
.has-error  .form-control~label{
     color:#ff7676
}
.has-error .form-control:focus~label,.has-error .form-control:valid~label {
 color:#ff7676
}
.has-feedback label~.t-0 {
 top:0
}
/* 去掉表单required 样式 */
input:required:invalid, 
input:focus:invalid { 
    /* insert your own styles for invalid form input */ 
    -moz-box-shadow: none; 
}
/* 按钮组合表单 */
.form-group-btn .form-control{
    width: 68%;
}
.input-group-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    display: inline-block;

}
.input-group-btn .btn{
    width: 100%;
    background-color: #f8f8f8;
    padding: 8px 12px;
    border-radius: 0;
    color: #5e5e5e;
}
.form-group{
    position: relative;
}
.form-group-btn .form-control-feedback{
    right: 32%;
}
.ver-code{
    width: 100%;
    height: 38px;
    cursor: pointer;
    border: solid 1px #eee;
}
.select-country{
    display: block;
    font-size: 12px;
    display: none;
    border: solid 1px #ddd;
    z-index: 2;
    width: 100%;
    position: relative;
    background-color: #fff;
}
.input-group-btn.selected .select-country{
    display: block;
}
.select-country li{
    border-bottom: solid 1px #eee;
    overflow: hidden;
    
}
.select-country li:last-child{
    border-bottom: none;
}
.select-country li a{
    display: block;
    width: 100%;
    line-height: 26px;
    padding:2px 10px;
    position: relative;
}
.select-country li a:hover{
    background-color: #f8f8f8;
}
.select-country li a .glyphicon{
    display: none;
    padding-right: 3px;
    font-size: 10px;
    right: 10px;
    top: 10px;
    position: absolute;
}
.select-country li.selected a{
     background-color: #f8f8f8;
     color: #2b2b2b;
}
.select-country li.selected a .glyphicon{
    display: inline-block;

}

/* placeholder 获得焦点隐藏文字*/
input.form-control:focus:-moz-placeholder,  
input.form-control:focus::-moz-placeholder{  
    color: #eee;
} 
input.form-control:focus::-webkit-input-placeholder
{
    color: #eee;
}
input.form-control:focus:-ms-input-placeholder{
     color: #eee;
}
/* 注册协议 */
.agreement{
    font-size: 12px;
    color: #5e5e5e;
    margin-bottom: 40px;
}
.agreement a{
    color: #0066cc;
}
.agreement a:hover{
    text-decoration: underline;
}
