/* 20170810 by liangsx  new */
.newBox{
    width: 780px;
    margin: 0 auto;
    padding: 20px 40px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.newBox h1{
     word-wrap:break-word;
}
.newBox .submitted{
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
    word-wrap:break-word
}
.newBox .con{
    margin: 50px;
    word-wrap:break-word
}
.newBox .intro{
    line-height: 26px;
    color: #5e5e5e;
    font-size: 12px;
    word-wrap:break-word
}
.newList .tit{
    font-size: 18px;
    position: relative;
    line-height: 20px;
    margin-bottom: 34px;
}
.newList .tit::before{
    height: 2px;
    background: #1b8bcc;
    width: 30px;
    content:'';
    position:absolute;
    bottom: -10px;
}

.newList-ul li{
    display: inline-block;
    width: 50%;
    float: left;

}
.newList-ul li a::before
{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: solid 1px #1b8bcc;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0px;
}
.newList-ul li a{
    position: relative;
    display: block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    white-space: nowrap;
    font-size: 14px;
    padding-left: 20px;
}