/* 20170810 by liangsx  充值、支付*/

/* 
*  ----collect ----
*
*/
.bankBox{
    padding:20px;
}

.bankItem .item{
    padding:2px 20px;
    display: inline-block;
    float: left;
    width: 28%;
    margin-right: 20px;
    border: solid 1px #eee;
    margin-bottom: 20px;
}
.bankItem .bankImg{
    width: 149px;
    height: 39px;
    padding-left: 10px;
}

/* 
*  ----pay ----
*
*/
.pay .form-horizontal .form-group{ 
    margin-bottom: 20px;
}