/* 20170815 by liangsx 前店子页面 */



.breadcrumb > .active{
   color: #1b8bcc; 
}
/* 
*  ---- 内容区 ----
*
*/
.s-content{
    width: 870px;
    margin-left: 20px;
    background-color: #fff;
    position: relative;
    float: right;
    margin: 10px 0;
}
.s-con-ul{
    margin: 20px 0;
}
.s-con-li{
    margin-bottom: 20px;
}
.sub-title{
    background-color: #f1f1f1;
    line-height: 60px;
    height: 60px;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}
.sub-title .p{
     width: 80%;
     white-space: nowrap;
     overflow-x: hidden;
     text-overflow: ellipsis;
}
.sub-title > .icon{
    position: absolute;
    right: 10px;
    padding: 10px;
    top: 50%;
    margin-top: -15px;
    color: #666;
    transition: all .3s;
    cursor: pointer;
}
.s-con-ul > li.selected .sub-title > .icon{
    color: #1b8bcc;
    transform: rotate(180deg);
}
.sub-text{
    background-color: #fafafa;
    padding: 20px 40px;
    line-height: 22px;
    color: #5e5e5e;
    display: none;
}
.s-con-ul > li.selected .sub-text{
    display: block;
}
/* 
*  ---- 边栏 ----
*
*/
.s-sidebar{
    width: 260px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    margin: 10px 0;

}
.s-sidebar ul{
    margin: 0;
    padding-left: 0;
}
.s-sidebar ul li{
    font-size: 15px;
    /* height: 60px; */
    line-height: 60px;
    /* padding-left: 20px; */
    position: relative;
}
.s-sidebar-sub{
    background: #f8f8f8;
    padding: 10px 0;
    display: none;
}


.s-sidebar-sub a{
    font-size: 12px;
    line-height: 40px;
}
.s-sidebar ul li a{
    display: block;
    position: relative;
    padding-left: 20px; 
}
.s-sidebar ul li a:visited,
.s-sidebar ul li a:focus{
    text-decoration: none; 
    color: #5e5e5e;
}
.s-sidebar ul li:hover{
    background-color:#f8f8f8;
}
.s-sidebar ul li.selected{
    background-color:#1b8bcc; 
}
.s-sidebar ul li.selected .s-sidebar-sub{
    display: block;
}
.s-sidebar-sub li.selected > a,
.s-sidebar-sub li.selected > a:visited,
.s-sidebar-sub li.selected > a:focus{
    color: #1b8bcc;
    background: #f8f8f8;
}
.s-sidebar > ul >li.selected > a{
     color: #fff;
     text-decoration: none;  
}

.s-sidebar ul li .caret{
    position: absolute;
    right: 10px;
    top: 50%;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}

.s-sidebar ul li.selected > a > .caret{
    transform: rotate(180deg);
}
/* 
*  ---- 面包屑 ----
*
*/
.breadcrumb{
    margin-bottom:0;
    background-color: #fff;
    font-size: 12px;
    padding-left:0 ;
}
.breadcrumb .iconfont{
    font-size: 12px;
}
.breadcrumb li > .active{
    
}
/* 
*  ---- banner ----
*
*/
.s-con-banner{
    margin-bottom: 20px;
}
/* 
*  ---- 禁运物品 ----
*
*/
.s-embargo-ul{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
}
.s-embargo-ul > li{
    width: 33.3%;
    position: relative;
}
.s-embargo-ul > li .icon{
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    border-radius: 80px;
    background-color: #73ccff;
    position: absolute;
    top: 20px;
    right: 30px;
}
.s-embargo-ul > li .icon > .iconfont{
    font-size: 34px;
}
.s-embargo-ul .s-e-dl{
    width: 270px;
    padding: 20px;
    height:150px;
    background-color: #f5f5f5;
    position: relative;
}
.s-e-tit{
    font-size: 20px;
}
.s-e-dl dt{
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.s-e-dl dd{
    width: 60%;
    margin-top: 10px;
    font-size: 12px;
    max-height: 86px;
    overflow-y: hidden;
    cursor: pointer;
    color: #666;
}












