/* 20170809 by liangsx  */


/* 
*  ---- 全局公共 ----
*
*/
html,body{
    font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-width: 1200px;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
a{
    color: #5e5e5e;
    cursor: pointer;
}
a:hover{
    color: #2b2b2b;
}
a:hover{
    text-decoration:none;
}
:focus {
    outline: 0;
    outline:none;/*for IE*/
  border-color: transparent; /*for mozilla*/
}

    
.f12{
  font-size: 12px;
}

.text-info{
  color: #1b8bcc;
}
.text-danger{
  color: #ff6d6d;
}



/*适用于多数情况的类*/
.p5{padding: 5px;}
.pt5{padding-top: 5px;}
.pb5{padding-bottom: 5px;}
.pl5{padding-left: 5px;}
.pr5{padding-right: 5px;}
.m5{margin: 5px;}
.mt5{margin-top: 5px;}
.mb5{margin-bottom: 5px;}
.ml5{margin-left: 5px;}
.mr5{margin-right: 5px;}

.p10{padding: 10px;}
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}
.m10{margin: 10px;}
.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}
.ml10{margin-left: 10px;}
.mr10{margin-right: 10px;}

.p15{padding: 15px;}
.pt15{padding-top: 15px;}
.pb15{padding-bottom: 15px;}
.pl15{padding-left: 15px;}
.pr15{padding-right: 15px;}
.m15{margin: 15px;}
.mt15{margin-top: 15px;}
.mb15{margin-bottom: 15px;}
.ml15{margin-left: 15px;}
.mr15{margin-right: 15px;}

.p20{padding: 20px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}
.pl20{padding-left: 20px;}
.pr20{padding-right: 20px;}
.m20{margin: 20px;}
.mt20{margin-top: 20px;}
.mb20{margin-bottom: 20px;}
.ml20{margin-left: 20px;}
.mr20{margin-right: 20px;}



/* 框架、背景 */
.wrap{
    width: 100%;
    position: relative;
}
.wrap-box{
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
.bg-white{
    background-color: #fff;
}
.bg-gray{
    background-color: #f5f5f5;
}
.text-blue{color: #1b8bcc;}

.tit{
  border-left: solid 2px #1b8bcc;
  padding-left: 10px;
  margin-bottom: 30px;
}
h4.tit{
  margin-bottom: 40px;
}
/* 
*  ---- 全局bootstrap ----
*
*/
a.btn-primary{
  color: #fff;
}
.btn-primary{
    color: #fff;
    background-color: #1b8bcc;
    border-color: #1b8bcc;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #0470af;
  border-color: #0470af;
}
.btn-primary:hover {
  color: #fff;
  background-color: #1a73a7;
  border-color: #1a73a7;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1b8bcc;
  border-color: #1b8bcc;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #1a73a7;
  border-color: #1a73a7;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #0470af;
  border-color: #0470af;
}
.btn-primary .badge {
  color: #0470af;
  background-color: #fff;
}
.label{
  border-radius: 30px;
  font-weight: normal;
}
.label-info{
  background-color: #1b8bcc;
}
/* 按钮2 */
.btn-primary2{
    color: #1b8bcc;
    background-color: #fff;
    border-color: #1b8bcc;
    border-radius: 50px;

}
.btn-primary2:focus,
.btn-primary2.focus {
  color: #1b8bcc;
  background-color: #fff;
  border-color: #1b8bcc;
}
.btn-primary2:hover {
  color: #1b8bcc;
  background-color: #fff;
  border-color: #1b8bcc;
}
.btn-primary2:active,
.btn-primary2.active,
.open > .dropdown-toggle.btn-primary2 {
  color: #fff;
  background-color: #1b8bcc;
  border-color: #1b8bcc;
}
.btn-primary2:active:hover,
.btn-primary2.active:hover,
.open > .dropdown-toggle.btn-primary2:hover,
.btn-primary2:active:focus,
.btn-primary2.active:focus,
.open > .dropdown-toggle.btn-primary2:focus,
.btn-primary2:active.focus,
.btn-primary2.active.focus,
.open > .dropdown-toggle.btn-primary2.focus {
  color: #fff;
  background-color: #1a73a7;
  border-color: #1a73a7;
}
.btn-primary2:active,
.btn-primary2.active,
.open > .dropdown-toggle.btn-primary2 {
  background-image: none;
}
.btn-primary2.disabled:hover,
.btn-primary2[disabled]:hover,
fieldset[disabled] .btn-primary2:hover,
.btn-primary2.disabled:focus,
.btn-primary2[disabled]:focus,
fieldset[disabled] .btn-primary2:focus,
.btn-primary2.disabled.focus,
.btn-primary2[disabled].focus,
fieldset[disabled] .btn-primary2.focus {
  background-color: #0470af;
  border-color: #0470af;
}
.btn-primary2 .badge {
  color: #0470af;
  background-color: #fff;
}


.alert{
  font-size: 12px;
  line-height: 20px;
}
.control-label{
  font-weight: normal;

}

/* 
*  ---- 全局尾部 ----
*
*/
.footer{
    background: #1b8bcc;
    height: 360px;
    position: relative;
}
.footer .wrap-box{
    display: -webkit-flex;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
}
.logo-foot{
    width: 150px;
    height: 40px;
    background: url('../images/logo-f.png') no-repeat left;
    opacity: .3;
    margin-bottom: 28px;
}
.footer .wrap-box .item{
    font-size: 12px;
    margin-top: 70px;
    line-height: 26px;
}
.footer .wrap-box .item .share a{
    display: block;
    margin-bottom: 10px;
}

.footer .wrap-box .item h4{
    margin-bottom: 20px;

}
.footer .wrap-box .item h4 .iconfont{
    font-size: 30px;
    padding-right: 8px;
    position: relative;
    top: 5px;
}
.footer .wrap-box .item .share .iconfont{
    font-size: 30px;
    position: relative;
    top: 8px;
    padding-right: 10px;
}
.footer .mo{
    text-decoration: underline;
}
.footer .wrap-box .item:nth-child(1){
    width: 300px;
    padding-right: 60px;

   
}
.footer .wrap-box .item:nth-child(2){
    width: 340px;
    padding-right: 60px;
}
.footer .wrap-box .item:nth-child(3){
    width: 240px;
}
.footer .wrap-box .item:nth-child(4){
    width: 260px;
}
.footer,
.footer a{
    color: #fff;
}
.footer a:hover{
    opacity: .9;
}
.table-nobor.table > tbody > tr > td,
.table-nobor.table > tbody > tr > th,
.table-nobor.table > tfoot > tr > td,
.table-nobor.table > tfoot > tr > th,
.table-nobor.table > thead > tr > td,
.table-nobor.table > thead > tr > th
{
    border-top: none;
    padding-left: 0;
}
.copyright{
    font-size: 12px;
    background-color: #177db8;
    line-height: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer .f-weixin{
  position: relative;
}
.f-weixinQR{
  position: absolute;
  bottom: 140px;
  left: -50px;
  border: solid 1px #eee;
  padding: 10px;
  background-color: #fff;
  display: none;
}
.f-weixinQR .caret{
  position: absolute;
  border-top: 12px dashed;
  border-top: 12px solid\9;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  bottom: -6px;
  left: 50%;
  margin-left: -6px;

}
.f-weixinQR img{
  width: 160px;

}

/* 
*  ---- 全局 toolbar ----
*
*/
.toolbar {
    position: fixed;
    right: 10px;
    bottom: 270px;
    z-index: 999;
}
.toolbar .barbox{
    width: 60px;
    padding: 4px 0;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #1b8bcc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    margin-bottom: 10px;
   
}
.tool-btn{
    color: #fff;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;

}
.tool-btn .iconfont{
    display: block;
    font-size: 30px;
}
.tool-btn:hover{
    color: #ffea00;
}

.toolbar .weixin{
  position: relative;
}
.qrcode_weixin{
  padding: 10px;
  border: solid 1px #eee;
  position: absolute;
  right: 80px;
  background-color: #fff;
  top:0;
  display: none;
}
.selected.qrcode_weixin{
  display: block;
}
.qrcode_weixin .closeBar{
  width: 22px;
  height: 60px;
  line-height: 22px;
  padding-top: 6px;
  border-radius: 6px 0 0 6px;
  color: #fff;
  background-color: #1b8bcc;
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  right: 180px;
  bottom: 0;
}
.qrcode_weixin img{
  width: 160px;
}
/* 小banner */
.min-banner{
  width: 100%;
  height: 155px;
  background-color: #1b8bcc;
  padding-top: 20px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.min-banner .bgImg{
  width: 100%;
  height: 185px;
  background: url('../images/min-banner.png') center;
  background-position: 0 600px;
  opacity: .1;
  position: absolute;
  top: 0;
}
.min-banner .logo{
  width: 150px;
  height: 52px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top: 50px;
  background: url('../images/logo-minbanner.png') no-repeat center;
  opacity: 1;
}
.min-banner .txt{
  color: #fff;
  letter-spacing: 2px;
  line-height: 120px;
  font-size: 30px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}






















