/* 20170808 by liangsx  */




/* 
*  ---- 首页公共 ----
*
*/
.title{
    text-align: center;
    margin-top: 20px;
    padding-top: 52px;
    position: relative;
    height: 160px;
    z-index: 1;

} 
.btn-more{
    background-color: #1b8bcc;
    font-size: 8px;
    padding: 3px 4px;
    /* line-height: 12px; */
    /* padding-bottom: 2px ; */
    border-radius: 10px;
    color: #fff;
    position: relative;
    top: -5px;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}
.btn-more:hover{
    background-color: #ffea00;
     color: #2b2b2b;
}
.tit-bg{
    color: #eee;
    font-size: 60px;
    position: absolute;
    width: 270px;
    margin-left: -145px;
    top: 0;
    opacity: .4;
    left: 50%;
    text-align: center;
    z-index: -1;
}
.tit-bg.gray{
     opacity: .8;
}


/* 
*  ---- 顶部 ----
*
*/
.header{
    width: 100%;
    height: 100px;
    position: relative;
}
.head-bg{
    position: relative;
}
.head-bg-blue{
    width: 100%;
    height: 680px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #1b8bcc;
    opacity: .95;
}
.logo{
    display: block;
    position: relative;
    margin-top: 30px;
}
.logo .logo-img{
     width: 142px;
     height: 31px;
}
.menu{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:flex-end;
    position: relative;
    padding-top: 28px;
}

.menu a,
.r-head a
{
    color: #fff;
}
.r-head .iconfont{
    padding-right: 3px;
}
.r-head a:hover
{
    color: #fff;
    opacity: .8;
}

.r-head{
     display: flex;
     flex-direction:row-reverse;
      font-size: 16px;
    line-height: 100px;
}
.r-head .item{
    display: inline-block;
    /* width: 60px; */
    padding-left: 10px;
    text-align: right ;
}



.menu li{
    list-style: none;
    width: 120px;
    font-size: 16px;
}
.menu li .caret{
    margin-left: 3px;
    border-top: 3px dashed;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    transition: all 1s;
}
.menu li.selected > .m-item > a{
    color: #ffea01;
}
.menu .m-sc-item{
    display: none;

   }
.menu li.active .m-sc-item{
    display: block;
}
.m-item{
    position: relative;
    text-align: left;

}
.m-item > a{
    display: inline-block;
    padding:10px 20px;
}
.menu li.active .m-item{
   
}
.menu li.active .m-item > a{
    color: #2b2b2b;
     background-color: #fff;
}
.m-sc-item{
    position: absolute;
    background-color: #fff;
    box-shadow:2px 2px 3px rgba(0,0,0,.1);
    min-width: 160px;
    z-index: 10;
}
.m-sc-item li{
    width: 100%;
    font-size: 14px;
    padding: 6px 20px;
    text-align: left;
    cursor: pointer;
}
.m-sc-item li:first-child{
    margin-top:0;
}
.m-sc-item li > a{
    color: #5e5e5e;
    display: block;
}
.m-sc-item li:hover{
    background-color: #ffea01;
}
.m-sc-item li:hover a{
    color: #2b2b2b;
}
.m-sc-item li.active a{
    color: #2b2b2b;
}
.m-sc-item li.active{
      background-color: #ffea01;
}

/* 
*  ---- banner  carousel控件只在首页如此展示----
*
*/

.banner{
    width: 100%;
    height: 330px;
    margin-top: 20px;
    background-color: #fff;
  
}
.banner .carousel{
     height: 330px;
}
.carousel-control{
    opacity: .9;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);

}
.carousel-control.left,
.carousel-control.right{
    background-image: none;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev{
    background-color: #fff;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    font-size: 12px;
    padding-top: 12px;

}
.carousel-control:hover .glyphicon-chevron-left,
.carousel-control:hover .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev{
    background-color: #ffea01;
}
.carousel-indicators .active{
    background-color: #ffea01;
    border-color: #ffea01;
}
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next{
    margin-right: -105px;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .icon-prev{
    margin-left: -105px;
}
.banner .carousel-inner > .item > a > img, 
.banner .carousel-inner > .item > img
{
    height: 330px;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next, 
.carousel-control .icon-prev{
    top: 43%;
    box-shadow:2px 2px 3px rgba(0,0,0,.1);
}
/* 
*  ---- 运单查询 ----
*
*/

.search-exp{
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    height: 130px;
    margin-top: 20px;
    padding-top: 35px;
    position: relative;
}

.search-exp .form-inline .form-control{
    width: 700px;
    height: 50px;
    border-radius: 25px;
}
.search-exp .form-inline{
    position: relative;
    z-index: 20;
}
.btn-exp{
    padding: 0 60px;
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 8px 12px #9ccde9;
    margin-left: 20px;
}
/* 
*  ---- 运单详情 ----
*
*/
.index-package{
    position: absolute;
    width: 740px;
    z-index: 10;
    padding: 20px;
    text-align: left;
    left: 111px;
    top: 65px;
}
.index-package .package-title{
    padding-top: 40px;
    margin-top: -30px; 
}
.package-status .status-list li::before {
  background-color: #fff;  
  top: -2px;
}


.index-package .package-status .status-list .text{
    width: 530px;
}
.index-package .package-status{
    border-radius:0 0 20px 20px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1)
}
/* 
*  ---- 我们的服务 ----
*
*/
.service {
    color: #1b8bcc;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
        position: relative;
}
.service li{
    width: 269px;
    height: 147px;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('../images/s_1.png');
    background-position: 0px 160px;
    position: relative;
    padding: 0;
}
.service li:nth-child(2){
    background-image: url('../images/s_2.png');
    background-position: -60px 200px;
}
.service li:nth-child(3){
    background-image: url('../images/s_3.png');
    background-position: -100px 260px;

}
.service li:nth-child(4){
    background-image: url('../images/s_4.png');
    background-position: -50px 260px;
}
.service .item{
    opacity: .94;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    border: solid 1px #d8d8d8;
}
.service .icon{
    padding-top: 10px;
    text-align: center;
    height: 60px;
    display: inline-block;
    line-height: 60px;

}
.service .icon .iconfont{
    font-size: 30px;
    color: #1b8bcc;
}
.service a{
    color: #1b8bcc;
}
.service a:hover{
    opacity: .9;
}
/* 
*  ---- 新闻动态 ----
*
*/
.news{
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;

}
.news .item-ul{
    width: 450px;
    margin: 0 auto;
    overflow: hidden; 
    padding: 20px;
}
.item-ul li{
    line-height: 40px;
    position: relative;
    padding-left: 10px;
}
.item-ul li::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: solid 1px #1b8bcc;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 16px;
    left: -10px;

}
.line-r{
    border-right: solid 1px #eee;
}

/* 
*  ---- 海淘教程 ----
*
*/
.haitao-course p{
    font-size: 12px;
}
.haitao-course .thumbnail a > img,
.haitao-course .thumbnail > img{
    width: 100%;
    max-height: 100px!important;
}
.haitao-course .btn{
    font-size: 12px;
}
.haitao-course .btn-primary2:active,
.haitao-course .btn-primary2:hover{
    background-color: #ffea00;
    color: #2b2b2b;
    border-color: #ffea00;
}

.haitao-course .img{
    display: block;
    width: 100%;
    cursor: pointer;
    height: 100px;
    overflow: hidden;
    background-image: url('../images/c_1.png');
    background-position: -10px -170px;
}
.haitao-course .img.c2{
     background-image: url('../images/c_2.png');
    background-position: -30px -360px;
}
.haitao-course .img.c3{
     background-image: url('../images/c_3.png');
    background-position: -30px -210px;
}
.haitao-course .img.c4{
     background-image: url('../images/c_4.png');
    background-position: -40px -210px;
}
.haitao-course .caption{
    
}
.haitao-course .caption .txt{
    height: 68px;
    overflow-y: hidden;
    position: relative;
}
.haitao-course .caption .ellipsis{
    background: #fff;
    display: inline-block;
    padding: 0 4px;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* 
*  ---- 合作伙伴 ----
*
*/
.partner {
    margin-bottom: 40px;
}
.partner .item{
    width: 100%;
    height: 200px;
    padding-top: 50px;
    overflow: hidden;
}
.partner .item .box
{
    width: 1170px;
    display: -webkit-flex;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
}
.partner .item-logo{
    width: 90px;
    height: 90px;
    margin: 0 30px;
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
    display: inline-block;
    box-shadow:2px 2px 3px rgba(0,0,0,.3);
    display: inline-flex;
}
.partner .item img{
    width: 90px;
}

/* 
*  ---- 承诺 ----
*
*/
.promise {
     background-color: #f8f8f8;
     color: #1b8bcc;
}
.promise .wrap-box{
    display: -webkit-flex;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
}
.promise .item{
   width: 230px;
   padding:40px 30px;
   padding-left: 80px;
   border-right: solid 1px #eee;
   margin: 0;
   position: relative;
   
}
.promise .item dt{
    font-size: 16px;
    padding-bottom: 8px;
}

.promise .item:last-child{
    border-right: none;
}

.promise .item dd{
    font-size: 12px;
}
.promise .item .icon{
    position: absolute;
    left: 30px;
    top: 34%;
    margin-top: -7px;
}
.promise .item .icon > .iconfont{
    font-size: 35px;
}











