/* 20170812 by liangsx  优惠券*/


/* 
*  ----  优惠券 ----
*
*/
.p-content{
    background-color: transparent;
}
.amount-coupons{
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
}
.amount-coupons-small{
    color: #999;
    font-size: 12px;
    margin-left: 10px;
}

.coupons-ul{
    display: -webkit-flex; /* Safari */
    display: flex;
   /*  flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    /* justify-content: space-around; */
    align-items: flex-start;
    align-content: flex-start;
}
.coupons-ul .item{
    width: 25%;
    margin-bottom: 15px;
    position: relative;
    margin-left: 45px;
    cursor: pointer;
}
.coupons-ul .c-box .bg{
    position: absolute;
    display: inline-block;
    color: #ecf8ff;
    left: 0;
    top: 0;
    
}
.coupons-ul .disabled .bg{
    color: #f8f8f8;
}
.coupons-ul .c-box .bg .iconfont{
    position: absolute;
    top: -40px;
    left: -50px;
    font-size: 130px;
}
.coupons-ul .c-box{
    width: 100%;
    padding: 20px;
    border: solid 1px #65c2ed;
    position: relative;
    overflow: hidden;
}
.coupons-ul .c-box .title{
    font-size: 18px;
    z-index: 1;
    position: relative;
    color: #1b8bcc;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    text-overflow: ellipsis;
}
.coupons-ul .c-box .rule{
    color: #999;
    font-size: 12px;
     white-space: nowrap;
    overflow-y: hidden;
    width: 80%;
    text-overflow: ellipsis;
    z-index: 10;
    position: relative;
}
.coupons-ul  .triangle2,
.coupons-ul  .triangle{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #3ea3d1;
   
}


.coupons-ul  .triangle2{
   background-color: #fff;
   top: -10px;
   right: -13px;
   z-index: 2;
   transform: rotate(45deg);

}

.coupons-ul .disabled .c-box{
    border-color: #ddd;
}
.coupons-ul .disabled .triangle{
    background-color: #999;
}
.coupons-ul .disabled .title,
.coupons-ul .disabled .rule{
    color: #ddd;
}