/* 20170812 by liangsx  myPackage*/


/* 
*  ---- 物流追踪 modal ----
*
*/
.order-detail .hidden {
    visibility: hidden;
    display: inline-block!important;
}

.package-title{
    background-color: #f3f3f3;
    line-height: 30px;
    color: #2b2b2b;
    padding:3px 10px;
    
    margin: 0;
    border-bottom: solid 1px #ddd;
}
.package-status{
    padding: 18px 0 0 0;
    background-color: #f3f3f3;
    padding: 20px;

    
}
.package-status .status-box{
    font-size: 14px;
    position: relative;
    overflow: hidden;
   
}
.package-status .status-box::before {
    content: " ";
    /* background-color: #f3f3f3; */
    display: block;
    position: absolute;
    top: -2px;
    left: 20px;
    width: 10px;
    height: 4px;
}
.package-status .status-list{
    padding: 0;
    padding-left: 90px;
    list-style: none;
    margin-bottom: 0;
}
.package-status .status-list li {
    padding-bottom:10px;
    border-left: 1px solid #d9d9d9;
    position: relative;
    padding-top: 6px;
}
.package-status .status-list li::before {
    content: '';
    box-sizing:content-box;
    background-color: #f3f3f3;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: -5px;
}

.package-status .status-list li .iconfont{
    position: absolute;
    left: -6px;
    color: #ddd;
    font-size: 11px;
     
}
.package-status .status-list li.latest{
    color: #fe4300;
    padding-top: 20px;
}
.package-status .status-list li.latest .iconfont{
   
    left: -8px;
    color: #ddd;
    font-size: 16px;
    color: #fe4300;
}
.package-status .status-list li.latest .time{
    top: 37px;
}
.package-status .bar-tit{
    padding-bottom: 6px;
    color: #999;
    border-bottom: solid 1px #ddd;
}
.package-status .bar-tit .place{
    padding-left: 80px;
    display: inline-block;
} 
/* .package-status .status-list .latest::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 25px;
    margin-right: 5px;
    position: relative;
    left: -4px;
    top: 5px;
    background-color: #f8e9e4;
    border-color: #f8e9e4;
    opacity: .6;
} */

.package-status .status-list .date, 
.package-status .status-list .week, 
.package-status .status-list .time,
.package-status .status-list .text{
    display: inline-block;
    font-family: Arial;
}
.package-status .status-list .date {
    font-weight: 700;
   
   
    position: absolute;
    left: -90px;
   
}
.package-status .status-list .week {
    width: 32px;
    padding-top: 1px ;
    font-weight: 700;

}
.package-status .status-list .time {
    
    top: 22px;
    left: -90px;
    position: absolute;
    
}
.package-status .status-list .text {
    width: 380px;
    vertical-align: text-top;
    line-height: 1.3em;
    margin-bottom: 10px;
    padding-left: 10px;

}



/* 
*  ---- 订单打印 modal ----
*
*/

.order-printing {
    width: 140mm;
    /* overflow: hidden; */
    margin: 0 auto;
    font-size: 12px;

}
.order-printing table{
   
     width: 160mm;
     /* height: 120mm; */
     margin: 5mm 0;
}
.order-printing table td{
    border: solid 1px #2b2b2b;
}
.order-printing .table > tbody > tr > td, 
.order-printing .table > tbody > tr > th, 
.order-printing .table > tfoot > tr > td, 
.order-printing .table > tfoot > tr > th,
.order-printing .table > thead > tr > td,
.order-printing .table > thead > tr > th{
     border: solid 1px #2b2b2b;
}
.order-haeder{
    position: relative;
    height: 22mm;
    overflow-y: hidden;
}
.order-haeder .logo,
.order-haeder .webSite,
.order-haeder .barCode-box{
    display: inline-block;
    position: absolute;
}

.order-haeder .logo{
    font-size: 30px;
    color: #2b2b2b;
}
.order-haeder .webSite{
   
    color: #2b2b2b;
    bottom: 10px;
    left: 0;
}
.order-haeder .barCode-box{
    right: 0;
    top: 0;
}
.order-haeder .barCode-box img{
    height: 75px;
}
.order-printing .address{
    height: 13mm;
    overflow-y: hidden;
}
.order-printing .goods{
    height: 13mm;
    overflow-y: hidden;
}
.order-printing  .foot-barcode{
    height: 22mm;
    overflow: hidden;
}
.order-printing .foot-barcode img{
   height: 75px;

}
.order-printing .label-txt{
    display: inline-block;
    float: left;
    width: auto;
}
.order-printing table td{
    width: 100%;
    position: relative;
}
.order-printing .label-item{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 280px;
    float: left;
    overflow: hidden;
    line-height: 7mm;
    padding:0 8px;
}
.order-printing .label-item.max{
   width: 580px;
}
.order-printing .td-con{
   height: 13mm; 
}


.table-row{
    height: 7mm;
}
table tr.table-row td{
    padding: 0;
}

