/* by liangsx 20170816 add */

/* 
* ----- 账户设置 、前店费用标准 ----- 
*
*/
.table-set.table{
    margin-bottom: 0;
}
.table-set.table tbody>tr>td:first-child{
    background-color:#f8f8f8 ;
    vertical-align: middle;
}
.table-set.table tbody>tr>td{
    padding-left: 20px;
    line-height: 40px;
}
.table-set.table tbody > tr > td  .radio label,
.table-set.table tbody > tr > td  .radio-inline
{
    line-height: 1.42;
}