/* 20170810 by liangsx  个人中心*/
/* 
*  ---- 内容区 ----
*
*/
.p-content{
    width: 870px;
    margin-left: 20px;
    background-color: #fff;
    position: relative;
    float: right;
    margin: 10px 0;
}

/* 
*  头部 ----
*
*/
.p-header{
    position: relative;
    height: 30px;
    font-size: 12px;v
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}
.p-header .name,
.p-header .quit{
    float: left;
    display: inline-block;
    padding-right: 10px;
    line-height: 30px;
}
.p-header-ul{
    float: right;
    margin: 0;
}
.p-header-ul .item{
    list-style: none;
    display: inline-block;
    float: left;
    text-align: right;

}
.p-header-ul .item a{
    display: inline-block;
    line-height: 30px;
    position: relative;
    padding:0 15px;
}

/* 
*  面包屑 ----
*
*/
.breadcrumb{
    margin-top: 8px;
    background-color: #fff;
    font-size: 12px;
}
.breadcrumb > .active{
    color: #1b8bcc;
}

.breadcrumb .iconfont{
    font-size: 12px;
    padding-right: 3px;
}
/* 
*  ----tab ----
*
*/
.tab-box.warehouse{
    padding: 20px 40px; 
}
.tab-box.warehouse .icon{
    font-size: 20px;
    position: absolute;
    top: 19px;
    left: 22px;
}

.txt-row p{
    margin: 0;
    position: relative;
    top: 7px;
    line-height: 12px;
}

.nav > li > a{
    padding: 10px 45px;
   
    border-radius: 0;
}
.nav-tabs > li > a{
    height: 60px;
    font-size: 12px;
    line-height: 40px;
    border: none;
    border-bottom: solid 1px #eee;
    background-color: transparent;
}

.nav > li > a:focus,
.nav > li > a:hover{
 background-color: transparent;
}
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover
{
    border: none;
    border-bottom: solid 1px #eee;
    background-color: transparent;

}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    color: #1b8bcc;
    border:none;
    background-color: transparent;
    border-bottom: solid 2px #1b8bcc;

}

/* 按钮 */

.btn-p-radius,
.btn-d-radius{
    padding: 10px 40px;
    margin:0 10px;
    border-radius: 30px;
    box-shadow: 0 8px 12px #9ccde9;
}
.btn-radius{
    border-radius: 30px!important;
}
.btn-d-radius
{
    box-shadow: none;
}

.form-group{
    margin-bottom: 40px;
}
.help-block{
    font-size: 12px;
}



/* 
*  ---- input ----
*
*/
.form-control-xs{
    width: 60px;
}
.form-control-sm{
    width: 120px;
}
.form-control-m{
    width: 240px;
}
.form-control-lg{
    width: 480px;
}
.input-group-btn:last-child > .btn, 
.input-group-btn:last-child > .btn-group{
    background-color:#eee; 
}
.form-horizontal .form-group .txt{
    padding-top: 7px;
    display: inline-block;
}
.form-control-inline{
    display: inline-block;
    padding-right: 10px;
}

/* 
*  ---- 边栏 ----
*
*/
.p-sidebar{
    width: 260px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    margin: 10px 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0,.3)
}
.p-sidebar ul{
    margin: 20px 0;
}

.p-sidebar li a{
    padding: 0 30px;
    display: block;
     height: 60px;
     line-height: 60px;
     position: relative;
}
.p-sidebar li.selected a{
    color: #1b8bcc;
}
.p-sidebar li.selected a::before{
    content: "";
    height: 40px;
    position: absolute;
    top: 10px;
    left: 0;
   
    display: inline-block;
    border-left: solid 2px #1b8bcc;
}
.p-sidebar li .iconfont{
    padding-right: 3px;
}


.p-sidebar .label-warning{
    border-radius: 30px;
    position: relative;
    top: -1px;
    margin-left: 10px;
    padding: 1px 8px;
    background: #ffea01;
    color: #2b2b2b
}


/* 
*  ---- page: 收货地址 ----
*
*/

.ex-identity{
    position: absolute;
    right: 30px;
    top: 20px;
}
/* 
*  ---- page 翻页 ----
*
*/
.pagebox{
    font-size: 12px;
    position: relative;
    padding-top: 30px;
    height: 80px;
    color: #5e5e5e;
  
}
.pagination > li > a, .pagination > li > span{
    padding: 6px 10px;
}
.pagebox.gray{

    background-color: #f8f8f8;
    border-bottom: solid 1px #ddd;
    padding: 20px;
    padding-top: 30px;
}
.pagebox .pageInfo{
    float: left;
}
.pagebox .pageNav{
    display: inline-block;
    position: relative;
    top: -28px;
    right: -20px;
}
.pagination > li > a, 
.pagination > li > span{
    margin-left: 3px;
}
.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a, 
.pagination > li:last-child > span{
    border-radius:0
}
.pagebox .pagination{
    display: inline-block;
    /* float: left; */
}
.pagination > .active > a, 
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span, 
.pagination > .active > span:focus,
.pagination > .active > span:hover{
    background-color: #1b8bcc;
    border-color: #1b8bcc;
}
.page-position{
    position: relative;
    top: -30px;
    padding: 10px;
}
.pageTz{
    position: relative;
    top: -6px;
    float: right;
    right: 0;
    display: inline-block;
}
.pagebox .form-control{
    border-radius: 0;
    width: 40px;
    height: 30px;
    line-height: 30px;
}
.pagebox .btn{
    font-size: 12px;
    border-radius: 0;
}
/* 
*  ---- table 列表 ----
*
*/
.table-list.table{
    margin-bottom: 0;
}
.table-list > thead > tr > th{
    background-color: #f8f8f8;
    vertical-align: middle;
}
.table-list > thead > tr > th label{
    margin-bottom: 0;
    cursor: pointer;
}
.table-list > thead > tr,
.table-list > tbody > tr
 {
    border: solid 1px #eee;
}
.table-list > tbody > tr >td{
    vertical-align: middle;
}
.table-list > tbody > tr >td:first-child{
    padding-left: 20px;
}


/* 
* ---- modal ----
*
*/

